In [ ]:
import polars as pl
from record_consolidation.graphs import (
    unconsolidated_df_to_subgraphs,
)
from record_consolidation.subgraph_post_processing.specific_algs.deprecated__split_high_betweenness import (
    draw_graph,
)
import networkx as nx

from record_consolidation.subgraph_post_processing.specific_algs.partition_via_cluster_ensemble import (
    partition_subgraphs,
)

from record_consolidation.subgraph_post_processing.specific_algs.specific_partitioning_algs import (
    partition_via_louvain,
)

from functools import partial
from record_consolidation.graphs import atomize_records

from record_consolidation.df_consolidations import (
    normalize_subset,
)

/Users/mgaster/repos/record-consolidation/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
from typing import Iterable
from warnings import warn


def extract_specific_name_subgraph(
    connected_subgs: Iterable[nx.Graph], name: str
) -> nx.Graph:
    collected: list[nx.Graph] = []
    for subg in connected_subgs:
        for n in subg.nodes.data():
            if name.lower() in (n[0]).lower():
                collected.append(subg)
    collected = set(collected)
    if len(collected) == 0:
        raise ValueError(f"Could not find {name=} in connected_subgs.")
    if len(collected) > 1:
        alert_str = f"{len(collected)} subgraphs have {name=}.\n{[len(subg.nodes) for subg in collected]=}"
        warn(alert_str)
        return max(collected, key=lambda g: len(g.nodes))

        # raise ValueError(alert_str)
    return tuple(collected)[0]

In [3]:
# votes: pl.DataFrame = access_db_table("raw_output", "votes")
votes: pl.DataFrame = pl.read_parquet("raw_votes.parquet")
COMPANY_COLS = pl.col(["issuer_name", "cusip", "isin", "figi"])
COMPANY_COLS_L = ["issuer_name", "cusip", "isin", "figi"]
MEETING_COLS = pl.col(["issuer_name", "meeting_date", "cusip", "isin", "figi"])

In [4]:
# from record_consolidation.utils.polars_df import remove_string_nulls_and_uppercase


# raw_subgraphs = tuple(
#     unconsolidated_df_to_subgraphs(
#         votes.select(COMPANY_COLS),
#         connected_subgraphs_postprocessor=None,
#         pre_processing_fnc=remove_string_nulls_and_uppercase,
#     )
# )
# mattel_subg = extract_specific_name_subgraph(raw_subgraphs, "mattel")
# draw_graph(mattel_subg, 7)

In [5]:
# from record_consolidation.graphs import extract_consolidation_mapping_from_subgraphs
# from record_consolidation.utils.polars_df import remove_string_nulls_and_uppercase


# canonical_mapping = extract_consolidation_mapping_from_subgraphs(
#     unconsolidated_df_to_subgraphs(
#         votes.select(COMPANY_COLS),
#         connected_subgraphs_postprocessor=partition_companies_graph_where_necessary,
#         pre_processing_fnc=remove_string_nulls_and_uppercase,
#     )
# )

In [7]:
from record_consolidation.utils.polars_df import remove_string_nulls_and_uppercase


# normed5_intra = normalize_subset(
#     votes,
#     connected_subgraphs_postprocessor=partition_subgraphs,
#     cols_to_normalize=["issuer_name", "cusip", "isin", "figi"],
#     pre_processing_fnc_before_clustering=remove_string_nulls_and_uppercase,
#     consolidate_twice=True,
# )
normed5_NO_intra = normalize_subset(
    votes,
    connected_subgraphs_postprocessor=partition_subgraphs,
    id_colname="company_id",
    cols_to_normalize=["issuer_name", "cusip", "isin", "figi"],
    pre_processing_fnc_before_clustering=remove_string_nulls_and_uppercase,
    consolidate_twice=False,
)

Post-processing subgraphs.

7615it [00:03, 2520.76it/s]

Post-processing subgraphs.

7615it [00:01, 4041.71it/s]

shape: (6, 16)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ isin_issu ┆ cusip_iss ┆ figi_issu ┆ issuer_na ┆ … ┆ issuer_na ┆ cusip     ┆ isin      ┆ figi     │
│ er_name   ┆ uer_name  ┆ er_name   ┆ me_cusip  ┆   ┆ me        ┆ ---       ┆ ---       ┆ ---      │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ str       ┆ str       ┆ str      │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ str       ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ US5949181 ┆ null      ┆ BBG000BPH ┆ null      ┆ … ┆ MICROSOFT ┆ 594918104 ┆ null      ┆ null     │
│ 045       ┆           ┆ 459       ┆           ┆   ┆ CORPORATI ┆           ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆ ON        ┆           ┆           ┆          │
│ US5949181 ┆ null      ┆ BBG000BPH ┆ null      ┆ … ┆ MICROSOFT ┆ 594918104 ┆ null      ┆ BBG000BP │
│ 045       ┆           ┆ 459       ┆           ┆   ┆ CORPORATI ┆           ┆           ┆ H459     │
│           ┆           ┆           ┆           ┆   ┆ ON        ┆           ┆           ┆          │
│ US5949181 ┆ null      ┆ BBG000BPH ┆ null      ┆ … ┆ MICROSOFT ┆ 594918104 ┆ US5949181 ┆ null     │
│ 045       ┆           ┆ 459       ┆           ┆   ┆ CORPORATI ┆           ┆ 045       ┆          │
│           ┆           ┆           ┆           ┆   ┆ ON        ┆           ┆           ┆          │
│ US5949181 ┆ null      ┆ BBG000BPH ┆ null      ┆ … ┆ MICROSOFT ┆ null      ┆ US5949181 ┆ null     │
│ 045       ┆           ┆ 459       ┆           ┆   ┆ CORPORATI ┆           ┆ 045       ┆          │
│           ┆           ┆           ┆           ┆   ┆ ON        ┆           ┆           ┆          │
│ US5949181 ┆ null      ┆ BBG000BPH ┆ null      ┆ … ┆ MICROSOFT ┆ 594918104 ┆ US5949181 ┆ BBG000BP │
│ 045       ┆           ┆ 459       ┆           ┆   ┆ CORPORATI ┆           ┆ 045       ┆ H459     │
│           ┆           ┆           ┆           ┆   ┆ ON        ┆           ┆           ┆          │
│ US5949181 ┆ null      ┆ BBG000BPH ┆ null      ┆ … ┆ MICROSOFT ┆ null      ┆ null      ┆ null     │
│ 045       ┆           ┆ 459       ┆           ┆   ┆ CORPORATI ┆           ┆           ┆          │
│           ┆           ┆           ┆           ┆   ┆ ON        ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘
company_id

In [19]:
normed5_NO_intra.group_by("company_id").agg(pl.col("cusip").n_unique())["cusip"].max()

1

In [7]:
jpmorgans = normed5_intra.filter(
    pl.col("issuer_name").str.contains("(?i)jpmorgan")
).sort(["accession", "order_recorded"], descending=False)
jpmorgans.write_csv("jpmorgans.csv")
jpmorgans["meeting_date"].value_counts(sort=True)

shape: (6, 2)
┌──────────────┬───────┐
│ meeting_date ┆ count │
│ ---          ┆ ---   │
│ str          ┆ u32   │
╞══════════════╪═══════╡
│ 2024-05-21   ┆ 2641  │
│ 2024-05-22   ┆ 9     │
│ 2024-05-20   ┆ 4     │
│ 0024-05-20   ┆ 1     │
│ 2024-05-24   ┆ 1     │
│ 2134-07-25   ┆ 1     │
└──────────────┴───────┘

In [8]:
jpmorgans.write_csv("jpmorgans.csv")

In [9]:
jpmorgans["order_recorded"].value_counts(sort=True).head(30).to_pandas()

    order_recorded  count
0                0    787
1                1    132
2                2    106
3                3     94
4                4     92
5                5     92
6                6     91
7                7     91
8                8     91
9                9     91
10              10     91
11              11     89
12              12     89
13              13     89
14              14     89
15              15     89
16              16     89
17              17     89
18              18     89
19              19     88
20              20      9
21              21      3
22              22      3
23              23      3
24              24      3
25              25      3
26              26      3
27              27      2
28              28      2
29              29      2

In [10]:
for col in COMPANY_COLS_L:
    print(col)
    new_nulls = votes[col].is_not_null() & normed5_intra[col].is_null()
    print(votes.filter(new_nulls))

issuer_name
shape: (0, 24)
┌─────────────┬───────┬──────┬──────┬───┬───────────┬────────────┬─────────┬──────────────┐
│ issuer_name ┆ cusip ┆ isin ┆ figi ┆ … ┆ filer_cik ┆ filer_name ┆ fund_id ┆ fund_id_type │
│ ---         ┆ ---   ┆ ---  ┆ ---  ┆   ┆ ---       ┆ ---        ┆ ---     ┆ ---          │
│ str         ┆ str   ┆ str  ┆ str  ┆   ┆ str       ┆ str        ┆ str     ┆ str          │
╞═════════════╪═══════╪══════╪══════╪═══╪═══════════╪════════════╪═════════╪══════════════╡
└─────────────┴───────┴──────┴──────┴───┴───────────┴────────────┴─────────┴──────────────┘
cusip
shape: (0, 24)
┌─────────────┬───────┬──────┬──────┬───┬───────────┬────────────┬─────────┬──────────────┐
│ issuer_name ┆ cusip ┆ isin ┆ figi ┆ … ┆ filer_cik ┆ filer_name ┆ fund_id ┆ fund_id_type │
│ ---         ┆ ---   ┆ ---  ┆ ---  ┆   ┆ ---       ┆ ---        ┆ ---     ┆ ---          │
│ str         ┆ str   ┆ str  ┆ str  ┆   ┆ str       ┆ str        ┆ str     ┆ str          │
╞═════════════╪═══════╪══════╪══════╪═══╪═══════════╪════════════╪═════════╪══════════════╡
└─────────────┴───────┴──────┴──────┴───┴───────────┴────────────┴─────────┴──────────────┘
isin
shape: (0, 24)
┌─────────────┬───────┬──────┬──────┬───┬───────────┬────────────┬─────────┬──────────────┐
│ issuer_name ┆ cusip ┆ isin ┆ figi ┆ … ┆ filer_cik ┆ filer_name ┆ fund_id ┆ fund_id_type │
│ ---         ┆ ---   ┆ ---  ┆ ---  ┆   ┆ ---       ┆ ---        ┆ ---     ┆ ---          │
│ str         ┆ str   ┆ str  ┆ str  ┆   ┆ str       ┆ str        ┆ str     ┆ str          │
╞═════════════╪═══════╪══════╪══════╪═══╪═══════════╪════════════╪═════════╪══════════════╡
└─────────────┴───────┴──────┴──────┴───┴───────────┴────────────┴─────────┴──────────────┘
figi
shape: (0, 24)
┌─────────────┬───────┬──────┬──────┬───┬───────────┬────────────┬─────────┬──────────────┐
│ issuer_name ┆ cusip ┆ isin ┆ figi ┆ … ┆ filer_cik ┆ filer_name ┆ fund_id ┆ fund_id_type │
│ ---         ┆ ---   ┆ ---  ┆ ---  ┆   ┆ ---       ┆ ---        ┆ ---     ┆ ---          │
│ str         ┆ str   ┆ str  ┆ str  ┆   ┆ str       ┆ str        ┆ str     ┆ str          │
╞═════════════╪═══════╪══════╪══════╪═══╪═══════════╪════════════╪═════════╪══════════════╡
└─────────────┴───────┴──────┴──────┴───┴───────────┴────────────┴─────────┴──────────────┘

In [11]:
# older

display(
    votes.select(COMPANY_COLS.is_null().sum())
    / normed5_intra.select(pl.all().is_null().sum())
)

shape: (1, 4)
┌─────────────┬──────────┬───────────┬──────────┐
│ issuer_name ┆ cusip    ┆ isin      ┆ figi     │
│ ---         ┆ ---      ┆ ---       ┆ ---      │
│ f64         ┆ f64      ┆ f64       ┆ f64      │
╞═════════════╪══════════╪═══════════╪══════════╡
│ NaN         ┆ 4.743044 ┆ 96.409019 ┆ 1.513258 │
└─────────────┴──────────┴───────────┴──────────┘

In [12]:
# prev

display(
    votes.select(COMPANY_COLS.is_null().sum())
    / normed5_intra.select(pl.all().is_null().sum())
)

shape: (1, 4)
┌─────────────┬──────────┬───────────┬──────────┐
│ issuer_name ┆ cusip    ┆ isin      ┆ figi     │
│ ---         ┆ ---      ┆ ---       ┆ ---      │
│ f64         ┆ f64      ┆ f64       ┆ f64      │
╞═════════════╪══════════╪═══════════╪══════════╡
│ NaN         ┆ 4.743044 ┆ 96.409019 ┆ 1.513258 │
└─────────────┴──────────┴───────────┴──────────┘

In [13]:
display(
    votes.select(COMPANY_COLS.is_null().sum())
    / normed5_intra.select(pl.all().is_null().sum())
)

shape: (1, 4)
┌─────────────┬──────────┬───────────┬──────────┐
│ issuer_name ┆ cusip    ┆ isin      ┆ figi     │
│ ---         ┆ ---      ┆ ---       ┆ ---      │
│ f64         ┆ f64      ┆ f64       ┆ f64      │
╞═════════════╪══════════╪═══════════╪══════════╡
│ NaN         ┆ 4.743044 ┆ 96.409019 ┆ 1.513258 │
└─────────────┴──────────┴───────────┴──────────┘

In [14]:
votes["issuer_name"].n_unique()

19277

In [15]:
normed5_intra["issuer_name"].value_counts(sort=True).head(30).to_series().to_list()

['MICROSOFT CORPORATION',
 'THE WALT DISNEY COMPANY',
 'AMAZON.COM, INC.',
 'ALPHABET INC.',
 'JPMORGAN CHASE & CO.',
 'THE PROCTER & GAMBLE COMPANY',
 'ORACLE CORPORATION',
 'CISCO SYSTEMS, INC.',
 'APPLE INC.',
 'JOHNSON & JOHNSON',
 'PEPSICO, INC.',
 'VISA INC.',
 'CHEVRON CORPORATION',
 'MASTERCARD INCORPORATED',
 'ABBVIE INC.',
 'BANK OF AMERICA CORPORATION',
 'MERCK & CO., INC.',
 'CHUBB LIMITED',
 'THE HOME DEPOT, INC.',
 'NVIDIA CORPORATION',
 'TE CONNECTIVITY LTD.',
 'EXXON MOBIL CORPORATION',
 'META PLATFORMS, INC.',
 'UNITEDHEALTH GROUP INCORPORATED',
 'VERIZON COMMUNICATIONS INC.',
 'THE COCA-COLA COMPANY',
 'SALESFORCE, INC.',
 "MCDONALD'S CORPORATION",
 'WELLS FARGO & COMPANY',
 'ADOBE INC.']

In [16]:
from record_consolidation.utils.polars_df import remove_string_nulls_and_uppercase


atomic = atomize_records(
    votes.select(COMPANY_COLS),
    partition_subgraphs,
    pre_processing_fnc=remove_string_nulls_and_uppercase,
)

Post-processing subgraphs.

7615it [00:02, 2621.26it/s]

In [17]:
atomic

shape: (7_690, 4)
┌──────────────┬─────────────────────────────────┬───────────┬──────┐
│ isin         ┆ issuer_name                     ┆ cusip     ┆ figi │
│ ---          ┆ ---                             ┆ ---       ┆ ---  │
│ str          ┆ str                             ┆ str       ┆ str  │
╞══════════════╪═════════════════════════════════╪═══════════╪══════╡
│ null         ┆ null                            ┆ 74915M209 ┆ null │
│ null         ┆ 1ST CAPITAL BANK                ┆ null      ┆ null │
│ null         ┆ ?FIRST INTERSTATE BANCSYSTEM I… ┆ null      ┆ null │
│ null         ┆ A SPAC II ACQUISITION CORP.     ┆ G0543H125 ┆ null │
│ null         ┆ ABACUS GROUP                    ┆ Q0015N260 ┆ null │
│ …            ┆ …                               ┆ …         ┆ …    │
│ ZAE000302618 ┆ AVENG LTD                       ┆ S0805F160 ┆ null │
│ ZAE000314084 ┆ OUTSURANCE GROUP LIMITED        ┆ S6815J126 ┆ null │
│ ZAE000322095 ┆ NAMPAK LTD                      ┆ S5326R122 ┆ null │
│ ZAE000325783 ┆ NASPERS LTD.                    ┆ S53435111 ┆ null │
│ ZZZZ00198301 ┆ FIDELITY COLCHESTER STREET TRU… ┆ null      ┆ null │
└──────────────┴─────────────────────────────────┴───────────┴──────┘

In [18]:
names_comparison = pl.concat(
    [
        votes.select("issuer_name"),
        normed5_intra.select("issuer_name").rename(
            {"issuer_name": "normed_issuer_name"}
        ),
    ],
    how="horizontal",
)
names_comparison

shape: (778_944, 2)
┌─────────────────────────────────┬─────────────────────────────────┐
│ issuer_name                     ┆ normed_issuer_name              │
│ ---                             ┆ ---                             │
│ str                             ┆ str                             │
╞═════════════════════════════════╪═════════════════════════════════╡
│ CANADIAN PACIFIC KANSAS CITY L… ┆ CANADIAN PACIFIC KANSAS CITY L… │
│ AAON, INC.                      ┆ AAON, INC.                      │
│ AMAZON.COM, INC.                ┆ AMAZON.COM, INC.                │
│ AMPHENOL CORPORATION            ┆ AMPHENOL CORPORATION            │
│ MICROSOFT CORPORATION           ┆ MICROSOFT CORPORATION           │
│ …                               ┆ …                               │
│ VERALTO CORPORATION             ┆ VERALTO CORPORATION             │
│ ANALOG DEVICES, INC.            ┆ ANALOG DEVICES, INC.            │
│ EDITAS MEDICINE, INC.           ┆ EDITAS MEDICINE, INC.           │
│ LOCKHEED MARTIN CORPORATION     ┆ LOCKHEED MARTIN CORPORATION     │
│ INTUIT INC.                     ┆ INTUIT INC.                     │
└─────────────────────────────────┴─────────────────────────────────┘

In [19]:
names_comparison.filter(pl.col("issuer_name").str.contains("(?i)conoco phillips"))

shape: (55, 2)
┌──────────────────┬────────────────────┐
│ issuer_name      ┆ normed_issuer_name │
│ ---              ┆ ---                │
│ str              ┆ str                │
╞══════════════════╪════════════════════╡
│ Conoco Phillips  ┆ CONOCOPHILLIPS     │
│ Conoco Phillips  ┆ CONOCOPHILLIPS     │
│ Conoco Phillips  ┆ CONOCOPHILLIPS     │
│ Conoco Phillips  ┆ CONOCOPHILLIPS     │
│ Conoco Phillips  ┆ CONOCOPHILLIPS     │
│ …                ┆ …                  │
│ CONOCO PHILLIPS  ┆ CONOCOPHILLIPS     │
│ CONOCO PHILLIPS  ┆ CONOCOPHILLIPS     │
│ CONOCO PHILLIPS  ┆ CONOCOPHILLIPS     │
│ CONOCO PHILLIPS  ┆ CONOCOPHILLIPS     │
│ CONOCO PHILLIPS  ┆ CONOCOPHILLIPS     │
└──────────────────┴────────────────────┘

In [20]:
names_comparison.filter(
    pl.col("normed_issuer_name") == pl.lit("MICROSOFT CORPORATION")
)["issuer_name"].value_counts(sort=True).with_columns(
    (pl.col("count") * 100 / pl.col("count").sum()).round(1).alias("%")
).to_pandas()

                     issuer_name  count     %
0          MICROSOFT CORPORATION   2555  54.0
1          Microsoft Corporation   1795  37.9
2                 Microsoft Corp    226   4.8
3         MICROSOFT\nCORPORATION     64   1.4
4                Microsoft Corp.     60   1.3
5                 MICROSOFT CORP     13   0.3
6                      Microsoft      6   0.1
7                           MSFT      3   0.1
8                      MICROSOFT      2   0.0
9      MICROSOFT CORPORATION COM      2   0.0
10          MICROSOFTCORPORATION      2   0.0
11  Microsoft Corporation (MSFT)      2   0.0
12            MICROSOFT CORP COM      1   0.0
13      Microsoft Annual Meeting      1   0.0
14          McKesson Corporation      1   0.0
15    Mitsubishi Financial Group      1   0.0

In [21]:
normed5_intra.filter(
    (pl.col("issuer_name") == pl.lit("MICROSOFT CORPORATION"))
    & (pl.col("cusip").is_null())
)

shape: (0, 24)
┌─────────────┬───────┬──────┬──────┬───┬───────────┬────────────┬─────────┬──────────────┐
│ issuer_name ┆ cusip ┆ isin ┆ figi ┆ … ┆ filer_cik ┆ filer_name ┆ fund_id ┆ fund_id_type │
│ ---         ┆ ---   ┆ ---  ┆ ---  ┆   ┆ ---       ┆ ---        ┆ ---     ┆ ---          │
│ str         ┆ str   ┆ str  ┆ str  ┆   ┆ str       ┆ str        ┆ str     ┆ str          │
╞═════════════╪═══════╪══════╪══════╪═══╪═══════════╪════════════╪═════════╪══════════════╡
└─────────────┴───────┴──────┴──────┴───┴───────────┴────────────┴─────────┴──────────────┘

In [22]:
from record_consolidation import extract_normalized_atomic

ImportError: cannot import name 'extract_normalized_atomic' from 'record_consolidation' (/Users/mgaster/repos/record-consolidation/src/record_consolidation/__init__.py)

In [38]:
tom_records = pl.DataFrame(
    {
        "name": ["Tom"] * 10,
        "id": [12] * 7 + [None, 0, 12],
        "age": [50] * 5 + [51] * 5,
        "year_recorded": [2023] * 5 + [2024] * 5,
    }
)
print(tom_records)
normed_on_all = normalize_subset(
    tom_records.select(pl.col(["name", "id"])),
    cols_to_normalize="all",
    connected_subgraphs_postprocessor=partial(
        partition_subgraphs,
        verbose=False,
        verbose_within_partitioning_algs=False,
    ),
    pre_processing_fnc_before_clustering=None,
)
print(normed_on_all)
print(
    normalize_subset(
        tom_records,
        cols_to_normalize=["name", "id"],
        connected_subgraphs_postprocessor=partial(
            partition_subgraphs,
            verbose=False,
            verbose_within_partitioning_algs=False,
        ),
        pre_processing_fnc_before_clustering=None,
    )
)

print(
    extract_normalized_atomic(
        tom_records.select(["name", "id"]),
        pre_processing_fnc=None,
        connected_subgraphs_postprocessor=None,
    )
)

shape: (10, 4)
┌──────┬──────┬─────┬───────────────┐
│ name ┆ id   ┆ age ┆ year_recorded │
│ ---  ┆ ---  ┆ --- ┆ ---           │
│ str  ┆ i64  ┆ i64 ┆ i64           │
╞══════╪══════╪═════╪═══════════════╡
│ Tom  ┆ 12   ┆ 50  ┆ 2023          │
│ Tom  ┆ 12   ┆ 50  ┆ 2023          │
│ Tom  ┆ 12   ┆ 50  ┆ 2023          │
│ Tom  ┆ 12   ┆ 50  ┆ 2023          │
│ Tom  ┆ 12   ┆ 50  ┆ 2023          │
│ Tom  ┆ 12   ┆ 51  ┆ 2024          │
│ Tom  ┆ 12   ┆ 51  ┆ 2024          │
│ Tom  ┆ null ┆ 51  ┆ 2024          │
│ Tom  ┆ 0    ┆ 51  ┆ 2024          │
│ Tom  ┆ 12   ┆ 51  ┆ 2024          │
└──────┴──────┴─────┴───────────────┘
Post-processing subgraphs.

1it [00:00, 71.35it/s]

Post-processing subgraphs.

1it [00:00, 2087.76it/s]

shape: (10, 2)
┌──────┬─────┐
│ name ┆ id  │
│ ---  ┆ --- │
│ str  ┆ i64 │
╞══════╪═════╡
│ Tom  ┆ 12  │
│ Tom  ┆ 12  │
│ Tom  ┆ 12  │
│ Tom  ┆ 12  │
│ Tom  ┆ 12  │
│ Tom  ┆ 12  │
│ Tom  ┆ 12  │
│ Tom  ┆ 12  │
│ Tom  ┆ 12  │
│ Tom  ┆ 12  │
└──────┴─────┘
Post-processing subgraphs.

1it [00:00, 2109.81it/s]

Post-processing subgraphs.

1it [00:00, 1904.77it/s]

shape: (10, 4)
┌──────┬─────┬─────┬───────────────┐
│ name ┆ id  ┆ age ┆ year_recorded │
│ ---  ┆ --- ┆ --- ┆ ---           │
│ str  ┆ i64 ┆ i64 ┆ i64           │
╞══════╪═════╪═════╪═══════════════╡
│ Tom  ┆ 12  ┆ 50  ┆ 2023          │
│ Tom  ┆ 12  ┆ 50  ┆ 2023          │
│ Tom  ┆ 12  ┆ 50  ┆ 2023          │
│ Tom  ┆ 12  ┆ 50  ┆ 2023          │
│ Tom  ┆ 12  ┆ 50  ┆ 2023          │
│ Tom  ┆ 12  ┆ 51  ┆ 2024          │
│ Tom  ┆ 12  ┆ 51  ┆ 2024          │
│ Tom  ┆ 12  ┆ 51  ┆ 2024          │
│ Tom  ┆ 12  ┆ 51  ┆ 2024          │
│ Tom  ┆ 12  ┆ 51  ┆ 2024          │
└──────┴─────┴─────┴───────────────┘
shape: (1, 4)
┌─────┬───────────────┬──────┬─────┐
│ age ┆ year_recorded ┆ name ┆ id  │
│ --- ┆ ---           ┆ ---  ┆ --- │
│ i64 ┆ i64           ┆ str  ┆ i64 │
╞═════╪═══════════════╪══════╪═════╡
│ 50  ┆ 2023          ┆ Tom  ┆ 12  │
└─────┴───────────────┴──────┴─────┘

In [25]:
normed5_intra.filter(issuer_name="MICROSOFT CORPORATION").select(COMPANY_COLS).unique()

shape: (2, 4)
┌───────────────────────┬───────────┬──────────────┬──────────────┐
│ issuer_name           ┆ cusip     ┆ isin         ┆ figi         │
│ ---                   ┆ ---       ┆ ---          ┆ ---          │
│ str                   ┆ str       ┆ str          ┆ str          │
╞═══════════════════════╪═══════════╪══════════════╪══════════════╡
│ MICROSOFT CORPORATION ┆ 58155Q103 ┆ US58155Q1031 ┆ BBG000BLNPB7 │
│ MICROSOFT CORPORATION ┆ 594918104 ┆ US5949181045 ┆ BBG000BPH459 │
└───────────────────────┴───────────┴──────────────┴──────────────┘

In [53]:
names_comparison.filter(
    pl.col("normed_issuer_name") == "MICROSOFT CORPORATION"
).group_by("issuer_name").agg(
    pl.col("normed_issuer_name").unique(),
    pl.len().alias("count"),
).with_columns(
    pl.col("normed_issuer_name").list[0],
    (pl.col("count") * 100 / pl.col("count").sum()).alias("%").round(1),
).sort(
    "count", descending=True
).to_pandas()

                     issuer_name     normed_issuer_name  count     %
0          MICROSOFT CORPORATION  MICROSOFT CORPORATION   2555  54.0
1          Microsoft Corporation  MICROSOFT CORPORATION   1795  37.9
2                 Microsoft Corp  MICROSOFT CORPORATION    226   4.8
3         MICROSOFT\nCORPORATION  MICROSOFT CORPORATION     64   1.4
4                Microsoft Corp.  MICROSOFT CORPORATION     60   1.3
5                 MICROSOFT CORP  MICROSOFT CORPORATION     13   0.3
6                      Microsoft  MICROSOFT CORPORATION      6   0.1
7                           MSFT  MICROSOFT CORPORATION      3   0.1
8           MICROSOFTCORPORATION  MICROSOFT CORPORATION      2   0.0
9      MICROSOFT CORPORATION COM  MICROSOFT CORPORATION      2   0.0
10                     MICROSOFT  MICROSOFT CORPORATION      2   0.0
11  Microsoft Corporation (MSFT)  MICROSOFT CORPORATION      2   0.0
12          McKesson Corporation  MICROSOFT CORPORATION      1   0.0
13    Mitsubishi Financial Group  MICROSOFT CORPORATION      1   0.0
14      Microsoft Annual Meeting  MICROSOFT CORPORATION      1   0.0
15            MICROSOFT CORP COM  MICROSOFT CORPORATION      1   0.0

In [29]:
normed5_NO_intra.filter(issuer_name="MICROSOFT CORPORATION").select(
    COMPANY_COLS
).to_struct().value_counts()

shape: (2, 2)
┌─────────────────────────────────┬───────┐
│                                 ┆ count │
│ ---                             ┆ ---   │
│ struct[4]                       ┆ u32   │
╞═════════════════════════════════╪═══════╡
│ {"MICROSOFT CORPORATION",null,… ┆ 30    │
│ {"MICROSOFT CORPORATION","5949… ┆ 4703  │
└─────────────────────────────────┴───────┘

In [55]:
(30 / 4733) * 100

0.6338474540460596

In [59]:
lens = votes.group_by("issuer_name").agg(pl.len()).sort("len", descending=True)

In [66]:
lens.filter(
    pl.col("len").is_between(
        50,
        75,
    )
)

shape: (1_024, 2)
┌─────────────────────────────────┬─────┐
│ issuer_name                     ┆ len │
│ ---                             ┆ --- │
│ str                             ┆ u32 │
╞═════════════════════════════════╪═════╡
│ The ODP Corporation             ┆ 75  │
│ London Stock Exchange Group pl… ┆ 75  │
│ Mohawk Industries, Inc.         ┆ 75  │
│ BeiGene, Ltd.                   ┆ 75  │
│ SUNGROW POWER SUPPLY CO LTD     ┆ 75  │
│ …                               ┆ …   │
│ JOHN BEAN TECHNOLOGIES CORPORA… ┆ 50  │
│ First American Financial Corpo… ┆ 50  │
│ Apogee Enterprises, Inc.        ┆ 50  │
│ MillerKnoll, Inc.               ┆ 50  │
│ Contemporary Amperex Technolog… ┆ 50  │
└─────────────────────────────────┴─────┘

In [67]:
for name in (
    # normed5["issuer_name"].value_counts(sort=True).head(30).to_series().to_list()
    [
        "odp",
        "beigene",
        "sungrow",
        "addus homecare",
        "microsoft",
        "disney",
        "amazon",
        "jpmorgan",
        "procter",
        "oracle",
        "apple",
        "visa",
        "exxon",
        "chevron",
        "meta platform",
        "air transport",
        "bank of america",
        "blackrock",
        "suncor",
        "conoco",
        "phillips 66",
    ]
):
    print("*" * 60, name.upper(), "*" * 60)
    t_unnormalized = (
        votes.select(COMPANY_COLS)
        .filter(pl.col("issuer_name").str.contains(f"(?i){name}"))
        .group_by("issuer_name")
        .agg(pl.len(), pl.all().unique())
        .with_columns((pl.col("len") * 100 / pl.col("len").sum()).alias("% of obs"))
        .sort("len", descending=True)
    )
    print(f"Un-Normalized (n={t_unnormalized["len"].sum()})")
    display(t_unnormalized)

    t_intra = (
        normed5_intra.select(COMPANY_COLS)
        .filter(pl.col("issuer_name").str.contains(f"(?i){name}"))
        .group_by("issuer_name")
        .agg(pl.len(), pl.all().unique())
        .with_columns((pl.col("len") * 100 / pl.col("len").sum()).alias("% of obs"))
        .sort("len", descending=True)
    )
    print(f"Normalized -- INTRA (n={t_intra["len"].sum()})")
    display(t_intra)

    t = (
        normed5_NO_intra.select(COMPANY_COLS)
        .filter(pl.col("issuer_name").str.contains(f"(?i){name}"))
        .group_by("issuer_name")
        .agg(pl.len(), pl.all().unique())
        .with_columns((pl.col("len") * 100 / pl.col("len").sum()).alias("% of obs"))
        .sort("len", descending=True)
    )
    print(f"Normalized -- NO INTRA (n={t["len"].sum()})")
    display(t)

    consolidation_fodder = (
        names_comparison.filter(
            pl.col("normed_issuer_name").str.contains(f"(?i){name}")
        )
        .select("issuer_name")
        .to_series()
        .value_counts(sort=True)
    )
    print("Consolidation Fodder:")
    display(consolidation_fodder.to_pandas())

************************************************************ ODP ************************************************************
Un-Normalized (n=132)

shape: (3, 6)
┌─────────────────────┬─────┬─────────────────────┬────────────────────────┬───────────┬───────────┐
│ issuer_name         ┆ len ┆ cusip               ┆ isin                   ┆ figi      ┆ % of obs  │
│ ---                 ┆ --- ┆ ---                 ┆ ---                    ┆ ---       ┆ ---       │
│ str                 ┆ u32 ┆ list[str]           ┆ list[str]              ┆ list[str] ┆ f64       │
╞═════════════════════╪═════╪═════════════════════╪════════════════════════╪═══════════╪═══════════╡
│ The ODP Corporation ┆ 75  ┆ ["88337F105"]       ┆ [null, "US88337F1057"] ┆ [null]    ┆ 56.818182 │
│ THE ODP CORPORATION ┆ 55  ┆ ["88337F105", null] ┆ ["US88337F1057", null] ┆ [null]    ┆ 41.666667 │
│ THE ODP CORP.       ┆ 2   ┆ ["88337F105"]       ┆ [null]                 ┆ [null]    ┆ 1.515152  │
└─────────────────────┴─────┴─────────────────────┴────────────────────────┴───────────┴───────────┘

Normalized -- INTRA (n=132)

shape: (1, 6)
┌─────────────────────┬─────┬───────────────┬──────────────────┬───────────┬──────────┐
│ issuer_name         ┆ len ┆ cusip         ┆ isin             ┆ figi      ┆ % of obs │
│ ---                 ┆ --- ┆ ---           ┆ ---              ┆ ---       ┆ ---      │
│ str                 ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str] ┆ f64      │
╞═════════════════════╪═════╪═══════════════╪══════════════════╪═══════════╪══════════╡
│ THE ODP CORPORATION ┆ 132 ┆ ["88337F105"] ┆ ["US88337F1057"] ┆ [null]    ┆ 100.0    │
└─────────────────────┴─────┴───────────────┴──────────────────┴───────────┴──────────┘

Normalized -- NO INTRA (n=132)

shape: (1, 6)
┌─────────────────────┬─────┬───────────────┬──────────────────┬───────────┬──────────┐
│ issuer_name         ┆ len ┆ cusip         ┆ isin             ┆ figi      ┆ % of obs │
│ ---                 ┆ --- ┆ ---           ┆ ---              ┆ ---       ┆ ---      │
│ str                 ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str] ┆ f64      │
╞═════════════════════╪═════╪═══════════════╪══════════════════╪═══════════╪══════════╡
│ THE ODP CORPORATION ┆ 132 ┆ ["88337F105"] ┆ ["US88337F1057"] ┆ [null]    ┆ 100.0    │
└─────────────────────┴─────┴───────────────┴──────────────────┴───────────┴──────────┘

Consolidation Fodder:

           issuer_name  count
0  The ODP Corporation     75
1  THE ODP CORPORATION     55
2        THE ODP CORP.      2

************************************************************ BEIGENE ************************************************************
Un-Normalized (n=216)

shape: (2, 6)
┌───────────────┬─────┬───────────────────┬──────────────────────────┬───────────┬───────────┐
│ issuer_name   ┆ len ┆ cusip             ┆ isin                     ┆ figi      ┆ % of obs  │
│ ---           ┆ --- ┆ ---               ┆ ---                      ┆ ---       ┆ ---       │
│ str           ┆ u32 ┆ list[str]         ┆ list[str]                ┆ list[str] ┆ f64       │
╞═══════════════╪═════╪═══════════════════╪══════════════════════════╪═══════════╪═══════════╡
│ BEIGENE LTD   ┆ 141 ┆ ["07725L102",     ┆ ["US07725L1026", null,   ┆ [null]    ┆ 65.277778 │
│               ┆     ┆ "G1146Y101"]      ┆ "KYG114…                 ┆           ┆           │
│ BeiGene, Ltd. ┆ 75  ┆ ["07725L102",     ┆ [null, "US07725L1026", … ┆ [null]    ┆ 34.722222 │
│               ┆     ┆ "G1146Y101", nul… ┆ "KYG1…                   ┆           ┆           │
└───────────────┴─────┴───────────────────┴──────────────────────────┴───────────┴───────────┘

Normalized -- INTRA (n=216)

shape: (1, 6)
┌─────────────┬─────┬───────────────┬──────────────────┬───────────┬──────────┐
│ issuer_name ┆ len ┆ cusip         ┆ isin             ┆ figi      ┆ % of obs │
│ ---         ┆ --- ┆ ---           ┆ ---              ┆ ---       ┆ ---      │
│ str         ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str] ┆ f64      │
╞═════════════╪═════╪═══════════════╪══════════════════╪═══════════╪══════════╡
│ BEIGENE LTD ┆ 216 ┆ ["G1146Y101"] ┆ ["KYG1146Y1017"] ┆ [null]    ┆ 100.0    │
└─────────────┴─────┴───────────────┴──────────────────┴───────────┴──────────┘

Normalized -- NO INTRA (n=216)

shape: (1, 6)
┌─────────────┬─────┬───────────────┬──────────────────┬───────────┬──────────┐
│ issuer_name ┆ len ┆ cusip         ┆ isin             ┆ figi      ┆ % of obs │
│ ---         ┆ --- ┆ ---           ┆ ---              ┆ ---       ┆ ---      │
│ str         ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str] ┆ f64      │
╞═════════════╪═════╪═══════════════╪══════════════════╪═══════════╪══════════╡
│ BEIGENE LTD ┆ 216 ┆ ["G1146Y101"] ┆ ["KYG1146Y1017"] ┆ [null]    ┆ 100.0    │
└─────────────┴─────┴───────────────┴──────────────────┴───────────┴──────────┘

Consolidation Fodder:

     issuer_name  count
0    BEIGENE LTD    141
1  BeiGene, Ltd.     75

************************************************************ SUNGROW ************************************************************
Un-Normalized (n=92)

shape: (2, 6)
┌──────────────────────────────┬─────┬───────────────┬──────────────────┬───────────┬───────────┐
│ issuer_name                  ┆ len ┆ cusip         ┆ isin             ┆ figi      ┆ % of obs  │
│ ---                          ┆ --- ┆ ---           ┆ ---              ┆ ---       ┆ ---       │
│ str                          ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str] ┆ f64       │
╞══════════════════════════════╪═════╪═══════════════╪══════════════════╪═══════════╪═══════════╡
│ SUNGROW POWER SUPPLY CO LTD  ┆ 75  ┆ ["Y8211M102"] ┆ ["CNE1000018M7"] ┆ [null]    ┆ 81.521739 │
│ Sungrow Power Supply Co. Ltd ┆ 17  ┆ [null]        ┆ ["CNE1000018M7"] ┆ [null]    ┆ 18.478261 │
└──────────────────────────────┴─────┴───────────────┴──────────────────┴───────────┴───────────┘

Normalized -- INTRA (n=92)

shape: (1, 6)
┌─────────────────────────────┬─────┬───────────────┬──────────────────┬───────────┬──────────┐
│ issuer_name                 ┆ len ┆ cusip         ┆ isin             ┆ figi      ┆ % of obs │
│ ---                         ┆ --- ┆ ---           ┆ ---              ┆ ---       ┆ ---      │
│ str                         ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str] ┆ f64      │
╞═════════════════════════════╪═════╪═══════════════╪══════════════════╪═══════════╪══════════╡
│ SUNGROW POWER SUPPLY CO LTD ┆ 92  ┆ ["Y8211M102"] ┆ ["CNE1000018M7"] ┆ [null]    ┆ 100.0    │
└─────────────────────────────┴─────┴───────────────┴──────────────────┴───────────┴──────────┘

Normalized -- NO INTRA (n=92)

shape: (1, 6)
┌─────────────────────────────┬─────┬───────────────┬──────────────────┬───────────┬──────────┐
│ issuer_name                 ┆ len ┆ cusip         ┆ isin             ┆ figi      ┆ % of obs │
│ ---                         ┆ --- ┆ ---           ┆ ---              ┆ ---       ┆ ---      │
│ str                         ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str] ┆ f64      │
╞═════════════════════════════╪═════╪═══════════════╪══════════════════╪═══════════╪══════════╡
│ SUNGROW POWER SUPPLY CO LTD ┆ 92  ┆ ["Y8211M102"] ┆ ["CNE1000018M7"] ┆ [null]    ┆ 100.0    │
└─────────────────────────────┴─────┴───────────────┴──────────────────┴───────────┴──────────┘

Consolidation Fodder:

                    issuer_name  count
0   SUNGROW POWER SUPPLY CO LTD     75
1  Sungrow Power Supply Co. Ltd     17

************************************************************ ADDUS HOMECARE ************************************************************
Un-Normalized (n=162)

shape: (2, 6)
┌────────────────┬─────┬─────────────────────┬────────────────────────┬───────────┬───────────┐
│ issuer_name    ┆ len ┆ cusip               ┆ isin                   ┆ figi      ┆ % of obs  │
│ ---            ┆ --- ┆ ---                 ┆ ---                    ┆ ---       ┆ ---       │
│ str            ┆ u32 ┆ list[str]           ┆ list[str]              ┆ list[str] ┆ f64       │
╞════════════════╪═════╪═════════════════════╪════════════════════════╪═══════════╪═══════════╡
│ Addus HomeCare ┆ 125 ┆ ["006739106"]       ┆ ["US0067391062", null] ┆ [null]    ┆ 77.160494 │
│ Corporation    ┆     ┆                     ┆                        ┆           ┆           │
│ ADDUS HOMECARE ┆ 37  ┆ [null, "006739106"] ┆ ["US0067391062", null] ┆ [null]    ┆ 22.839506 │
│ CORPORATION    ┆     ┆                     ┆                        ┆           ┆           │
└────────────────┴─────┴─────────────────────┴────────────────────────┴───────────┴───────────┘

Normalized -- INTRA (n=162)

shape: (1, 6)
┌────────────────────────────┬─────┬───────────────┬──────────────────┬───────────┬──────────┐
│ issuer_name                ┆ len ┆ cusip         ┆ isin             ┆ figi      ┆ % of obs │
│ ---                        ┆ --- ┆ ---           ┆ ---              ┆ ---       ┆ ---      │
│ str                        ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str] ┆ f64      │
╞════════════════════════════╪═════╪═══════════════╪══════════════════╪═══════════╪══════════╡
│ ADDUS HOMECARE CORPORATION ┆ 162 ┆ ["006739106"] ┆ ["US0067391062"] ┆ [null]    ┆ 100.0    │
└────────────────────────────┴─────┴───────────────┴──────────────────┴───────────┴──────────┘

Normalized -- NO INTRA (n=162)

shape: (1, 6)
┌────────────────────────────┬─────┬───────────────┬──────────────────┬───────────┬──────────┐
│ issuer_name                ┆ len ┆ cusip         ┆ isin             ┆ figi      ┆ % of obs │
│ ---                        ┆ --- ┆ ---           ┆ ---              ┆ ---       ┆ ---      │
│ str                        ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str] ┆ f64      │
╞════════════════════════════╪═════╪═══════════════╪══════════════════╪═══════════╪══════════╡
│ ADDUS HOMECARE CORPORATION ┆ 162 ┆ ["006739106"] ┆ ["US0067391062"] ┆ [null]    ┆ 100.0    │
└────────────────────────────┴─────┴───────────────┴──────────────────┴───────────┴──────────┘

Consolidation Fodder:

                  issuer_name  count
0  Addus HomeCare Corporation    125
1  ADDUS HOMECARE CORPORATION     37

************************************************************ MICROSOFT ************************************************************
Un-Normalized (n=4729)

shape: (13, 6)
┌────────────────────┬──────┬────────────────┬────────────────────┬────────────────────┬───────────┐
│ issuer_name        ┆ len  ┆ cusip          ┆ isin               ┆ figi               ┆ % of obs  │
│ ---                ┆ ---  ┆ ---            ┆ ---                ┆ ---                ┆ ---       │
│ str                ┆ u32  ┆ list[str]      ┆ list[str]          ┆ list[str]          ┆ f64       │
╞════════════════════╪══════╪════════════════╪════════════════════╪════════════════════╪═══════════╡
│ MICROSOFT          ┆ 2555 ┆ [null,         ┆ ["US5949181045",   ┆ [null]             ┆ 54.028336 │
│ CORPORATION        ┆      ┆ "594918105",   ┆ null]              ┆                    ┆           │
│                    ┆      ┆ "594918104…    ┆                    ┆                    ┆           │
│ Microsoft          ┆ 1795 ┆ [null,         ┆ [null,             ┆ [null,             ┆ 37.957285 │
│ Corporation        ┆      ┆ "000594918", … ┆ "US5949181045"]    ┆ "BBG000BPH459"]    ┆           │
│                    ┆      ┆ "5949181…      ┆                    ┆                    ┆           │
│ Microsoft Corp     ┆ 226  ┆ ["594918104",  ┆ [null,             ┆ ["BBG000BPH459",   ┆ 4.779023  │
│                    ┆      ┆ null]          ┆ "US5949181045"]    ┆ null]              ┆           │
│ MICROSOFT          ┆ 64   ┆ ["594918104"]  ┆ [null,             ┆ [null]             ┆ 1.353352  │
│ CORPORATION        ┆      ┆                ┆ "US5949181045"]    ┆                    ┆           │
│ Microsoft Corp.    ┆ 60   ┆ ["594918104"]  ┆ ["US5949181045",   ┆ ["BBG000BPH459",   ┆ 1.268767  │
│                    ┆      ┆                ┆ null]              ┆ null]              ┆           │
│ …                  ┆ …    ┆ …              ┆ …                  ┆ …                  ┆ …         │
│ MICROSOFTCORPORATI ┆ 2    ┆ ["594918104"]  ┆ ["US5949181045"]   ┆ [null]             ┆ 0.042292  │
│ ON                 ┆      ┆                ┆                    ┆                    ┆           │
│ Microsoft          ┆ 2    ┆ ["594918104"]  ┆ ["US5949181045"]   ┆ [null]             ┆ 0.042292  │
│ Corporation (MSFT) ┆      ┆                ┆                    ┆                    ┆           │
│ MICROSOFT          ┆ 2    ┆ ["594918104",  ┆ [null]             ┆ [null]             ┆ 0.042292  │
│                    ┆      ┆ null]          ┆                    ┆                    ┆           │
│ MICROSOFT CORP COM ┆ 1    ┆ ["594918104"]  ┆ ["US5949181045"]   ┆ [null]             ┆ 0.021146  │
│ Microsoft Annual   ┆ 1    ┆ ["594918104"]  ┆ [null]             ┆ [null]             ┆ 0.021146  │
│ Meeting            ┆      ┆                ┆                    ┆                    ┆           │
└────────────────────┴──────┴────────────────┴────────────────────┴────────────────────┴───────────┘

Normalized -- INTRA (n=4734)

shape: (1, 6)
┌─────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---         ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str         ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ MICROSOFT   ┆ 4734 ┆ ["58155Q103", ┆ ["US5949181045", ┆ ["BBG000BPH459", ┆ 100.0    │
│ CORPORATION ┆      ┆ "594918104"]  ┆ "US58155Q1031…   ┆ "BBG000BLNPB7…   ┆          │
└─────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=4733)

shape: (1, 6)
┌─────────────┬──────┬─────────────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name ┆ len  ┆ cusip               ┆ isin             ┆ figi             ┆ % of obs │
│ ---         ┆ ---  ┆ ---                 ┆ ---              ┆ ---              ┆ ---      │
│ str         ┆ u32  ┆ list[str]           ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════╪══════╪═════════════════════╪══════════════════╪══════════════════╪══════════╡
│ MICROSOFT   ┆ 4733 ┆ ["594918104", null] ┆ ["US5949181045"] ┆ ["BBG000BPH459"] ┆ 100.0    │
│ CORPORATION ┆      ┆                     ┆                  ┆                  ┆          │
└─────────────┴──────┴─────────────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

                     issuer_name  count
0          MICROSOFT CORPORATION   2555
1          Microsoft Corporation   1795
2                 Microsoft Corp    226
3         MICROSOFT\nCORPORATION     64
4                Microsoft Corp.     60
5                 MICROSOFT CORP     13
6                      Microsoft      6
7                           MSFT      3
8                      MICROSOFT      2
9      MICROSOFT CORPORATION COM      2
10          MICROSOFTCORPORATION      2
11  Microsoft Corporation (MSFT)      2
12            MICROSOFT CORP COM      1
13      Microsoft Annual Meeting      1
14          McKesson Corporation      1
15    Mitsubishi Financial Group      1

************************************************************ DISNEY ************************************************************
Un-Normalized (n=2943)

shape: (21, 6)
┌─────────────────────┬──────┬───────────────┬────────────────────┬────────────────────┬───────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin               ┆ figi               ┆ % of obs  │
│ ---                 ┆ ---  ┆ ---           ┆ ---                ┆ ---                ┆ ---       │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]          ┆ list[str]          ┆ f64       │
╞═════════════════════╪══════╪═══════════════╪════════════════════╪════════════════════╪═══════════╡
│ The Walt Disney     ┆ 1489 ┆ ["254687106", ┆ [null,             ┆ ["BBG000BLNNV0",   ┆ 50.594631 │
│ Company             ┆      ┆ null]         ┆ "US2546871060"]    ┆ null]              ┆           │
│ THE WALT DISNEY     ┆ 1408 ┆ [null,        ┆ [null,             ┆ [null,             ┆ 47.842338 │
│ COMPANY             ┆      ┆ "Z54687106",  ┆ "US2546871060"]    ┆ "BBG000BH4R78"]    ┆           │
│                     ┆      ┆ "254687106…   ┆                    ┆                    ┆           │
│ THE WALT DISNEY     ┆ 12   ┆ ["254687106"] ┆ [null,             ┆ [null]             ┆ 0.407747  │
│ COMPANY             ┆      ┆               ┆ "US2546871060"]    ┆                    ┆           │
│ Walt Disney Co      ┆ 9    ┆ ["254687106"] ┆ ["US2546871060"]   ┆ [null]             ┆ 0.30581   │
│ (The)               ┆      ┆               ┆                    ┆                    ┆           │
│ The Walt Disney Co  ┆ 3    ┆ ["254687106"] ┆ ["US2546871060",   ┆ [null,             ┆ 0.101937  │
│                     ┆      ┆               ┆ null]              ┆ "BBG000BH4R79",    ┆           │
│                     ┆      ┆               ┆                    ┆ "BBG000…           ┆           │
│ …                   ┆ …    ┆ …             ┆ …                  ┆ …                  ┆ …         │
│ Walt Disney Co/The  ┆ 1    ┆ ["254687106"] ┆ ["US2546871060"]   ┆ [null]             ┆ 0.033979  │
│ DISNEY WALT CO COM  ┆ 1    ┆ ["254687106"] ┆ ["US2546871060"]   ┆ [null]             ┆ 0.033979  │
│ Walt Disney         ┆ 1    ┆ ["254687106"] ┆ [null]             ┆ [null]             ┆ 0.033979  │
│ Walt Disney Co.     ┆ 1    ┆ ["254687106"] ┆ [null]             ┆ [null]             ┆ 0.033979  │
│ Walt Disney Company ┆ 1    ┆ ["254687106"] ┆ [null]             ┆ [null]             ┆ 0.033979  │
│ (The)               ┆      ┆               ┆                    ┆                    ┆           │
└─────────────────────┴──────┴───────────────┴────────────────────┴────────────────────┴───────────┘

Normalized -- INTRA (n=2952)

shape: (1, 6)
┌─────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name     ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---             ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str             ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ THE WALT DISNEY ┆ 2952 ┆ ["855244109", ┆ ["US2546871060", ┆ ["BBG000BH4R78", ┆ 100.0    │
│ COMPANY         ┆      ┆ "254687106"]  ┆ "US8552441094…   ┆ "BBG000CTQBF3…   ┆          │
└─────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=2951)

shape: (1, 6)
┌─────────────────┬──────┬─────────────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name     ┆ len  ┆ cusip               ┆ isin             ┆ figi             ┆ % of obs │
│ ---             ┆ ---  ┆ ---                 ┆ ---              ┆ ---              ┆ ---      │
│ str             ┆ u32  ┆ list[str]           ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════╪══════╪═════════════════════╪══════════════════╪══════════════════╪══════════╡
│ THE WALT DISNEY ┆ 2951 ┆ ["254687106", null] ┆ ["US2546871060"] ┆ ["BBG000BH4R78"] ┆ 100.0    │
│ COMPANY         ┆      ┆                     ┆                  ┆                  ┆          │
└─────────────────┴──────┴─────────────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

                                      issuer_name  count
0                         The Walt Disney Company   1489
1                         THE WALT DISNEY COMPANY   1408
2                        THE WALT DISNEY\nCOMPANY     12
3                            Walt Disney Co (The)      9
4                                             DIS      8
5                             Walt Disney Company      3
6                              The Walt Disney Co      3
7                                  DISNEY WALT CO      2
8                                     WALT DISNEY      2
9               The Walt Disney Company Contested      2
10  The Walt Disney Company Trian Group Contested      2
11                                 Walt Disney Co      1
12                                Walt Disney Co.      1
13                                      STARBUCKS      1
14                                    Walt Disney      1
15                             DISNEY WALT CO COM      1
16                      Walt Disney Company (The)      1
17                    The Walt Disney Corporation      1
18                                 WALT DISNEY CO      1
19                       The Walt Disney Company*      1
20                              Walt Disney (DIS)      1
21                             THE WALT DISNEY CO      1
22                             Walt Disney Co/The      1

************************************************************ AMAZON ************************************************************
Un-Normalized (n=2890)

shape: (20, 6)
┌───────────────────┬──────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name       ┆ len  ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---               ┆ ---  ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str               ┆ u32  ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞═══════════════════╪══════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ AMAZON.COM, INC.  ┆ 1656 ┆ ["023135106",     ┆ ["US0231351067",  ┆ [null]            ┆ 57.301038 │
│                   ┆      ┆ null]             ┆ null]             ┆                   ┆           │
│ Amazon.com, Inc.  ┆ 1090 ┆ ["023135106",     ┆ ["US0231351067",  ┆ [null,            ┆ 37.716263 │
│                   ┆      ┆ "231351060", nul… ┆ null]             ┆ "BBG000BVPV84"]   ┆           │
│ Amazon.com Inc.   ┆ 64   ┆ ["023135106"]     ┆ [null,            ┆ [null]            ┆ 2.214533  │
│                   ┆      ┆                   ┆ "US0231351067"]   ┆                   ┆           │
│ Amazon.com Inc    ┆ 36   ┆ ["023135106"]     ┆ [null,            ┆ [null,            ┆ 1.245675  │
│                   ┆      ┆                   ┆ "US0231351067"]   ┆ "BBG000BVPV84"]   ┆           │
│ Amazon            ┆ 9    ┆ [null,            ┆ ["US0231351067",  ┆ [null]            ┆ 0.311419  │
│                   ┆      ┆ "000023135",      ┆ null]             ┆                   ┆           │
│                   ┆      ┆ "023135106…       ┆                   ┆                   ┆           │
│ …                 ┆ …    ┆ …                 ┆ …                 ┆ …                 ┆ …         │
│ Amazon.Com        ┆ 1    ┆ ["023135106"]     ┆ [null]            ┆ [null]            ┆ 0.034602  │
│ Amazon.Com Inc    ┆ 1    ┆ ["023135106"]     ┆ ["US0231351067"]  ┆ [null]            ┆ 0.034602  │
│ Amazon. Com       ┆ 1    ┆ [null]            ┆ [null]            ┆ [null]            ┆ 0.034602  │
│ AMAZON COM INC    ┆ 1    ┆ ["023135106"]     ┆ ["US0231351067"]  ┆ [null]            ┆ 0.034602  │
│ COM               ┆      ┆                   ┆                   ┆                   ┆           │
│ Amazon.com, INC   ┆ 1    ┆ ["023135106"]     ┆ [null]            ┆ [null]            ┆ 0.034602  │
└───────────────────┴──────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=2891)

shape: (2, 6)
┌──────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name      ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---              ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str              ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞══════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ AMAZON.COM, INC. ┆ 2890 ┆ ["023135106"] ┆ ["US0231351067"] ┆ ["BBG000BVPV84"] ┆ 99.96541 │
│ AMAZON. COM      ┆ 1    ┆ [null]        ┆ [null]           ┆ [null]           ┆ 0.03459  │
└──────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=2891)

shape: (2, 6)
┌──────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name      ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---              ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str              ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞══════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ AMAZON.COM, INC. ┆ 2890 ┆ ["023135106"] ┆ ["US0231351067"] ┆ ["BBG000BVPV84"] ┆ 99.96541 │
│ AMAZON. COM      ┆ 1    ┆ [null]        ┆ [null]           ┆ [null]           ┆ 0.03459  │
└──────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

                issuer_name  count
0          AMAZON.COM, INC.   1656
1          Amazon.com, Inc.   1090
2           Amazon.com Inc.     64
3            Amazon.com Inc     36
4                    Amazon      9
5            AMAZON.COM INC      8
6                    AMAZON      5
7            AMAZON COM INC      4
8                Amazon.com      3
9           Amazon.com, Inc      3
10               Amazon Inc      3
11   AMAZON.COM INC AMZN US      1
12          Amazon.com, INC      1
13               Amazon.Com      1
14       AMAZON COM INC COM      1
15           Amazon.Com Inc      1
16      AMAZON.COM INC. COM      1
17              Amazon. Com      1
18  AMAZON COM INCORPORATED      1
19                     AMZN      1
20    Amazon.com Inc (AMZN)      1

************************************************************ JPMORGAN ************************************************************
Un-Normalized (n=2635)

shape: (13, 6)
┌──────────────────────────┬──────┬───────────────┬──────────────────┬─────────────────┬───────────┐
│ issuer_name              ┆ len  ┆ cusip         ┆ isin             ┆ figi            ┆ % of obs  │
│ ---                      ┆ ---  ┆ ---           ┆ ---              ┆ ---             ┆ ---       │
│ str                      ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]       ┆ f64       │
╞══════════════════════════╪══════╪═══════════════╪══════════════════╪═════════════════╪═══════════╡
│ JPMORGAN CHASE & CO.     ┆ 1324 ┆ [null,        ┆ ["US46625H1005", ┆ [null]          ┆ 50.246679 │
│                          ┆      ┆ "46625H100"]  ┆ null]            ┆                 ┆           │
│ JPMorgan Chase & Co.     ┆ 1151 ┆ [null,        ┆ [null,           ┆ [null,          ┆ 43.681214 │
│                          ┆      ┆ "46625H100",  ┆ "US46625H1005"]  ┆ "BBG000DMBXR2"] ┆           │
│                          ┆      ┆ "46625h100…   ┆                  ┆                 ┆           │
│ JPMORGAN CHASE  CO.      ┆ 80   ┆ ["46625H100"] ┆ [null]           ┆ [null]          ┆ 3.036053  │
│ JPMORGAN CHASE and CO.   ┆ 27   ┆ ["46625H100"] ┆ ["US46625H1005"] ┆ [null]          ┆ 1.024668  │
│ JPMorgan Chase & CO.     ┆ 20   ┆ ["46625H100"] ┆ ["US46625H1005"] ┆ [null]          ┆ 0.759013  │
│ …                        ┆ …    ┆ …             ┆ …                ┆ …               ┆ …         │
│ JPMORGAN CHASE &amp; CO. ┆ 2    ┆ ["46625H100"] ┆ ["US46625H1005"] ┆ [null]          ┆ 0.075901  │
│ JPMORGAN CHASE & CO. COM ┆ 1    ┆ ["46625H100"] ┆ ["US46625H1005"] ┆ [null]          ┆ 0.037951  │
│ JPMorgan Chase & Co      ┆ 1    ┆ ["46625H100"] ┆ ["US46625H1005"] ┆ [null]          ┆ 0.037951  │
│ (JPM)                    ┆      ┆               ┆                  ┆                 ┆           │
│ JPMorgan                 ┆ 1    ┆ [null]        ┆ [null]           ┆ [null]          ┆ 0.037951  │
│ JPMORGAN CHASE AND CO.   ┆ 1    ┆ ["46625H100"] ┆ [null]           ┆ [null]          ┆ 0.037951  │
└──────────────────────────┴──────┴───────────────┴──────────────────┴─────────────────┴───────────┘

Normalized -- INTRA (n=2657)

shape: (2, 6)
┌──────────────────────┬──────┬──────────────┬──────────────────┬─────────────────┬───────────┐
│ issuer_name          ┆ len  ┆ cusip        ┆ isin             ┆ figi            ┆ % of obs  │
│ ---                  ┆ ---  ┆ ---          ┆ ---              ┆ ---             ┆ ---       │
│ str                  ┆ u32  ┆ list[str]    ┆ list[str]        ┆ list[str]       ┆ f64       │
╞══════════════════════╪══════╪══════════════╪══════════════════╪═════════════════╪═══════════╡
│ JPMORGAN CHASE & CO. ┆ 2656 ┆ [null,       ┆ ["US46625H1005", ┆ [null,          ┆ 99.962364 │
│                      ┆      ┆ "46625H100"] ┆ null]            ┆ "BBG000DMBXR2"] ┆           │
│ JPMORGAN             ┆ 1    ┆ [null]       ┆ [null]           ┆ [null]          ┆ 0.037636  │
└──────────────────────┴──────┴──────────────┴──────────────────┴─────────────────┴───────────┘

Normalized -- NO INTRA (n=2660)

shape: (2, 6)
┌───────────────────┬──────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name       ┆ len  ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---               ┆ ---  ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str               ┆ u32  ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞═══════════════════╪══════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ JPMORGAN CHASE &  ┆ 2659 ┆ ["02209S103",     ┆ ["US46625H1005",  ┆ ["BBG000DMBXR2",  ┆ 99.962406 │
│ CO.               ┆      ┆ "46625H100", "71… ┆ "US02209S1033…    ┆ "BBG000BR2B91…    ┆           │
│ JPMORGAN          ┆ 1    ┆ [null]            ┆ [null]            ┆ [null]            ┆ 0.037594  │
└───────────────────┴──────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Consolidation Fodder:

                  issuer_name  count
0        JPMORGAN CHASE & CO.   1324
1        JPMorgan Chase & Co.   1151
2         JPMORGAN CHASE  CO.     80
3      JPMORGAN CHASE and CO.     27
4        JPMorgan Chase & CO.     20
5         JPMorgan Chase & Co     11
6         JPMORGAN CHASE & CO      9
7              JPMorgan Chase      7
8       JP Morgan Chase & Co.      7
9        JP Morgan Chase & Co      7
10   JPMORGAN CHASE &amp; CO.      2
11                        JPM      2
12      JP MORGAN CHASE & CO       2
13            JP MORGAN CHASE      1
14   JPMORGAN CHASE & CO. COM      1
15      JP MORGAN CHASE & CO.      1
16     JPMORGAN CHASE AND CO.      1
17                  JP Morgan      1
18                   JPMorgan      1
19  JPMorgan Chase & Co (JPM)      1
20       JP MORGAN CHASE & CO      1

************************************************************ PROCTER ************************************************************
Un-Normalized (n=2499)

shape: (19, 6)
┌─────────────────────┬──────┬───────────────┬────────────────────┬────────────────────┬───────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin               ┆ figi               ┆ % of obs  │
│ ---                 ┆ ---  ┆ ---           ┆ ---                ┆ ---                ┆ ---       │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]          ┆ list[str]          ┆ f64       │
╞═════════════════════╪══════╪═══════════════╪════════════════════╪════════════════════╪═══════════╡
│ THE PROCTER &       ┆ 1186 ┆ ["742718109", ┆ ["US7427181091",   ┆ [null]             ┆ 47.458984 │
│ GAMBLE COMPANY      ┆      ┆ null]         ┆ null]              ┆                    ┆           │
│ The Procter &       ┆ 1001 ┆ [null,        ┆ ["US7427181091",   ┆ ["BBG000BLNNV0",   ┆ 40.056022 │
│ Gamble Company      ┆      ┆ "742718109"]  ┆ null]              ┆ null, "BBG000…     ┆           │
│ THE PROCTER  GAMBLE ┆ 100  ┆ ["742718109"] ┆ [null]             ┆ [null]             ┆ 4.001601  │
│ COMPANY             ┆      ┆               ┆                    ┆                    ┆           │
│ THE PROCTER and     ┆ 78   ┆ ["742718109"] ┆ ["US7427181091"]   ┆ [null]             ┆ 3.121248  │
│ GAMBLE COMPANY      ┆      ┆               ┆                    ┆                    ┆           │
│ THE PROCTER &       ┆ 65   ┆ ["742718109"] ┆ [null,             ┆ [null]             ┆ 2.60104   │
│ GAMBLE              ┆      ┆               ┆ "US7427181091"]    ┆                    ┆           │
│ COMPANY             ┆      ┆               ┆                    ┆                    ┆           │
│ …                   ┆ …    ┆ …             ┆ …                  ┆ …                  ┆ …         │
│ THE PROCTER &       ┆ 2    ┆ ["742718109"] ┆ ["US7427181091"]   ┆ [null]             ┆ 0.080032  │
│ GAMBLECOMPANY       ┆      ┆               ┆                    ┆                    ┆           │
│ PROCTER & GAMBLE CO ┆ 2    ┆ ["742718109"] ┆ [null]             ┆ [null]             ┆ 0.080032  │
│ PROCTER AND GAMBLE  ┆ 1    ┆ ["742718109"] ┆ ["US7427181091"]   ┆ [null]             ┆ 0.040016  │
│ CO COM              ┆      ┆               ┆                    ┆                    ┆           │
│ Procter & Gamble Co ┆ 1    ┆ ["742718109"] ┆ [null]             ┆ [null]             ┆ 0.040016  │
│ PROCTER AND GAMBLE  ┆ 1    ┆ ["742718109"] ┆ [null]             ┆ ["BBG001S5V4L9"]   ┆ 0.040016  │
│ CO                  ┆      ┆               ┆                    ┆                    ┆           │
└─────────────────────┴──────┴───────────────┴────────────────────┴────────────────────┴───────────┘

Normalized -- INTRA (n=2612)

shape: (2, 6)
┌──────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name          ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                  ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                  ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞══════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ THE PROCTER & GAMBLE ┆ 2603 ┆ ["460690100", ┆ ["US4606901001", ┆ ["BBG000BLNNV0"] ┆ 99.655436 │
│ COMPANY              ┆      ┆ "742718109"]  ┆ "US7427181091…   ┆                  ┆           │
│ PROCTER & GAMBLE     ┆ 9    ┆ ["Y7089A117"] ┆ ["INE179A01014"] ┆ [null]           ┆ 0.344564  │
│ HYGIENE & HEA…       ┆      ┆               ┆                  ┆                  ┆           │
└──────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Normalized -- NO INTRA (n=2611)

shape: (2, 6)
┌──────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name          ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                  ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                  ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞══════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ THE PROCTER & GAMBLE ┆ 2602 ┆ ["742718109", ┆ ["US7427181091"] ┆ ["BBG000BLNNV0", ┆ 99.655304 │
│ COMPANY              ┆      ┆ null]         ┆                  ┆ null]            ┆           │
│ PROCTER & GAMBLE     ┆ 9    ┆ ["Y7089A117"] ┆ ["INE179A01014"] ┆ [null]           ┆ 0.344696  │
│ HYGIENE & HEA…       ┆      ┆               ┆                  ┆                  ┆           │
└──────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Consolidation Fodder:

                                   issuer_name  count
0                 THE PROCTER & GAMBLE COMPANY   1186
1                 The Procter & Gamble Company   1001
2                  THE PROCTER  GAMBLE COMPANY    100
3                     Proctor & Gamble Company    100
4               THE PROCTER and GAMBLE COMPANY     78
5                THE PROCTER & GAMBLE\nCOMPANY     65
6                     Procter & Gamble Company     25
7                     The Procter & Gamble Co.     10
8   PROCTER & GAMBLE HYGIENE & HEALTH CARE LTD      9
9                             Procter & Gamble      5
10                        Procter & Gamble Co.      5
11                The Proctor & Gamble Company      4
12                                          PG      3
13            THE PROCTER &amp; GAMBLE COMPANY      2
14              Procter & Gamble Company (The)      2
15              THE PROCTER AND GAMBLE COMPANY      2
16                         PROCTER & GAMBLE CO      2
17                PROCTER & GAMBLE COMPANY COM      2
18                 THE PROCTER & GAMBLECOMPANY      2
19                         Procter & Gamble Co      1
20                          PROCTOR AND GAMBLE      1
21                            Proctor & Gamble      1
22                   PROCTER AND GAMBLE CO COM      1
23                      The Proter & Gamble Co      1
24                            PROCTOR & GAMBLE      1
25                       PROCTER AND GAMBLE CO      1
26                              Proctor Gamble      1
27                                         IPG      1

************************************************************ ORACLE ************************************************************
Un-Normalized (n=2525)

shape: (14, 6)
┌───────────────────┬──────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name       ┆ len  ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---               ┆ ---  ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str               ┆ u32  ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞═══════════════════╪══════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ ORACLE            ┆ 1287 ┆ ["68389X105",     ┆ ["US68389X1054",  ┆ [null]            ┆ 50.970297 │
│ CORPORATION       ┆      ┆ null]             ┆ null]             ┆                   ┆           │
│ Oracle            ┆ 1097 ┆ ["68389x105",     ┆ [null,            ┆ [null,            ┆ 43.445545 │
│ Corporation       ┆      ┆ null, "68389X105… ┆ "US68389X1054"]   ┆ "BBG000BQLTW7"]   ┆           │
│ Oracle Corp       ┆ 69   ┆ ["68389X105"]     ┆ [null,            ┆ [null,            ┆ 2.732673  │
│                   ┆      ┆                   ┆ "US68389X1055",   ┆ "BBG000BQLTW7"]   ┆           │
│                   ┆      ┆                   ┆ "US6838…          ┆                   ┆           │
│ Oracle Corp.      ┆ 17   ┆ ["68389X105"]     ┆ ["US68389X1054",  ┆ [null]            ┆ 0.673267  │
│                   ┆      ┆                   ┆ null]             ┆                   ┆           │
│ Oracle Financial  ┆ 16   ┆ ["Y3864R102",     ┆ ["INE881D01027"]  ┆ [null]            ┆ 0.633663  │
│ Services Soft…    ┆      ┆ null]             ┆                   ┆                   ┆           │
│ …                 ┆ …    ┆ …                 ┆ …                 ┆ …                 ┆ …         │
│ ORACLE            ┆ 3    ┆ ["68389X105"]     ┆ ["US68389X1054",  ┆ [null]            ┆ 0.118812  │
│                   ┆      ┆                   ┆ null]             ┆                   ┆           │
│ Oracle Corporatio ┆ 2    ┆ [null]            ┆ [null]            ┆ [null]            ┆ 0.079208  │
│ n                 ┆      ┆                   ┆                   ┆                   ┆           │
│ ORACLE            ┆ 2    ┆ ["68389X105"]     ┆ [null]            ┆ [null]            ┆ 0.079208  │
│ CORPORTATION      ┆      ┆                   ┆                   ┆                   ┆           │
│ Oracle            ┆ 1    ┆ ["68389X105"]     ┆ [null]            ┆ [null]            ┆ 0.039604  │
│ ORACLE CORP COM   ┆ 1    ┆ ["68389X105"]     ┆ ["US68389X1054"]  ┆ [null]            ┆ 0.039604  │
└───────────────────┴──────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=2528)

shape: (4, 6)
┌─────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                 ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞═════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ ORACLE CORPORATION  ┆ 2487 ┆ ["68389X105"] ┆ ["US68389X1054"] ┆ ["BBG000BQLTW7"] ┆ 98.378165 │
│ ORACLE FINANCIAL    ┆ 21   ┆ ["Y3864R102"] ┆ ["INE881D01027"] ┆ [null]           ┆ 0.830696  │
│ SERVICES SOFT…      ┆      ┆               ┆                  ┆                  ┆           │
│ ORACLE CORP JAPAN   ┆ 18   ┆ ["J6165M109"] ┆ ["JP3689500001"] ┆ [null]           ┆ 0.712025  │
│ ORACLE CORPORATIO N ┆ 2    ┆ [null]        ┆ [null]           ┆ [null]           ┆ 0.079114  │
└─────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Normalized -- NO INTRA (n=2528)

shape: (4, 6)
┌─────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                 ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞═════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ ORACLE CORPORATION  ┆ 2487 ┆ ["68389X105"] ┆ ["US68389X1054"] ┆ ["BBG000BQLTW7"] ┆ 98.378165 │
│ ORACLE FINANCIAL    ┆ 21   ┆ ["Y3864R102"] ┆ ["INE881D01027"] ┆ [null]           ┆ 0.830696  │
│ SERVICES SOFT…      ┆      ┆               ┆                  ┆                  ┆           │
│ ORACLE CORP JAPAN   ┆ 18   ┆ ["J6165M109"] ┆ ["JP3689500001"] ┆ [null]           ┆ 0.712025  │
│ ORACLE CORPORATIO N ┆ 2    ┆ [null]        ┆ [null]           ┆ [null]           ┆ 0.079114  │
└─────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Consolidation Fodder:

                                   issuer_name  count
0                           ORACLE CORPORATION   1287
1                           Oracle Corporation   1097
2                                  Oracle Corp     69
3                                 Oracle Corp.     17
4   Oracle Financial Services Software Limited     16
5                            Oracle Corp Japan      9
6                     ORACLE CORPORATION JAPAN      9
7                                  ORACLE CORP      7
8       ORACLE FINANCIAL SERVICES SOFTWARE LTD      5
9                                       ORACLE      3
10                                        ORCL      3
11                         ORACLE CORPORTATION      2
12                         Oracle Corporatio n      2
13                             ORACLE CORP COM      1
14                                      Oracle      1

************************************************************ APPLE ************************************************************
Un-Normalized (n=2528)

shape: (22, 6)
┌───────────────────┬──────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name       ┆ len  ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---               ┆ ---  ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str               ┆ u32  ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞═══════════════════╪══════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ APPLE INC.        ┆ 1105 ┆ [null,            ┆ [null,            ┆ [null]            ┆ 43.710443 │
│                   ┆      ┆ "037833100"]      ┆ "US0378331005"]   ┆                   ┆           │
│ Apple Inc.        ┆ 936  ┆ ["378331000",     ┆ [null,            ┆ [null,            ┆ 37.025316 │
│                   ┆      ┆ "037833100", nul… ┆ "US0378331005"]   ┆ "BBG000B9XRY4"]   ┆           │
│ APPLE INC         ┆ 175  ┆ ["037833100"]     ┆ [null,            ┆ [null,            ┆ 6.922468  │
│                   ┆      ┆                   ┆ "US0378331005"]   ┆ "BBG001S5N8V8"]   ┆           │
│ Apple Hospitality ┆ 111  ┆ ["03784Y200"]     ┆ [null,            ┆ [null]            ┆ 4.390823  │
│ REIT, Inc.        ┆      ┆                   ┆ "US03784Y2000"]   ┆                   ┆           │
│ APPLE HOSPITALITY ┆ 48   ┆ ["03784Y200"]     ┆ ["US03784Y2000",  ┆ [null]            ┆ 1.898734  │
│ REIT, INC.        ┆      ┆                   ┆ null]             ┆                   ┆           │
│ …                 ┆ …    ┆ …                 ┆ …                 ┆ …                 ┆ …         │
│ Apple Hospitality ┆ 1    ┆ ["03784Y200"]     ┆ [null]            ┆ [null]            ┆ 0.039557  │
│ REIT Inc          ┆      ┆                   ┆                   ┆                   ┆           │
│ Apple Inc.        ┆ 1    ┆ ["037833100"]     ┆ [null]            ┆ [null]            ┆ 0.039557  │
│ Apple Hospitality ┆ 1    ┆ ["03784Y200"]     ┆ [null]            ┆ [null]            ┆ 0.039557  │
│ REIT              ┆      ┆                   ┆                   ┆                   ┆           │
│ Apple Inc (AAPL)  ┆ 1    ┆ ["037833100"]     ┆ ["US0378331005"]  ┆ [null]            ┆ 0.039557  │
│ APPLE INC COM     ┆ 1    ┆ ["037833100"]     ┆ ["US0378331005"]  ┆ [null]            ┆ 0.039557  │
└───────────────────┴──────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=2530)

shape: (3, 6)
┌─────────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name             ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                     ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                     ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞═════════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ APPLE INC.              ┆ 2355 ┆ ["037833100"] ┆ ["US0378331005"] ┆ ["BBG000B9XRY4"] ┆ 93.083004 │
│ APPLE HOSPITALITY REIT, ┆ 164  ┆ ["03784Y200"] ┆ ["US03784Y2000"] ┆ [null]           ┆ 6.482213  │
│ INC.                    ┆      ┆               ┆                  ┆                  ┆           │
│ MAUI LAND & PINEAPPLE   ┆ 11   ┆ ["577345101"] ┆ ["US5773451019"] ┆ [null]           ┆ 0.434783  │
│ COMPANY,…               ┆      ┆               ┆                  ┆                  ┆           │
└─────────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Normalized -- NO INTRA (n=2530)

shape: (3, 6)
┌─────────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name             ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                     ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                     ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞═════════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ APPLE INC.              ┆ 2355 ┆ ["037833100"] ┆ ["US0378331005"] ┆ ["BBG000B9XRY4"] ┆ 93.083004 │
│ APPLE HOSPITALITY REIT, ┆ 164  ┆ ["03784Y200"] ┆ ["US03784Y2000"] ┆ [null]           ┆ 6.482213  │
│ INC.                    ┆      ┆               ┆                  ┆                  ┆           │
│ MAUI LAND & PINEAPPLE   ┆ 11   ┆ ["577345101"] ┆ ["US5773451019"] ┆ [null]           ┆ 0.434783  │
│ COMPANY,…               ┆      ┆               ┆                  ┆                  ┆           │
└─────────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Consolidation Fodder:

                            issuer_name  count
0                            APPLE INC.   1105
1                            Apple Inc.    936
2                             APPLE INC    175
3          Apple Hospitality REIT, Inc.    111
4          APPLE HOSPITALITY REIT, INC.     48
5                             Apple Inc     35
6                           Apple, Inc.     33
7                           APPLE, INC.     26
8                                 Apple     19
9                            APPLE, INC     15
10  Maui Land & Pineapple Company, Inc.     11
11                                APPLE      3
12          APPLE HOSPITALITY REIT INC.      2
13           Apple Hospitality REIT Inc      1
14                          Apple Inc.       1
15                           Apple, Inc      1
16               Apple Hospitality REIT      1
17        APPLE HOSPITALITY REIT,\nINC.      1
18                        APPLE INC COM      1
19            Apple Inc. Annual Meeting      1
20                       APPLE INC. COM      1
21                            Appie Inc      1
22                                 AAPL      1
23                     Apple Inc (AAPL)      1

************************************************************ VISA ************************************************************
Un-Normalized (n=2074)

shape: (14, 6)
┌─────────────────────┬──────┬───────────────┬────────────────────┬────────────────────┬───────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin               ┆ figi               ┆ % of obs  │
│ ---                 ┆ ---  ┆ ---           ┆ ---                ┆ ---                ┆ ---       │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]          ┆ list[str]          ┆ f64       │
╞═════════════════════╪══════╪═══════════════╪════════════════════╪════════════════════╪═══════════╡
│ VISA INC.           ┆ 1082 ┆ ["92826C839", ┆ ["US92826C8394",   ┆ [null]             ┆ 52.16972  │
│                     ┆      ┆ null]         ┆ null]              ┆                    ┆           │
│ Visa Inc.           ┆ 914  ┆ ["92826C839", ┆ [null,             ┆ ["BBG000PSKYX7",   ┆ 44.069431 │
│                     ┆      ┆ null]         ┆ "US92826C8394"]    ┆ null]              ┆           │
│ Visa, Inc.          ┆ 20   ┆ ["92826C839", ┆ ["US92826C8394",   ┆ [null]             ┆ 0.96432   │
│                     ┆      ┆ "92826c839"]  ┆ null]              ┆                    ┆           │
│ Visa Inc            ┆ 20   ┆ ["92826C839", ┆ ["US92826C8394",   ┆ [null]             ┆ 0.96432   │
│                     ┆      ┆ null]         ┆ null]              ┆                    ┆           │
│ VISA INC            ┆ 12   ┆ ["92826C839"] ┆ [null,             ┆ ["BBG001SRCFY3",   ┆ 0.578592  │
│                     ┆      ┆               ┆ "US92826C8394"]    ┆ null]              ┆           │
│ …                   ┆ …    ┆ …             ┆ …                  ┆ …                  ┆ …         │
│ Lovisa Holdings     ┆ 2    ┆ ["Q56334107"] ┆ ["AU000000LOV7"]   ┆ [null]             ┆ 0.096432  │
│ Limited             ┆      ┆               ┆                    ┆                    ┆           │
│ VISA, Inc.          ┆ 1    ┆ ["92826C839"] ┆ [null]             ┆ [null]             ┆ 0.048216  │
│ VISA INC COM CL A   ┆ 1    ┆ ["92826C839"] ┆ ["US92826C8394"]   ┆ [null]             ┆ 0.048216  │
│ Visa Inc (V)        ┆ 1    ┆ ["92826C839"] ┆ ["US92826C8394"]   ┆ [null]             ┆ 0.048216  │
│ Visa, Inc           ┆ 1    ┆ ["92826C839"] ┆ [null]             ┆ [null]             ┆ 0.048216  │
└─────────────────────┴──────┴───────────────┴────────────────────┴────────────────────┴───────────┘

Normalized -- INTRA (n=2075)

shape: (3, 6)
┌─────────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name             ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                     ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                     ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞═════════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ VISA INC.               ┆ 2066 ┆ ["92826C839"] ┆ ["US92826C8394"] ┆ ["BBG000PSKYX7"] ┆ 99.566265 │
│ VISAKA INDUSTRIES       ┆ 7    ┆ ["Y93787151"] ┆ ["INE392A01021"] ┆ [null]           ┆ 0.337349  │
│ LIMITED                 ┆      ┆               ┆                  ┆                  ┆           │
│ LOVISA HOLDINGS LIMITED ┆ 2    ┆ ["Q56334107"] ┆ ["AU000000LOV7"] ┆ [null]           ┆ 0.096386  │
└─────────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Normalized -- NO INTRA (n=2075)

shape: (3, 6)
┌─────────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name             ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                     ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                     ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞═════════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ VISA INC.               ┆ 2066 ┆ ["92826C839"] ┆ ["US92826C8394"] ┆ ["BBG000PSKYX7"] ┆ 99.566265 │
│ VISAKA INDUSTRIES       ┆ 7    ┆ ["Y93787151"] ┆ ["INE392A01021"] ┆ [null]           ┆ 0.337349  │
│ LIMITED                 ┆      ┆               ┆                  ┆                  ┆           │
│ LOVISA HOLDINGS LIMITED ┆ 2    ┆ ["Q56334107"] ┆ ["AU000000LOV7"] ┆ [null]           ┆ 0.096386  │
└─────────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Consolidation Fodder:

                  issuer_name  count
0                   VISA INC.   1082
1                   Visa Inc.    914
2                    Visa Inc     20
3                  Visa, Inc.     20
4                    VISA INC     12
5   Visaka Industries Limited      7
6                   VISA Inc.      6
7                        Visa      5
8                        VISA      2
9     Lovisa Holdings Limited      2
10          VISA INC COM CL A      1
11                  Visa, Inc      1
12                          V      1
13               Visa Inc (V)      1
14                 VISA, Inc.      1

************************************************************ EXXON ************************************************************
Un-Normalized (n=1785)

shape: (18, 6)
┌─────────────────────┬─────┬───────────────┬─────────────────────┬────────────────────┬───────────┐
│ issuer_name         ┆ len ┆ cusip         ┆ isin                ┆ figi               ┆ % of obs  │
│ ---                 ┆ --- ┆ ---           ┆ ---                 ┆ ---                ┆ ---       │
│ str                 ┆ u32 ┆ list[str]     ┆ list[str]           ┆ list[str]          ┆ f64       │
╞═════════════════════╪═════╪═══════════════╪═════════════════════╪════════════════════╪═══════════╡
│ EXXON MOBIL         ┆ 876 ┆ [null,        ┆ ["US30231G1022",    ┆ [null]             ┆ 49.07563  │
│ CORPORATION         ┆     ┆ "30231G102"]  ┆ null]               ┆                    ┆           │
│ Exxon Mobil         ┆ 802 ┆ [null,        ┆ [null,              ┆ [null,             ┆ 44.929972 │
│ Corporation         ┆     ┆ "30231G102"]  ┆ "US30231G1022"]     ┆ "BBG000GZQ728"]    ┆           │
│ Exxon Mobil         ┆ 38  ┆ ["30231G102"] ┆ [null,              ┆ [null]             ┆ 2.128852  │
│                     ┆     ┆               ┆ "US30231G1022"]     ┆                    ┆           │
│ EXXON MOBIL CORP    ┆ 26  ┆ ["30231G102"] ┆ ["US30231G1022",    ┆ ["BBG000GZQ728",   ┆ 1.456583  │
│                     ┆     ┆               ┆ null]               ┆ null, "BBG001…     ┆           │
│ EXXON MOBIL         ┆ 13  ┆ ["30231G102"] ┆ [null,              ┆ [null]             ┆ 0.728291  │
│ CORPORATION         ┆     ┆               ┆ "US30231G1022"]     ┆                    ┆           │
│ …                   ┆ …   ┆ …             ┆ …                   ┆ …                  ┆ …         │
│ Exxon Mobile        ┆ 1   ┆ ["30231G102"] ┆ [null]              ┆ [null]             ┆ 0.056022  │
│ Corporation         ┆     ┆               ┆                     ┆                    ┆           │
│ EXXON MOBIL         ┆ 1   ┆ ["30231G102"] ┆ [null]              ┆ [null]             ┆ 0.056022  │
│ EXXON MOBIL         ┆ 1   ┆ ["30231G102"] ┆ ["US30231G1022"]    ┆ ["BBG000GZQ728"]   ┆ 0.056022  │
│ CORPORAITON         ┆     ┆               ┆                     ┆                    ┆           │
│ EXXONMOBIL          ┆ 1   ┆ [null]        ┆ [null]              ┆ [null]             ┆ 0.056022  │
│ Exxon Mobile Corp.  ┆ 1   ┆ ["30231G102"] ┆ [null]              ┆ [null]             ┆ 0.056022  │
└─────────────────────┴─────┴───────────────┴─────────────────────┴────────────────────┴───────────┘

Normalized -- INTRA (n=1787)

shape: (1, 6)
┌─────────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name             ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---                     ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str                     ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ EXXON MOBIL CORPORATION ┆ 1787 ┆ ["30231G102"] ┆ ["US30231G1022"] ┆ ["BBG000GZQ728"] ┆ 100.0    │
└─────────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=1787)

shape: (1, 6)
┌─────────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name             ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---                     ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str                     ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ EXXON MOBIL CORPORATION ┆ 1787 ┆ ["30231G102"] ┆ ["US30231G1022"] ┆ ["BBG000GZQ728"] ┆ 100.0    │
└─────────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

                 issuer_name  count
0    EXXON MOBIL CORPORATION    876
1    Exxon Mobil Corporation    802
2                Exxon Mobil     38
3           EXXON MOBIL CORP     26
4   EXXON MOBIL\nCORPORATION     13
5                 ExxonMobil      8
6          Exxon Mobil Corp.      8
7               Exxon Mobile      2
8           Exxon Mobil Corp      2
9               EXXON MOBIL       2
10  Exxon Mobile Corporation      1
11                     EXXON      1
12      EXXON MOBIL CORP COM      1
13   EXXON MOBIL CORPORAITON      1
14         EXXON MOBIL CORP.      1
15               EXXON MOBIL      1
16       PIONEER NATURAL RES      1
17                       XOM      1
18                EXXONMOBIL      1
19        Exxon Mobile Corp.      1

************************************************************ CHEVRON ************************************************************
Un-Normalized (n=1828)

shape: (13, 6)
┌───────────────────┬──────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name       ┆ len  ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---               ┆ ---  ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str               ┆ u32  ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞═══════════════════╪══════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ CHEVRON           ┆ 1034 ┆ ["166764100",     ┆ ["US1667641005",  ┆ [null,            ┆ 56.564551 │
│ CORPORATION       ┆      ┆ null, "577081102… ┆ null]             ┆ "BBG000K4ND22"]   ┆           │
│ Chevron           ┆ 751  ┆ ["166764100",     ┆ [null,            ┆ ["BBG000K4ND22",  ┆ 41.083151 │
│ Corporation       ┆      ┆ "000166764", nul… ┆ "US1667641005"]   ┆ null]             ┆           │
│ CHEVRON CORP      ┆ 21   ┆ ["166764100"]     ┆ [null,            ┆ [null,            ┆ 1.148796  │
│                   ┆      ┆                   ┆ "US1667641005"]   ┆ "BBG000K4ND22"]   ┆           │
│ Chevron Corp      ┆ 8    ┆ [null,            ┆ ["US1667641005",  ┆ [null,            ┆ 0.437637  │
│                   ┆      ┆ "166764100"]      ┆ null]             ┆ "BBG000K4ND22"]   ┆           │
│ Chevron Corp.     ┆ 4    ┆ ["166764100"]     ┆ ["US1667641005",  ┆ [null]            ┆ 0.218818  │
│                   ┆      ┆                   ┆ null]             ┆                   ┆           │
│ …                 ┆ …    ┆ …                 ┆ …                 ┆ …                 ┆ …         │
│ Chevron           ┆ 1    ┆ ["166764100"]     ┆ ["US1667641005"]  ┆ [null]            ┆ 0.054705  │
│ Corpoation        ┆      ┆                   ┆                   ┆                   ┆           │
│ Chevron           ┆ 1    ┆ ["166764100"]     ┆ [null]            ┆ [null]            ┆ 0.054705  │
│ Corposration      ┆      ┆                   ┆                   ┆                   ┆           │
│ Chevron Corp      ┆ 1    ┆ ["166764100"]     ┆ ["US1667641005"]  ┆ [null]            ┆ 0.054705  │
│ (CVX)             ┆      ┆                   ┆                   ┆                   ┆           │
│ CHEVRON CORP NEW  ┆ 1    ┆ ["166764100"]     ┆ ["US1667641005"]  ┆ [null]            ┆ 0.054705  │
│ COM               ┆      ┆                   ┆                   ┆                   ┆           │
│ Chevron           ┆ 1    ┆ [null]            ┆ [null]            ┆ [null]            ┆ 0.054705  │
│ Corporation       ┆      ┆                   ┆                   ┆                   ┆           │
└───────────────────┴──────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=2008)

shape: (1, 6)
┌─────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---                 ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ CHEVRON CORPORATION ┆ 2008 ┆ ["166764100"] ┆ ["US1667641005"] ┆ ["BBG000K4ND22"] ┆ 100.0    │
└─────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=2008)

shape: (1, 6)
┌─────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---                 ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ CHEVRON CORPORATION ┆ 2008 ┆ ["166764100"] ┆ ["US1667641005"] ┆ ["BBG000K4ND22"] ┆ 100.0    │
└─────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

             issuer_name  count
0    CHEVRON CORPORATION   1034
1    Chevron Corporation    751
2           MATTEL, INC.    117
3           Mattel, Inc.     56
4           CHEVRON CORP     21
5           Chevron Corp      8
6          Chevron Corp.      4
7                CHEVRON      2
8       CHEVRON CORP NEW      2
9       Mattel Inc (MAT)      2
10  Chevron Corporation       1
11   Mattel Incorporated      1
12               Chevron      1
13                Mattel      1
14  CHEVRON CORP NEW COM      1
15   Chrvron Corporation      1
16           MATTEL, INC      1
17  Chevron Corposration      1
18    Chevron Corpoation      1
19                   CVX      1
20    Chevron Corp (CVX)      1

************************************************************ META PLATFORM ************************************************************
Un-Normalized (n=1766)

shape: (6, 6)
┌──────────────────────┬─────┬───────────────┬──────────────────┬─────────────────┬───────────┐
│ issuer_name          ┆ len ┆ cusip         ┆ isin             ┆ figi            ┆ % of obs  │
│ ---                  ┆ --- ┆ ---           ┆ ---              ┆ ---             ┆ ---       │
│ str                  ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str]       ┆ f64       │
╞══════════════════════╪═════╪═══════════════╪══════════════════╪═════════════════╪═══════════╡
│ Meta Platforms, Inc. ┆ 949 ┆ ["30303M102", ┆ ["US30303M1027", ┆ [null]          ┆ 53.737259 │
│                      ┆     ┆ null]         ┆ null]            ┆                 ┆           │
│ META PLATFORMS, INC. ┆ 808 ┆ ["30303M102", ┆ ["US30303M1027", ┆ [null]          ┆ 45.753114 │
│                      ┆     ┆ null]         ┆ null]            ┆                 ┆           │
│ Meta Platforms       ┆ 4   ┆ [null,        ┆ ["US30303M1027", ┆ [null]          ┆ 0.226501  │
│                      ┆     ┆ "30303M102"]  ┆ null]            ┆                 ┆           │
│ Meta Platforms Inc   ┆ 2   ┆ ["30303M102"] ┆ ["US30303M1027"] ┆ [null,          ┆ 0.11325   │
│                      ┆     ┆               ┆                  ┆ "BBG000MM2P62"] ┆           │
│ Meta Platforms Inc.  ┆ 2   ┆ ["30303M102"] ┆ ["US30303M1027"] ┆ [null]          ┆ 0.11325   │
│ Meta Platforms, Inc  ┆ 1   ┆ ["30303M102"] ┆ [null]           ┆ [null]          ┆ 0.056625  │
└──────────────────────┴─────┴───────────────┴──────────────────┴─────────────────┴───────────┘

Normalized -- INTRA (n=1766)

shape: (1, 6)
┌──────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name          ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---                  ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str                  ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞══════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ META PLATFORMS, INC. ┆ 1766 ┆ ["30303M102"] ┆ ["US30303M1027"] ┆ ["BBG000MM2P62"] ┆ 100.0    │
└──────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=1766)

shape: (1, 6)
┌──────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name          ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---                  ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str                  ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞══════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ META PLATFORMS, INC. ┆ 1766 ┆ ["30303M102"] ┆ ["US30303M1027"] ┆ ["BBG000MM2P62"] ┆ 100.0    │
└──────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

            issuer_name  count
0  Meta Platforms, Inc.    949
1  META PLATFORMS, INC.    808
2        Meta Platforms      4
3    Meta Platforms Inc      2
4   Meta Platforms Inc.      2
5   Meta Platforms, Inc      1

************************************************************ AIR TRANSPORT ************************************************************
Un-Normalized (n=79)

shape: (3, 6)
┌───────────────────┬─────┬─────────────────────┬──────────────────────────┬───────────┬───────────┐
│ issuer_name       ┆ len ┆ cusip               ┆ isin                     ┆ figi      ┆ % of obs  │
│ ---               ┆ --- ┆ ---                 ┆ ---                      ┆ ---       ┆ ---       │
│ str               ┆ u32 ┆ list[str]           ┆ list[str]                ┆ list[str] ┆ f64       │
╞═══════════════════╪═════╪═════════════════════╪══════════════════════════╪═══════════╪═══════════╡
│ AIR TRANSPORT     ┆ 48  ┆ [null, "00922R105"] ┆ [null, "US00922R1059"]   ┆ [null]    ┆ 60.759494 │
│ SERVICES GROUP, … ┆     ┆                     ┆                          ┆           ┆           │
│ Air Transport     ┆ 30  ┆ ["00922R105"]       ┆ [null, "US00922R1059"]   ┆ [null]    ┆ 37.974684 │
│ Services Group, … ┆     ┆                     ┆                          ┆           ┆           │
│ AIR TRANSPORT     ┆ 1   ┆ ["00922R105"]       ┆ ["US00922R1059"]         ┆ [null]    ┆ 1.265823  │
│ SERVICES GROUP, … ┆     ┆                     ┆                          ┆           ┆           │
└───────────────────┴─────┴─────────────────────┴──────────────────────────┴───────────┴───────────┘

Normalized -- INTRA (n=79)

shape: (1, 6)
┌─────────────────────────────────┬─────┬───────────────┬──────────────────┬───────────┬──────────┐
│ issuer_name                     ┆ len ┆ cusip         ┆ isin             ┆ figi      ┆ % of obs │
│ ---                             ┆ --- ┆ ---           ┆ ---              ┆ ---       ┆ ---      │
│ str                             ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str] ┆ f64      │
╞═════════════════════════════════╪═════╪═══════════════╪══════════════════╪═══════════╪══════════╡
│ AIR TRANSPORT SERVICES GROUP, … ┆ 79  ┆ ["00922R105"] ┆ ["US00922R1059"] ┆ [null]    ┆ 100.0    │
└─────────────────────────────────┴─────┴───────────────┴──────────────────┴───────────┴──────────┘

Normalized -- NO INTRA (n=79)

shape: (1, 6)
┌─────────────────────────────────┬─────┬───────────────┬──────────────────┬───────────┬──────────┐
│ issuer_name                     ┆ len ┆ cusip         ┆ isin             ┆ figi      ┆ % of obs │
│ ---                             ┆ --- ┆ ---           ┆ ---              ┆ ---       ┆ ---      │
│ str                             ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str] ┆ f64      │
╞═════════════════════════════════╪═════╪═══════════════╪══════════════════╪═══════════╪══════════╡
│ AIR TRANSPORT SERVICES GROUP, … ┆ 79  ┆ ["00922R105"] ┆ ["US00922R1059"] ┆ [null]    ┆ 100.0    │
└─────────────────────────────────┴─────┴───────────────┴──────────────────┴───────────┴──────────┘

Consolidation Fodder:

                           issuer_name  count
0   AIR TRANSPORT SERVICES GROUP, INC.     48
1   Air Transport Services Group, Inc.     30
2  AIR TRANSPORT\nSERVICES GROUP, INC.      1

************************************************************ BANK OF AMERICA ************************************************************
Un-Normalized (n=1901)

shape: (11, 6)
┌────────────────────┬─────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name        ┆ len ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---                ┆ --- ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str                ┆ u32 ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞════════════════════╪═════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ BANK OF AMERICA    ┆ 961 ┆ ["060505633",     ┆ ["US0605051046",  ┆ ["BBG000BCTLF6",  ┆ 50.552341 │
│ CORPORATION        ┆     ┆ "060505625", … "… ┆ "US0605055831…    ┆ null]             ┆           │
│ Bank of America    ┆ 733 ┆ ["060505625",     ┆ ["US0605056334",  ┆ [null]            ┆ 38.558653 │
│ Corporation        ┆     ┆ "060505591", … n… ┆ "US0605051046…    ┆                   ┆           │
│ BANK OF AMERICA    ┆ 112 ┆ ["060505195",     ┆ [null]            ┆ [null]            ┆ 5.891636  │
│                    ┆     ┆ null, "060505104… ┆                   ┆                   ┆           │
│ Bank of America    ┆ 35  ┆ ["060505104",     ┆ [null,            ┆ [null]            ┆ 1.841136  │
│                    ┆     ┆ "000060505", nul… ┆ "US0605051046"]   ┆                   ┆           │
│ Bank of America    ┆ 25  ┆ ["060505104"]     ┆ [null,            ┆ ["BBG000BCTLF6",  ┆ 1.315097  │
│ Corp               ┆     ┆                   ┆ "US0605051046"]   ┆ null]             ┆           │
│ …                  ┆ …   ┆ …                 ┆ …                 ┆ …                 ┆ …         │
│ BANK OF AMERICA    ┆ 6   ┆ ["060505104"]     ┆ ["US0605051046",  ┆ [null]            ┆ 0.315623  │
│ CORP               ┆     ┆                   ┆ null]             ┆                   ┆           │
│ Bank of America    ┆ 5   ┆ ["605051040",     ┆ [null,            ┆ [null]            ┆ 0.263019  │
│ Corp.              ┆     ┆ "060505104"]      ┆ "US0605051046"]   ┆                   ┆           │
│ Bank Of America    ┆ 3   ┆ ["060505104"]     ┆ ["US0605051046"]  ┆ [null]            ┆ 0.157812  │
│ Corp.              ┆     ┆                   ┆                   ┆                   ┆           │
│ Bank of America    ┆ 2   ┆ ["060505104"]     ┆ ["US0605051046"]  ┆ [null]            ┆ 0.105208  │
│ Corporation (B…    ┆     ┆                   ┆                   ┆                   ┆           │
│ BANK OF AMERICA    ┆ 1   ┆ ["060505104"]     ┆ ["US0605051046"]  ┆ [null]            ┆ 0.052604  │
└────────────────────┴─────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=1904)

shape: (1, 6)
┌─────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name     ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---             ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str             ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ BANK OF AMERICA ┆ 1904 ┆ ["060505104"] ┆ ["US0605051046"] ┆ ["BBG000BCTLF6"] ┆ 100.0    │
│ CORPORATION     ┆      ┆               ┆                  ┆                  ┆          │
└─────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=1904)

shape: (1, 6)
┌─────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name     ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---             ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str             ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ BANK OF AMERICA ┆ 1904 ┆ ["060505104"] ┆ ["US0605051046"] ┆ ["BBG000BCTLF6"] ┆ 100.0    │
│ CORPORATION     ┆      ┆               ┆                  ┆                  ┆          │
└─────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

                          issuer_name  count
0         BANK OF AMERICA CORPORATION    961
1         Bank of America Corporation    733
2                     BANK OF AMERICA    112
3                     Bank of America     35
4                Bank of America Corp     25
5        BANK OF AMERICA\nCORPORATION     18
6                BANK OF AMERICA CORP      6
7               Bank of America Corp.      5
8               Bank Of America Corp.      3
9   Bank of America Corporation (BAC)      2
10              BANK AMERICA CORP COM      1
11                                BAC      1
12                             BMLPRH      1
13                   BANK OF AMERICA       1

************************************************************ BLACKROCK ************************************************************
Un-Normalized (n=1466)

shape: (38, 6)
┌────────────────────┬─────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name        ┆ len ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---                ┆ --- ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str                ┆ u32 ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞════════════════════╪═════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ BLACKROCK, INC.    ┆ 696 ┆ ["09247X101",     ┆ [null,            ┆ [null]            ┆ 47.476126 │
│                    ┆     ┆ null]             ┆ "US09247X1019"]   ┆                   ┆           │
│ BlackRock, Inc.    ┆ 456 ┆ ["09247K101",     ┆ ["US09247X1019",  ┆ [null,            ┆ 31.105048 │
│                    ┆     ┆ null, "09247X101… ┆ null]             ┆ "BBG000C2PW58"]   ┆           │
│ BLACKROCK INC      ┆ 46  ┆ ["09247X101"]     ┆ [null]            ┆ [null]            ┆ 3.13779   │
│ BlackRock Funds    ┆ 44  ┆ ["09260E105",     ┆ [null]            ┆ [null]            ┆ 3.001364  │
│                    ┆     ┆ "09247F209", … "… ┆                   ┆                   ┆           │
│ Blackrock          ┆ 22  ┆ ["09247X101"]     ┆ ["US09247X1019"]  ┆ [null]            ┆ 1.500682  │
│ …                  ┆ …   ┆ …                 ┆ …                 ┆ …                 ┆ …         │
│ BLACKROCK          ┆ 3   ┆ ["09248F109"]     ┆ ["US09248F1093"]  ┆ [null]            ┆ 0.204638  │
│ MUNICIPAL INCOME   ┆     ┆                   ┆                   ┆                   ┆           │
│ TRU…               ┆     ┆                   ┆                   ┆                   ┆           │
│ BLACKROCK, INC     ┆ 2   ┆ ["09247X101"]     ┆ [null]            ┆ [null]            ┆ 0.136426  │
│ BlackRock Inc      ┆ 1   ┆ ["09247X101"]     ┆ [null]            ┆ [null]            ┆ 0.068213  │
│ BlackRock US Core  ┆ 1   ┆ ["97MSCRP36"]     ┆ [null]            ┆ [null]            ┆ 0.068213  │
│ Property Fun…      ┆     ┆                   ┆                   ┆                   ┆           │
│ BLACKROCK          ┆ 1   ┆ ["09247X101"]     ┆ ["US09247X1019"]  ┆ [null]            ┆ 0.068213  │
└────────────────────┴─────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=1467)

shape: (24, 6)
┌─────────────────────┬──────┬───────────────┬────────────────────┬────────────────────┬───────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin               ┆ figi               ┆ % of obs  │
│ ---                 ┆ ---  ┆ ---           ┆ ---                ┆ ---                ┆ ---       │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]          ┆ list[str]          ┆ f64       │
╞═════════════════════╪══════╪═══════════════╪════════════════════╪════════════════════╪═══════════╡
│ BLACKROCK, INC.     ┆ 1243 ┆ ["09247X101", ┆ ["US09247X1019",   ┆ [null,             ┆ 84.730743 │
│                     ┆      ┆ null]         ┆ null]              ┆ "BBG000C2PW58"]    ┆           │
│ BLACKROCK FUNDS     ┆ 63   ┆ ["09260E105"] ┆ ["US09255R2022"]   ┆ ["BBG000BDC193"]   ┆ 4.294479  │
│ BLACKROCK VARIABLE  ┆ 16   ┆ ["09258X107"] ┆ ["US09258X1072"]   ┆ [null]             ┆ 1.090661  │
│ SERIES FUND…        ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK ESG       ┆ 16   ┆ ["09262F100"] ┆ ["US09262F1003"]   ┆ [null]             ┆ 1.090661  │
│ CAPITAL ALLOCATI…   ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK TCP       ┆ 15   ┆ ["09259E108"] ┆ ["US09259E1082"]   ┆ [null]             ┆ 1.022495  │
│ CAPITAL CORP.       ┆      ┆               ┆                    ┆                    ┆           │
│ …                   ┆ …    ┆ …             ┆ …                  ┆ …                  ┆ …         │
│ BLACKROCK MUNICIPAL ┆ 4    ┆ ["09249N101"] ┆ ["US09249N1019"]   ┆ ["BBG000NWS486"]   ┆ 0.272665  │
│ INCOME TRU…         ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK MUNI      ┆ 4    ┆ ["09253X102"] ┆ ["US09253X1028"]   ┆ [null]             ┆ 0.272665  │
│ INTER DURATION …    ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK CREDIT    ┆ 3    ┆ ["092508100"] ┆ ["US0925081004"]   ┆ ["BBG000QHYF20"]   ┆ 0.204499  │
│ ALLOCATION, I…      ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK MUNICIPAL ┆ 3    ┆ ["09248F109"] ┆ ["US09248F1093"]   ┆ [null]             ┆ 0.204499  │
│ INCOME TRU…         ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK US CORE   ┆ 1    ┆ ["97MSCRP36"] ┆ [null]             ┆ [null]             ┆ 0.068166  │
│ PROPERTY FUN…       ┆      ┆               ┆                    ┆                    ┆           │
└─────────────────────┴──────┴───────────────┴────────────────────┴────────────────────┴───────────┘

Normalized -- NO INTRA (n=1468)

shape: (24, 6)
┌─────────────────────┬──────┬───────────────┬────────────────────┬────────────────────┬───────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin               ┆ figi               ┆ % of obs  │
│ ---                 ┆ ---  ┆ ---           ┆ ---                ┆ ---                ┆ ---       │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]          ┆ list[str]          ┆ f64       │
╞═════════════════════╪══════╪═══════════════╪════════════════════╪════════════════════╪═══════════╡
│ BLACKROCK, INC.     ┆ 1244 ┆ ["09247X101", ┆ ["US09247X1019",   ┆ ["BBG000BR2B91",   ┆ 84.741144 │
│                     ┆      ┆ "717081103"]  ┆ "US7170811035…     ┆ "BBG000C2PW58…     ┆           │
│ BLACKROCK FUNDS     ┆ 63   ┆ ["09260E105"] ┆ ["US09255R2022"]   ┆ ["BBG000BDC193"]   ┆ 4.291553  │
│ BLACKROCK ESG       ┆ 16   ┆ ["09262F100"] ┆ ["US09262F1003"]   ┆ [null]             ┆ 1.089918  │
│ CAPITAL ALLOCATI…   ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK VARIABLE  ┆ 16   ┆ ["09258X107"] ┆ ["US09258X1072"]   ┆ [null]             ┆ 1.089918  │
│ SERIES FUND…        ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK TCP       ┆ 15   ┆ ["09259E108"] ┆ ["US09259E1082"]   ┆ [null]             ┆ 1.021798  │
│ CAPITAL CORP.       ┆      ┆               ┆                    ┆                    ┆           │
│ …                   ┆ …    ┆ …             ┆ …                  ┆ …                  ┆ …         │
│ BLACKROCK NY MUNI   ┆ 4    ┆ ["09253A813"] ┆ [null]             ┆ [null]             ┆ 0.27248   │
│ OPP FUNDS A1        ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK FLOATING  ┆ 4    ┆ ["09260B762"] ┆ [null]             ┆ [null]             ┆ 0.27248   │
│ RATE INC PO…        ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK CREDIT    ┆ 3    ┆ ["092508100"] ┆ ["US0925081004"]   ┆ ["BBG000QHYF20"]   ┆ 0.20436   │
│ ALLOCATION, I…      ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK MUNICIPAL ┆ 3    ┆ ["09248F109"] ┆ ["US09248F1093"]   ┆ [null]             ┆ 0.20436   │
│ INCOME TRU…         ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK US CORE   ┆ 1    ┆ ["97MSCRP36"] ┆ [null]             ┆ [null]             ┆ 0.06812   │
│ PROPERTY FUN…       ┆      ┆               ┆                    ┆                    ┆           │
└─────────────────────┴──────┴───────────────┴────────────────────┴────────────────────┴───────────┘

Consolidation Fodder:

                                 issuer_name  count
0                            BLACKROCK, INC.    696
1                            BlackRock, Inc.    456
2                              BLACKROCK INC     46
3                            BlackRock Funds     44
4                                  Blackrock     22
5           BLACKROCK ESG CAPITAL ALLOCATION     16
6   BlackRock Variable Series Funds II, Inc.     16
7                BLACKROCK TCP CAPITAL CORP.     15
8         BLACKROCK CAPITAL ALLOCATION TRUST     12
9                   BLACKROCK MUNIYIELD FUND      9
10                 BLACKROCK HEALTH SCIENCES      8
11          BLACKROCK DEBT STRATEGIES FD INC      8
12      BLACKROCK FLOATING RATE INCOME TRUST      8
13       BLACKROCK GLOBAL ENERGY & RESOURCES      8
14                           Blackrock, Inc.      8
15                            Blackrock Inc.      7
16                BLACKROCK MUNICIPAL TARGET      6
17          BLACKROCK MUNIYIELD INSURED FUND      6
18          BLACKROCK MUNIHOLDINGS FUND, INC      6
19          BLACKROCK MUNIVEST FUND II, INC.      6
20               BLACKROCK MUNIVEST FUND INC      6
21          BLACKROCK MUNIYIELD QUALITY FUND      6
22    BlackRock Taxable Municipal Bond Trust      6
23      BLACKROCK MUNI INTER DURATION FD INC      4
24             BlackRock Munivest Fund, Inc.      4
25       BlackRock Municipal Income Trust II      4
26            Blackrock High Yield Bond Port      4
27            Blackrock NY Muni Opp Funds A1      4
28          Blackrock Floating Rate Inc Port      4
29          Blackrock High Yield Bond Port K      4
30                                 BlackRock      3
31                    BlackRock Income Trust      3
32         BlackRock Credit Allocation, Inc.      3
33          BLACKROCK MUNICIPAL INCOME TRUST      3
34                            BLACKROCK, INC      2
35                             BlackRock Inc      1
36                                       BLK      1
37     BlackRock US Core Property Fund, L.P.      1
38                                BLACKROCK       1

************************************************************ SUNCOR ************************************************************
Un-Normalized (n=265)

shape: (6, 6)
┌────────────────────┬─────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name        ┆ len ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---                ┆ --- ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str                ┆ u32 ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞════════════════════╪═════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ SUNCOR ENERGY INC. ┆ 148 ┆ ["867224107",     ┆ ["CA8672241079",  ┆ [null]            ┆ 55.849057 │
│                    ┆     ┆ null]             ┆ null]             ┆                   ┆           │
│ Suncor Energy Inc. ┆ 65  ┆ ["867229106",     ┆ ["CA8672241079",  ┆ [null]            ┆ 24.528302 │
│                    ┆     ┆ null, "867224107… ┆ null]             ┆                   ┆           │
│ SUNCOR ENERGY INC  ┆ 36  ┆ ["867224107"]     ┆ ["CA8672241079",  ┆ [null,            ┆ 13.584906 │
│                    ┆     ┆                   ┆ null]             ┆ "BBG000BRK7L6"]   ┆           │
│ SUNCORP GROUP LTD  ┆ 12  ┆ ["Q88040110",     ┆ ["AU000000SUN6"]  ┆ [null]            ┆ 4.528302  │
│                    ┆     ┆ "Q8802S103"]      ┆                   ┆                   ┆           │
│ Suncor Energy,     ┆ 2   ┆ ["867224107"]     ┆ ["CA8672241079",  ┆ [null]            ┆ 0.754717  │
│ Inc.               ┆     ┆                   ┆ null]             ┆                   ┆           │
│ Suncor Energy Inc  ┆ 2   ┆ ["867224107"]     ┆ [null,            ┆ [null]            ┆ 0.754717  │
│                    ┆     ┆                   ┆ "CA8672241079"]   ┆                   ┆           │
└────────────────────┴─────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=265)

shape: (2, 6)
┌────────────────────┬─────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name        ┆ len ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                ┆ --- ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞════════════════════╪═════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ SUNCOR ENERGY INC. ┆ 253 ┆ ["867224107"] ┆ ["CA8672241079"] ┆ ["BBG000BRK7L6"] ┆ 95.471698 │
│ SUNCORP GROUP LTD  ┆ 12  ┆ ["Q88040110"] ┆ ["AU000000SUN6"] ┆ [null]           ┆ 4.528302  │
└────────────────────┴─────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Normalized -- NO INTRA (n=265)

shape: (2, 6)
┌────────────────────┬─────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name        ┆ len ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                ┆ --- ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞════════════════════╪═════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ SUNCOR ENERGY INC. ┆ 253 ┆ ["867224107"] ┆ ["CA8672241079"] ┆ ["BBG000BRK7L6"] ┆ 95.471698 │
│ SUNCORP GROUP LTD  ┆ 12  ┆ ["Q88040110"] ┆ ["AU000000SUN6"] ┆ [null]           ┆ 4.528302  │
└────────────────────┴─────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Consolidation Fodder:

           issuer_name  count
0   SUNCOR ENERGY INC.    148
1   Suncor Energy Inc.     65
2    SUNCOR ENERGY INC     36
3    SUNCORP GROUP LTD     12
4  Suncor Energy, Inc.      2
5    Suncor Energy Inc      2

************************************************************ CONOCO ************************************************************
Un-Normalized (n=1251)

shape: (7, 6)
┌─────────────────────┬─────┬────────────────┬────────────────────┬────────────────────┬───────────┐
│ issuer_name         ┆ len ┆ cusip          ┆ isin               ┆ figi               ┆ % of obs  │
│ ---                 ┆ --- ┆ ---            ┆ ---                ┆ ---                ┆ ---       │
│ str                 ┆ u32 ┆ list[str]      ┆ list[str]          ┆ list[str]          ┆ f64       │
╞═════════════════════╪═════╪════════════════╪════════════════════╪════════════════════╪═══════════╡
│ CONOCOPHILLIPS      ┆ 682 ┆ [null,         ┆ [null,             ┆ [null,             ┆ 54.516387 │
│                     ┆     ┆ "20825C104", … ┆ "US20825C1045"]    ┆ "BBG000BQQH30"]    ┆           │
│                     ┆     ┆ "718507B…      ┆                    ┆                    ┆           │
│ ConocoPhillips      ┆ 509 ┆ ["20825C104",  ┆ ["US20825C1045",   ┆ ["BBG000BQQH30",   ┆ 40.68745  │
│                     ┆     ┆ null]          ┆ null]              ┆ null]              ┆           │
│ CONOCO PHILLIPS     ┆ 48  ┆ ["20825C104"]  ┆ [null]             ┆ [null]             ┆ 3.83693   │
│ Conoco Phillips     ┆ 6   ┆ ["20825C104",  ┆ ["US20825C1045",   ┆ [null]             ┆ 0.479616  │
│                     ┆     ┆ null]          ┆ null]              ┆                    ┆           │
│ Conocophillips      ┆ 4   ┆ ["20825C104"]  ┆ [null]             ┆ [null]             ┆ 0.319744  │
│ CONOCOPHILLIPS COM  ┆ 1   ┆ ["20825C104"]  ┆ ["US20825C1045"]   ┆ [null]             ┆ 0.079936  │
│ CONOCO PHILLIPS     ┆ 1   ┆ ["20825C104"]  ┆ ["US20825C1045"]   ┆ [null]             ┆ 0.079936  │
└─────────────────────┴─────┴────────────────┴────────────────────┴────────────────────┴───────────┘

Normalized -- INTRA (n=1252)

shape: (1, 6)
┌────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name    ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---            ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str            ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ CONOCOPHILLIPS ┆ 1252 ┆ ["20825C104"] ┆ ["US20825C1045"] ┆ ["BBG000BQQH30"] ┆ 100.0    │
└────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=1252)

shape: (1, 6)
┌────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name    ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---            ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str            ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ CONOCOPHILLIPS ┆ 1252 ┆ ["20825C104"] ┆ ["US20825C1045"] ┆ ["BBG000BQQH30"] ┆ 100.0    │
└────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

          issuer_name  count
0      CONOCOPHILLIPS    682
1      ConocoPhillips    509
2     CONOCO PHILLIPS     48
3     Conoco Phillips      6
4      Conocophillips      4
5  CONOCOPHILLIPS COM      1
6                 COP      1
7    CONOCO PHILLIPS       1

************************************************************ PHILLIPS 66 ************************************************************
Un-Normalized (n=719)

shape: (3, 6)
┌───────────────────┬─────┬───────────────┬──────────────────┬─────────────────────────┬───────────┐
│ issuer_name       ┆ len ┆ cusip         ┆ isin             ┆ figi                    ┆ % of obs  │
│ ---               ┆ --- ┆ ---           ┆ ---              ┆ ---                     ┆ ---       │
│ str               ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str]               ┆ f64       │
╞═══════════════════╪═════╪═══════════════╪══════════════════╪═════════════════════════╪═══════════╡
│ PHILLIPS 66       ┆ 420 ┆ ["718546104", ┆ ["US7185461040", ┆ [null, "BBG00286S4N9"]  ┆ 58.414465 │
│                   ┆     ┆ null]         ┆ null]            ┆                         ┆           │
│ Phillips 66       ┆ 298 ┆ ["718546104", ┆ ["US7185461040", ┆ [null]                  ┆ 41.446453 │
│                   ┆     ┆ null]         ┆ null]            ┆                         ┆           │
│ Phillips 66 (PSX) ┆ 1   ┆ ["718546104"] ┆ ["US7185461040"] ┆ [null]                  ┆ 0.139082  │
└───────────────────┴─────┴───────────────┴──────────────────┴─────────────────────────┴───────────┘

Normalized -- INTRA (n=722)

shape: (1, 6)
┌─────────────┬─────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name ┆ len ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---         ┆ --- ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str         ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════╪═════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ PHILLIPS 66 ┆ 722 ┆ ["718546104"] ┆ ["US7185461040"] ┆ ["BBG00286S4N9"] ┆ 100.0    │
└─────────────┴─────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=722)

shape: (1, 6)
┌─────────────┬─────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name ┆ len ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---         ┆ --- ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str         ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════╪═════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ PHILLIPS 66 ┆ 722 ┆ ["718546104"] ┆ ["US7185461040"] ┆ ["BBG00286S4N9"] ┆ 100.0    │
└─────────────┴─────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

         issuer_name  count
0        PHILLIPS 66    420
1        Phillips 66    298
2        PHILLIPS 73      1
3        Phillips 68      1
4         Phillps 66      1
5  Phillips 66 (PSX)      1

In [50]:
votes.filter(normed5["issuer_name"] != votes["issuer_name"]).select(COMPANY_COLS)

shape: (286_424, 4)
┌─────────────────────────────────┬───────────┬──────────────┬──────┐
│ issuer_name                     ┆ cusip     ┆ isin         ┆ figi │
│ ---                             ┆ ---       ┆ ---          ┆ ---  │
│ str                             ┆ str       ┆ str          ┆ str  │
╞═════════════════════════════════╪═══════════╪══════════════╪══════╡
│ AMPHENOL CORPORATION            ┆ 032095101 ┆ US0320951017 ┆ null │
│ THE SHERWIN-WILLIAMS COMPANY    ┆ 824348106 ┆ US8243481061 ┆ null │
│ THE SHERWIN-WILLIAMS COMPANY    ┆ 824348106 ┆ US8243481061 ┆ null │
│ AMPHENOL CORPORATION            ┆ 032095101 ┆ US0320951017 ┆ null │
│ Toast, Inc.                     ┆ 888787108 ┆ null         ┆ null │
│ …                               ┆ …         ┆ …            ┆ …    │
│ INTEL CORPORATION               ┆ 458140100 ┆ null         ┆ null │
│ THE SHERWIN-WILLIAMS COMPANY    ┆ 824348106 ┆ null         ┆ null │
│ THE KROGER CO.                  ┆ 501044101 ┆ null         ┆ null │
│ CHOICE HOTELS INTERNATIONAL, I… ┆ 169905106 ┆ null         ┆ null │
│ HUBBELL INCORPORATED            ┆ 443510607 ┆ null         ┆ null │
└─────────────────────────────────┴───────────┴──────────────┴──────┘

In [51]:
normed5.filter(normed5["issuer_name"] != votes["issuer_name"]).select(COMPANY_COLS)

shape: (286_424, 4)
┌─────────────────────────────────┬───────────┬──────────────┬──────────────┐
│ issuer_name                     ┆ cusip     ┆ isin         ┆ figi         │
│ ---                             ┆ ---       ┆ ---          ┆ ---          │
│ str                             ┆ str       ┆ str          ┆ str          │
╞═════════════════════════════════╪═══════════╪══════════════╪══════════════╡
│ Amphenol Corporation            ┆ 032095101 ┆ US0320951017 ┆ null         │
│ The Sherwin-Williams Company    ┆ 824348106 ┆ US8243481061 ┆ BBG000BSXQV7 │
│ The Sherwin-Williams Company    ┆ 824348106 ┆ US8243481061 ┆ BBG000BSXQV7 │
│ Amphenol Corporation            ┆ 032095101 ┆ US0320951017 ┆ null         │
│ TOAST, INC.                     ┆ 888787108 ┆ US8887871080 ┆ null         │
│ …                               ┆ …         ┆ …            ┆ …            │
│ Intel Corporation               ┆ 458140100 ┆ US4581401001 ┆ BBG000C0G1D1 │
│ The Sherwin-Williams Company    ┆ 824348106 ┆ US8243481061 ┆ BBG000BSXQV7 │
│ The Kroger Co.                  ┆ 501044101 ┆ US5010441013 ┆ BBG000BMY992 │
│ Choice Hotels International, I… ┆ 169905106 ┆ US1699051066 ┆ null         │
│ Hubbell Incorporated            ┆ 443510607 ┆ US4435106079 ┆ null         │
└─────────────────────────────────┴───────────┴──────────────┴──────────────┘

In [42]:
normed5["cusip"].n_unique()

7545

In [14]:
votes.select(COMPANY_COLS)

shape: (778_944, 4)
┌─────────────────────────────────┬───────────┬──────────────┬──────┐
│ issuer_name                     ┆ cusip     ┆ isin         ┆ figi │
│ ---                             ┆ ---       ┆ ---          ┆ ---  │
│ str                             ┆ str       ┆ str          ┆ str  │
╞═════════════════════════════════╪═══════════╪══════════════╪══════╡
│ CANADIAN PACIFIC KANSAS CITY L… ┆ 13646K108 ┆ CA13646K1084 ┆ null │
│ AAON, INC.                      ┆ 000360206 ┆ US0003602069 ┆ null │
│ AMAZON.COM, INC.                ┆ 023135106 ┆ US0231351067 ┆ null │
│ AMPHENOL CORPORATION            ┆ 032095101 ┆ US0320951017 ┆ null │
│ MICROSOFT CORPORATION           ┆ 594918104 ┆ US5949181045 ┆ null │
│ …                               ┆ …         ┆ …            ┆ …    │
│ VERALTO CORPORATION             ┆ 92338C103 ┆ null         ┆ null │
│ ANALOG DEVICES, INC.            ┆ 032654105 ┆ null         ┆ null │
│ EDITAS MEDICINE, INC.           ┆ 28106W103 ┆ null         ┆ null │
│ LOCKHEED MARTIN CORPORATION     ┆ 539830109 ┆ null         ┆ null │
│ INTUIT INC.                     ┆ 461202103 ┆ null         ┆ null │
└─────────────────────────────────┴───────────┴──────────────┴──────┘

In [6]:
normed5.select(pl.all().is_null().sum())

shape: (1, 4)
┌─────────────┬───────┬──────┬────────┐
│ issuer_name ┆ cusip ┆ isin ┆ figi   │
│ ---         ┆ ---   ┆ ---  ┆ ---    │
│ u32         ┆ u32   ┆ u32  ┆ u32    │
╞═════════════╪═══════╪══════╪════════╡
│ 0           ┆ 11703 ┆ 8315 ┆ 514694 │
└─────────────┴───────┴──────┴────────┘

In [ ]:
normed4 = normalize_subset4(
    votes,
    connected_subgraphs_postprocessor=partition_subgraphs,
    cols_to_normalize=["issuer_name", "cusip", "isin", "figi"],
)

In [ ]:
pp3 = partial(
    partition_subgraphs,
    # verbose=True,
)


normed3 = normalize_subset3(
    votes,
    connected_subgraphs_postprocessor=pp3,
    cols_to_normalize=["issuer_name", "cusip", "isin", "figi"],
)

In [ ]:
normed3

In [ ]:
normed3.select(COMPANY_COLS.is_null()).sum().sum_horizontal()

In [ ]:
votes.select(COMPANY_COLS.is_null().sum()).sum_horizontal().item()

## Check that removed nodes are repopulated

In [5]:
G = tuple(
    unconsolidated_df_to_subgraphs(
        votes.select(COMPANY_COLS), connected_subgraphs_postprocessor=None
    )
)

In [6]:
sb = extract_specific_name_subgraph(G, "STARBUCKS")

In [ ]:
len(sb.nodes)

In [ ]:
partitioned = partition_subgraphs(sb, verbose=True)

In [ ]:
print(len(partitioned.nodes))
draw_graph(partitioned, 5)

In [10]:
G = tuple(
    unconsolidated_df_to_subgraphs(
        votes.select(COMPANY_COLS), connected_subgraphs_postprocessor=None
    )
)

In [ ]:
list(G[0].nodes.data())[0]

In [ ]:
partition_via_louvain(G[4], verbose=True)
# draw_graph(G[4], 5)

In [ ]:
from record_consolidation.df_consolidations import normalize_subset

pp = partial(
    partition_subgraphs,
    # verbose=True,
)

atomic = atomize_records(
    votes.select(COMPANY_COLS), connected_subgraphs_postprocessor=pp
)
normed = normalize_subset(
    votes,
    connected_subgraphs_postprocessor=pp,
    cols_to_normalize=["issuer_name", "cusip", "isin", "figi"],
)

In [ ]:
votes.select(pl.all().is_null().sum())

In [ ]:
normed.select(
    pl.all().is_null().sum()
)  # .filter(pl.col("issuer_name") == pl.lit("AAON, INC."))

In [ ]:
atomic.select(pl.all().is_null().sum())

# ISSUE

## Problem
Nulls are being propagated in the 

## Diagnosis
(Best guess): When nodes are cut wholesale out of the graph - rather than even just having all edges cut - they don't end up in the canonical mapping, and so become null...

In [ ]:
removed_issuers = (
    votes.filter(normed["issuer_name"].is_null())
    .filter(pl.col("issuer_name").is_not_null())["issuer_name"]
    .unique()
    .to_list()
)
removed_issuers

In [ ]:
emerson = extract_specific_name_subgraph(G, "emerson electric co.")
draw_graph(emerson, 5)

In [ ]:
emerson_partitioned = partition_subgraphs(
    emerson, verbose=True, verbose_within_partitioning_algs=True
)

In [ ]:
for issuer in removed_issuers:
    try:
        draw_graph(extract_specific_name_subgraph(G, issuer), size=5)
    except:
        print(issuer)

In [ ]:
votes.select(COMPANY_COLS).filter(
    pl.col("issuer_name") == pl.lit("Northrup Grumman Corporation ")
)

In [ ]:
removed_issuers

In [ ]:
atomized_subset = atomize_records(
    votes.select(COMPANY_COLS), connected_subgraphs_postprocessor=pp
)

In [ ]:
s = "walmart"
atomized_subset.filter(pl.col("issuer_name").str.contains(f"(?i){s}"))

In [ ]:
atomized_subset.filter(pl.col("issuer_name").is_in(removed_issuers))

In [26]:
normed_comps = normed.select(COMPANY_COLS)

In [ ]:
normed_comps.filter(pl.col("issuer_name").is_null())

In [ ]:
normed3

In [ ]:
votes

In [ ]:
null_issuers = normed_comps["issuer_name"].is_null()


display(votes.select(COMPANY_COLS).filter(null_issuers).head())  # .sort(
#     pl.all()
# ).unique(maintain_order=True).to_pandas()
display(normed_comps.filter(null_issuers).head())

In [ ]:
atomized_subset.filter(cusip="291011104")

In [ ]:
normed.select(pl.all().is_null().sum())