In [24]:
import polars as pl
from record_consolidation.graphs import (
    unconsolidated_df_to_subgraphs,
)
from record_consolidation.subgraph_post_processing.specific_algs.deprecated__split_high_betweenness import (
    draw_graph,
)
import networkx as nx

from record_consolidation.subgraph_post_processing.specific_algs.partition_companies import (
    partition_companies_graph_where_necessary,
)

from record_consolidation.subgraph_post_processing.specific_algs.partitioning_algs import (
    partition_via_louvain,
)

from functools import partial
from record_consolidation.graphs import extract_normalized_atomic

from record_consolidation.df_consolidations import (
    normalize_subset,
)

In [25]:
from typing import Iterable
from warnings import warn


def extract_specific_name_subgraph(
    connected_subgs: Iterable[nx.Graph], name: str
) -> nx.Graph:
    collected: list[nx.Graph] = []
    for subg in connected_subgs:
        for n in subg.nodes.data():
            if name.lower() in (n[0]).lower():
                collected.append(subg)
    collected = set(collected)
    if len(collected) == 0:
        raise ValueError(f"Could not find {name=} in connected_subgs.")
    if len(collected) > 1:
        alert_str = f"{len(collected)} subgraphs have {name=}.\n{[len(subg.nodes) for subg in collected]=}"
        warn(alert_str)
        return max(collected, key=lambda g: len(g.nodes))

        # raise ValueError(alert_str)
    return tuple(collected)[0]

In [26]:
# votes: pl.DataFrame = access_db_table("raw_output", "votes")
votes: pl.DataFrame = pl.read_parquet("raw_votes.parquet")
COMPANY_COLS = pl.col(["issuer_name", "cusip", "isin", "figi"])
COMPANY_COLS_L = ["issuer_name", "cusip", "isin", "figi"]
MEETING_COLS = pl.col(["issuer_name", "meeting_date", "cusip", "isin", "figi"])

In [27]:
# from record_consolidation.utils.polars_df import remove_string_nulls_and_uppercase


# raw_subgraphs = tuple(
#     unconsolidated_df_to_subgraphs(
#         votes.select(COMPANY_COLS),
#         connected_subgraphs_postprocessor=None,
#         pre_processing_fnc=remove_string_nulls_and_uppercase,
#     )
# )
# mattel_subg = extract_specific_name_subgraph(raw_subgraphs, "mattel")
# draw_graph(mattel_subg, 7)

In [28]:
# from record_consolidation.graphs import extract_consolidation_mapping_from_subgraphs
# from record_consolidation.utils.polars_df import remove_string_nulls_and_uppercase


# canonical_mapping = extract_consolidation_mapping_from_subgraphs(
#     unconsolidated_df_to_subgraphs(
#         votes.select(COMPANY_COLS),
#         connected_subgraphs_postprocessor=partition_companies_graph_where_necessary,
#         pre_processing_fnc=remove_string_nulls_and_uppercase,
#     )
# )

In [29]:
normed5_intra = normalize_subset(
    votes,
    connected_subgraphs_postprocessor=partition_companies_graph_where_necessary,
    cols_to_normalize=["issuer_name", "cusip", "isin", "figi"],
)
normed5_NO_intra = normalize_subset(
    votes,
    connected_subgraphs_postprocessor=partition_companies_graph_where_necessary,
    cols_to_normalize=["issuer_name", "cusip", "isin", "figi"],
    consolidate_twice=False,
)

KeyboardInterrupt:

In [7]:
jpmorgans = normed5_intra.filter(
    pl.col("issuer_name").str.contains("(?i)jpmorgan")
).sort(["accession", "order_recorded"], descending=False)
jpmorgans.write_csv("jpmorgans.csv")
jpmorgans["meeting_date"].value_counts(sort=True)

shape: (6, 2)
┌──────────────┬───────┐
│ meeting_date ┆ count │
│ ---          ┆ ---   │
│ str          ┆ u32   │
╞══════════════╪═══════╡
│ 2024-05-21   ┆ 2641  │
│ 2024-05-22   ┆ 9     │
│ 2024-05-20   ┆ 4     │
│ 0024-05-20   ┆ 1     │
│ 2024-05-24   ┆ 1     │
│ 2134-07-25   ┆ 1     │
└──────────────┴───────┘

In [8]:
import plotly.express as px

In [9]:
px.histogram(
    jpmorgans.group_by("accession").agg(pl.len()).sort("len"), x="len", nbins=160
)

In [32]:
jpmorgans.write_csv("jpmorgans.csv")

In [21]:
px.histogram(
    jpmorgans.group_by("filer_cik")
    .agg(
        pl.col("order_recorded"),
        pl.col("order_recorded").len().alias("n_order_recorded"),
    )
    .sort("n_order_recorded", descending=True)
    .filter(pl.col("n_order_recorded") < pl.lit(800)),
    x="n_order_recorded",
    nbins=50,
)

In [24]:
jpmorgans["order_recorded"].value_counts(sort=True).head(30).to_pandas()

    order_recorded  count
0                0    787
1                1    132
2                2    106
3                3     94
4                4     92
5                5     92
6                6     91
7                9     91
8               10     91
9                7     91
10               8     91
11              13     89
12              18     89
13              11     89
14              14     89
15              15     89
16              17     89
17              12     89
18              16     89
19              19     88
20              20      9
21              21      3
22              23      3
23              25      3
24              22      3
25              24      3
26              26      3
27              43      2
28              44      2
29              45      2

In [10]:
for col in COMPANY_COLS_L:
    print(col)
    new_nulls = votes[col].is_not_null() & normed5_intra[col].is_null()
    print(votes.filter(new_nulls))

issuer_name
shape: (0, 24)
┌─────────────┬───────┬──────┬──────┬───┬───────────┬────────────┬─────────┬──────────────┐
│ issuer_name ┆ cusip ┆ isin ┆ figi ┆ … ┆ filer_cik ┆ filer_name ┆ fund_id ┆ fund_id_type │
│ ---         ┆ ---   ┆ ---  ┆ ---  ┆   ┆ ---       ┆ ---        ┆ ---     ┆ ---          │
│ str         ┆ str   ┆ str  ┆ str  ┆   ┆ str       ┆ str        ┆ str     ┆ str          │
╞═════════════╪═══════╪══════╪══════╪═══╪═══════════╪════════════╪═════════╪══════════════╡
└─────────────┴───────┴──────┴──────┴───┴───────────┴────────────┴─────────┴──────────────┘
cusip
shape: (0, 24)
┌─────────────┬───────┬──────┬──────┬───┬───────────┬────────────┬─────────┬──────────────┐
│ issuer_name ┆ cusip ┆ isin ┆ figi ┆ … ┆ filer_cik ┆ filer_name ┆ fund_id ┆ fund_id_type │
│ ---         ┆ ---   ┆ ---  ┆ ---  ┆   ┆ ---       ┆ ---        ┆ ---     ┆ ---          │
│ str         ┆ str   ┆ str  ┆ str  ┆   ┆ str       ┆ str        ┆ str     ┆ str          │
╞═════════════╪═══════╪══════╪══════╪═══╪═══════════╪════════════╪═════════╪══════════════╡
└─────────────┴───────┴──────┴──────┴───┴───────────┴────────────┴─────────┴──────────────┘
isin
shape: (0, 24)
┌─────────────┬───────┬──────┬──────┬───┬───────────┬────────────┬─────────┬──────────────┐
│ issuer_name ┆ cusip ┆ isin ┆ figi ┆ … ┆ filer_cik ┆ filer_name ┆ fund_id ┆ fund_id_type │
│ ---         ┆ ---   ┆ ---  ┆ ---  ┆   ┆ ---       ┆ ---        ┆ ---     ┆ ---          │
│ str         ┆ str   ┆ str  ┆ str  ┆   ┆ str       ┆ str        ┆ str     ┆ str          │
╞═════════════╪═══════╪══════╪══════╪═══╪═══════════╪════════════╪═════════╪══════════════╡
└─────────────┴───────┴──────┴──────┴───┴───────────┴────────────┴─────────┴──────────────┘
figi
shape: (0, 24)
┌─────────────┬───────┬──────┬──────┬───┬───────────┬────────────┬─────────┬──────────────┐
│ issuer_name ┆ cusip ┆ isin ┆ figi ┆ … ┆ filer_cik ┆ filer_name ┆ fund_id ┆ fund_id_type │
│ ---         ┆ ---   ┆ ---  ┆ ---  ┆   ┆ ---       ┆ ---        ┆ ---     ┆ ---          │
│ str         ┆ str   ┆ str  ┆ str  ┆   ┆ str       ┆ str        ┆ str     ┆ str          │
╞═════════════╪═══════╪══════╪══════╪═══╪═══════════╪════════════╪═════════╪══════════════╡
└─────────────┴───────┴──────┴──────┴───┴───────────┴────────────┴─────────┴──────────────┘

In [11]:
# older

display(
    votes.select(COMPANY_COLS.is_null().sum())
    / normed5_intra.select(pl.all().is_null().sum())
)

shape: (1, 4)
┌─────────────┬──────────┬───────────┬──────────┐
│ issuer_name ┆ cusip    ┆ isin      ┆ figi     │
│ ---         ┆ ---      ┆ ---       ┆ ---      │
│ f64         ┆ f64      ┆ f64       ┆ f64      │
╞═════════════╪══════════╪═══════════╪══════════╡
│ NaN         ┆ 4.746032 ┆ 95.557173 ┆ 1.505622 │
└─────────────┴──────────┴───────────┴──────────┘

In [12]:
# prev

display(
    votes.select(COMPANY_COLS.is_null().sum())
    / normed5_intra.select(pl.all().is_null().sum())
)

shape: (1, 4)
┌─────────────┬──────────┬───────────┬──────────┐
│ issuer_name ┆ cusip    ┆ isin      ┆ figi     │
│ ---         ┆ ---      ┆ ---       ┆ ---      │
│ f64         ┆ f64      ┆ f64       ┆ f64      │
╞═════════════╪══════════╪═══════════╪══════════╡
│ NaN         ┆ 4.746032 ┆ 95.557173 ┆ 1.505622 │
└─────────────┴──────────┴───────────┴──────────┘

In [13]:
display(
    votes.select(COMPANY_COLS.is_null().sum())
    / normed5_intra.select(pl.all().is_null().sum())
)

shape: (1, 4)
┌─────────────┬──────────┬───────────┬──────────┐
│ issuer_name ┆ cusip    ┆ isin      ┆ figi     │
│ ---         ┆ ---      ┆ ---       ┆ ---      │
│ f64         ┆ f64      ┆ f64       ┆ f64      │
╞═════════════╪══════════╪═══════════╪══════════╡
│ NaN         ┆ 4.746032 ┆ 95.557173 ┆ 1.505622 │
└─────────────┴──────────┴───────────┴──────────┘

In [14]:
votes["issuer_name"].n_unique()

19277

In [15]:
normed5_intra["issuer_name"].value_counts(sort=True).head(30).to_series().to_list()

['MICROSOFT CORPORATION',
 'THE WALT DISNEY COMPANY',
 'AMAZON.COM, INC.',
 'ALPHABET INC.',
 'JPMORGAN CHASE & CO.',
 'THE PROCTER & GAMBLE COMPANY',
 'ORACLE CORPORATION',
 'CISCO SYSTEMS, INC.',
 'APPLE INC.',
 'JOHNSON & JOHNSON',
 'PEPSICO, INC.',
 'VISA INC.',
 'CHEVRON CORPORATION',
 'MASTERCARD INCORPORATED',
 'ABBVIE INC.',
 'BANK OF AMERICA CORPORATION',
 'MERCK & CO., INC.',
 'CHUBB LIMITED',
 'THE HOME DEPOT, INC.',
 'NVIDIA CORPORATION',
 'TE CONNECTIVITY LTD.',
 'EXXON MOBIL CORPORATION',
 'META PLATFORMS, INC.',
 'UNITEDHEALTH GROUP INCORPORATED',
 'VERIZON COMMUNICATIONS INC.',
 'THE COCA-COLA COMPANY',
 'SALESFORCE, INC.',
 "MCDONALD'S CORPORATION",
 'WELLS FARGO & COMPANY',
 'ADOBE INC.']

In [16]:
from record_consolidation.utils.polars_df import remove_string_nulls_and_uppercase


atomic = extract_normalized_atomic(
    votes.select(COMPANY_COLS),
    partition_companies_graph_where_necessary,
    pre_processing_fnc=remove_string_nulls_and_uppercase,
)

Post-processing subgraphs.

7615it [00:02, 3299.10it/s]

In [19]:
atomic

shape: (7_690, 4)
┌───────────┬──────────────┬─────────────────────────────────┬──────────────┐
│ cusip     ┆ isin         ┆ issuer_name                     ┆ figi         │
│ ---       ┆ ---          ┆ ---                             ┆ ---          │
│ str       ┆ str          ┆ str                             ┆ str          │
╞═══════════╪══════════════╪═════════════════════════════════╪══════════════╡
│ 13646K108 ┆ CA13646K1084 ┆ CANADIAN PACIFIC KANSAS CITY L… ┆ null         │
│ 000360206 ┆ US0003602069 ┆ AAON, INC.                      ┆ null         │
│ 023135106 ┆ US0231351067 ┆ AMAZON.COM, INC.                ┆ BBG000BVPV84 │
│ 032095101 ┆ US0320951017 ┆ AMPHENOL CORPORATION            ┆ null         │
│ 26441C204 ┆ US26441C2044 ┆ DUKE ENERGY CORPORATION         ┆ null         │
│ …         ┆ …            ┆ …                               ┆ …            │
│ 78074G200 ┆ US78074G2003 ┆ ROYALE ENERGY, INC.             ┆ null         │
│ G3654P100 ┆ GB00BCKFY513 ┆ FOXTONS GROUP PLC               ┆ null         │
│ K16018192 ┆ DK0060448595 ┆ COLOPLAST A/S                   ┆ null         │
│ 629444100 ┆ US6294441000 ┆ NRX PHARMACEUTICALS, INC.       ┆ null         │
│ 524686623 ┆ null         ┆ LEGG MASON                      ┆ null         │
└───────────┴──────────────┴─────────────────────────────────┴──────────────┘

In [20]:
names_comparison = pl.concat(
    [
        votes.select("issuer_name"),
        normed5_intra.select("issuer_name").rename(
            {"issuer_name": "normed_issuer_name"}
        ),
    ],
    how="horizontal",
)
names_comparison

shape: (778_944, 2)
┌─────────────────────────────────┬─────────────────────────────────┐
│ issuer_name                     ┆ normed_issuer_name              │
│ ---                             ┆ ---                             │
│ str                             ┆ str                             │
╞═════════════════════════════════╪═════════════════════════════════╡
│ CANADIAN PACIFIC KANSAS CITY L… ┆ CANADIAN PACIFIC KANSAS CITY L… │
│ AAON, INC.                      ┆ AAON, INC.                      │
│ AMAZON.COM, INC.                ┆ AMAZON.COM, INC.                │
│ AMPHENOL CORPORATION            ┆ AMPHENOL CORPORATION            │
│ MICROSOFT CORPORATION           ┆ MICROSOFT CORPORATION           │
│ …                               ┆ …                               │
│ VERALTO CORPORATION             ┆ VERALTO CORPORATION             │
│ ANALOG DEVICES, INC.            ┆ ANALOG DEVICES, INC.            │
│ EDITAS MEDICINE, INC.           ┆ EDITAS MEDICINE, INC.           │
│ LOCKHEED MARTIN CORPORATION     ┆ LOCKHEED MARTIN CORPORATION     │
│ INTUIT INC.                     ┆ INTUIT INC.                     │
└─────────────────────────────────┴─────────────────────────────────┘

In [21]:
names_comparison.filter(pl.col("issuer_name").str.contains("(?i)conoco phillips"))

shape: (55, 2)
┌──────────────────┬────────────────────┐
│ issuer_name      ┆ normed_issuer_name │
│ ---              ┆ ---                │
│ str              ┆ str                │
╞══════════════════╪════════════════════╡
│ Conoco Phillips  ┆ CONOCOPHILLIPS     │
│ Conoco Phillips  ┆ CONOCOPHILLIPS     │
│ Conoco Phillips  ┆ CONOCOPHILLIPS     │
│ Conoco Phillips  ┆ CONOCOPHILLIPS     │
│ Conoco Phillips  ┆ CONOCOPHILLIPS     │
│ …                ┆ …                  │
│ CONOCO PHILLIPS  ┆ CONOCOPHILLIPS     │
│ CONOCO PHILLIPS  ┆ CONOCOPHILLIPS     │
│ CONOCO PHILLIPS  ┆ CONOCOPHILLIPS     │
│ CONOCO PHILLIPS  ┆ CONOCOPHILLIPS     │
│ CONOCO PHILLIPS  ┆ CONOCOPHILLIPS     │
└──────────────────┴────────────────────┘

In [22]:
normed5_intra.filter(
    (pl.col("issuer_name") == pl.lit("MICROSOFT CORPORATION"))
    & (pl.col("cusip").is_null())
)

shape: (0, 24)
┌─────────────┬───────┬──────┬──────┬───┬───────────┬────────────┬─────────┬──────────────┐
│ issuer_name ┆ cusip ┆ isin ┆ figi ┆ … ┆ filer_cik ┆ filer_name ┆ fund_id ┆ fund_id_type │
│ ---         ┆ ---   ┆ ---  ┆ ---  ┆   ┆ ---       ┆ ---        ┆ ---     ┆ ---          │
│ str         ┆ str   ┆ str  ┆ str  ┆   ┆ str       ┆ str        ┆ str     ┆ str          │
╞═════════════╪═══════╪══════╪══════╪═══╪═══════════╪════════════╪═════════╪══════════════╡
└─────────────┴───────┴──────┴──────┴───┴───────────┴────────────┴─────────┴──────────────┘

In [30]:
for name in (
    # normed5["issuer_name"].value_counts(sort=True).head(30).to_series().to_list()
    [
        "microsoft",
        "disney",
        "amazon",
        "jpmorgan",
        "procter",
        "oracle",
        "apple",
        "visa",
        "exxon",
        "chevron",
        "meta platform",
        "air transport",
        "bank of america",
        "blackrock",
        "suncor",
        "conoco",
        "phillips 66",
    ]
):
    print("*" * 60, name.upper(), "*" * 60)
    t_unnormalized = (
        votes.select(COMPANY_COLS)
        .filter(pl.col("issuer_name").str.contains(f"(?i){name}"))
        .group_by("issuer_name")
        .agg(pl.len(), pl.all().unique())
        .with_columns((pl.col("len") * 100 / pl.col("len").sum()).alias("% of obs"))
        .sort("len", descending=True)
    )
    print(f"Un-Normalized (n={t_unnormalized["len"].sum()})")
    display(t_unnormalized)

    t_intra = (
        normed5_intra.select(COMPANY_COLS)
        .filter(pl.col("issuer_name").str.contains(f"(?i){name}"))
        .group_by("issuer_name")
        .agg(pl.len(), pl.all().unique())
        .with_columns((pl.col("len") * 100 / pl.col("len").sum()).alias("% of obs"))
        .sort("len", descending=True)
    )
    print(f"Normalized -- INTRA (n={t_intra["len"].sum()})")
    display(t_intra)

    t = (
        normed5_NO_intra.select(COMPANY_COLS)
        .filter(pl.col("issuer_name").str.contains(f"(?i){name}"))
        .group_by("issuer_name")
        .agg(pl.len(), pl.all().unique())
        .with_columns((pl.col("len") * 100 / pl.col("len").sum()).alias("% of obs"))
        .sort("len", descending=True)
    )
    print(f"Normalized -- NO INTRA (n={t["len"].sum()})")
    display(t)

    consolidation_fodder = (
        names_comparison.filter(
            pl.col("normed_issuer_name").str.contains(f"(?i){name}")
        )
        .select("issuer_name")
        .to_series()
        .value_counts(sort=True)
    )
    print("Consolidation Fodder:")
    display(consolidation_fodder.to_pandas())

************************************************************ MICROSOFT ************************************************************
Un-Normalized (n=4729)

shape: (13, 6)
┌───────────────────┬──────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name       ┆ len  ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---               ┆ ---  ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str               ┆ u32  ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞═══════════════════╪══════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ MICROSOFT         ┆ 2555 ┆ ["594918104",     ┆ [null,            ┆ [null]            ┆ 54.028336 │
│ CORPORATION       ┆      ┆ null, "594918105… ┆ "US5949181045"]   ┆                   ┆           │
│ Microsoft         ┆ 1795 ┆ ["594918104",     ┆ [null,            ┆ ["BBG000BPH459",  ┆ 37.957285 │
│ Corporation       ┆      ┆ "594918103", … "… ┆ "US5949181045"]   ┆ null]             ┆           │
│ Microsoft Corp    ┆ 226  ┆ [null,            ┆ [null,            ┆ [null,            ┆ 4.779023  │
│                   ┆      ┆ "594918104"]      ┆ "US5949181045"]   ┆ "BBG000BPH459"]   ┆           │
│ MICROSOFT         ┆ 64   ┆ ["594918104"]     ┆ ["US5949181045",  ┆ [null]            ┆ 1.353352  │
│ CORPORATION       ┆      ┆                   ┆ null]             ┆                   ┆           │
│ Microsoft Corp.   ┆ 60   ┆ ["594918104"]     ┆ ["US5949181045",  ┆ ["BBG000BPH459",  ┆ 1.268767  │
│                   ┆      ┆                   ┆ null]             ┆ null]             ┆           │
│ …                 ┆ …    ┆ …                 ┆ …                 ┆ …                 ┆ …         │
│ MICROSOFT         ┆ 2    ┆ ["594918104",     ┆ [null]            ┆ [null]            ┆ 0.042292  │
│                   ┆      ┆ null]             ┆                   ┆                   ┆           │
│ MICROSOFT         ┆ 2    ┆ ["594918104"]     ┆ ["US5949181045"]  ┆ [null]            ┆ 0.042292  │
│ CORPORATION COM   ┆      ┆                   ┆                   ┆                   ┆           │
│ MICROSOFTCORPORAT ┆ 2    ┆ ["594918104"]     ┆ ["US5949181045"]  ┆ [null]            ┆ 0.042292  │
│ ION               ┆      ┆                   ┆                   ┆                   ┆           │
│ MICROSOFT CORP    ┆ 1    ┆ ["594918104"]     ┆ ["US5949181045"]  ┆ [null]            ┆ 0.021146  │
│ COM               ┆      ┆                   ┆                   ┆                   ┆           │
│ Microsoft Annual  ┆ 1    ┆ ["594918104"]     ┆ [null]            ┆ [null]            ┆ 0.021146  │
│ Meeting           ┆      ┆                   ┆                   ┆                   ┆           │
└───────────────────┴──────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=4734)

shape: (1, 6)
┌─────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---         ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str         ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ MICROSOFT   ┆ 4734 ┆ ["58155Q103", ┆ ["US5949181045", ┆ ["BBG000BLNPB7", ┆ 100.0    │
│ CORPORATION ┆      ┆ "594918104"]  ┆ "US58155Q1031…   ┆ "BBG000BPH459…   ┆          │
└─────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=4733)

shape: (1, 6)
┌─────────────┬──────┬─────────────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name ┆ len  ┆ cusip               ┆ isin             ┆ figi             ┆ % of obs │
│ ---         ┆ ---  ┆ ---                 ┆ ---              ┆ ---              ┆ ---      │
│ str         ┆ u32  ┆ list[str]           ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════╪══════╪═════════════════════╪══════════════════╪══════════════════╪══════════╡
│ MICROSOFT   ┆ 4733 ┆ ["594918104", null] ┆ ["US5949181045"] ┆ ["BBG000BPH459"] ┆ 100.0    │
│ CORPORATION ┆      ┆                     ┆                  ┆                  ┆          │
└─────────────┴──────┴─────────────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

                     issuer_name  count
0          MICROSOFT CORPORATION   2555
1          Microsoft Corporation   1795
2                 Microsoft Corp    226
3         MICROSOFT\nCORPORATION     64
4                Microsoft Corp.     60
5                 MICROSOFT CORP     13
6                      Microsoft      6
7                           MSFT      3
8                      MICROSOFT      2
9      MICROSOFT CORPORATION COM      2
10          MICROSOFTCORPORATION      2
11  Microsoft Corporation (MSFT)      2
12            MICROSOFT CORP COM      1
13      Microsoft Annual Meeting      1
14          McKesson Corporation      1
15    Mitsubishi Financial Group      1

************************************************************ DISNEY ************************************************************
Un-Normalized (n=2943)

shape: (21, 6)
┌───────────────────┬──────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name       ┆ len  ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---               ┆ ---  ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str               ┆ u32  ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞═══════════════════╪══════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ The Walt Disney   ┆ 1489 ┆ ["254687106",     ┆ ["US2546871060",  ┆ [null,            ┆ 50.594631 │
│ Company           ┆      ┆ null]             ┆ null]             ┆ "BBG000BLNNV0"]   ┆           │
│ THE WALT DISNEY   ┆ 1408 ┆ ["Z54687106",     ┆ [null,            ┆ ["BBG000BH4R78",  ┆ 47.842338 │
│ COMPANY           ┆      ┆ "254687106", nul… ┆ "US2546871060"]   ┆ null]             ┆           │
│ THE WALT DISNEY   ┆ 12   ┆ ["254687106"]     ┆ ["US2546871060",  ┆ [null]            ┆ 0.407747  │
│ COMPANY           ┆      ┆                   ┆ null]             ┆                   ┆           │
│ Walt Disney Co    ┆ 9    ┆ ["254687106"]     ┆ ["US2546871060"]  ┆ [null]            ┆ 0.30581   │
│ (The)             ┆      ┆                   ┆                   ┆                   ┆           │
│ The Walt Disney   ┆ 3    ┆ ["254687106"]     ┆ ["US2546871060",  ┆ [null,            ┆ 0.101937  │
│ Co                ┆      ┆                   ┆ null]             ┆ "BBG000BH4R79",   ┆           │
│                   ┆      ┆                   ┆                   ┆ "BBG000…          ┆           │
│ …                 ┆ …    ┆ …                 ┆ …                 ┆ …                 ┆ …         │
│ WALT DISNEY CO    ┆ 1    ┆ ["254687106"]     ┆ [null]            ┆ [null]            ┆ 0.033979  │
│ Walt Disney       ┆ 1    ┆ ["254687106"]     ┆ [null]            ┆ [null]            ┆ 0.033979  │
│ Walt Disney       ┆ 1    ┆ ["254687106"]     ┆ [null]            ┆ [null]            ┆ 0.033979  │
│ Company (The)     ┆      ┆                   ┆                   ┆                   ┆           │
│ THE WALT DISNEY   ┆ 1    ┆ ["254687106"]     ┆ [null]            ┆ [null]            ┆ 0.033979  │
│ CO                ┆      ┆                   ┆                   ┆                   ┆           │
│ The Walt Disney   ┆ 1    ┆ ["254687106"]     ┆ [null]            ┆ [null]            ┆ 0.033979  │
│ Corporation       ┆      ┆                   ┆                   ┆                   ┆           │
└───────────────────┴──────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=2951)

shape: (1, 6)
┌───────────────────────────┬──────┬──────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name               ┆ len  ┆ cusip        ┆ isin             ┆ figi             ┆ % of obs │
│ ---                       ┆ ---  ┆ ---          ┆ ---              ┆ ---              ┆ ---      │
│ str                       ┆ u32  ┆ list[str]    ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═══════════════════════════╪══════╪══════════════╪══════════════════╪══════════════════╪══════════╡
│ THE WALT DISNEY COMPANY   ┆ 2951 ┆ [null,       ┆ ["US2546871060", ┆ ["BBG000BH4R78", ┆ 100.0    │
│                           ┆      ┆ "254687106"] ┆ null]            ┆ null]            ┆          │
└───────────────────────────┴──────┴──────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=2952)

shape: (1, 6)
┌─────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name     ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---             ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str             ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ THE WALT DISNEY ┆ 2952 ┆ ["254687106", ┆ ["US8552441094", ┆ ["BBG000CTQBF3", ┆ 100.0    │
│ COMPANY         ┆      ┆ "855244109"]  ┆ "US2546871060…   ┆ "BBG000BH4R78…   ┆          │
└─────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

                                      issuer_name  count
0                         The Walt Disney Company   1489
1                         THE WALT DISNEY COMPANY   1408
2                        THE WALT DISNEY\nCOMPANY     12
3                            Walt Disney Co (The)      9
4                                             DIS      8
5                             Walt Disney Company      3
6                              The Walt Disney Co      3
7                                  DISNEY WALT CO      2
8                                     WALT DISNEY      2
9               The Walt Disney Company Contested      2
10  The Walt Disney Company Trian Group Contested      2
11                                 Walt Disney Co      1
12                                Walt Disney Co.      1
13                                    Walt Disney      1
14                             DISNEY WALT CO COM      1
15                      Walt Disney Company (The)      1
16                    The Walt Disney Corporation      1
17                                 WALT DISNEY CO      1
18                       The Walt Disney Company*      1
19                              Walt Disney (DIS)      1
20                             THE WALT DISNEY CO      1
21                             Walt Disney Co/The      1

************************************************************ AMAZON ************************************************************
Un-Normalized (n=2890)

shape: (20, 6)
┌───────────────────┬──────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name       ┆ len  ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---               ┆ ---  ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str               ┆ u32  ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞═══════════════════╪══════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ AMAZON.COM, INC.  ┆ 1656 ┆ [null,            ┆ ["US0231351067",  ┆ [null]            ┆ 57.301038 │
│                   ┆      ┆ "023135106"]      ┆ null]             ┆                   ┆           │
│ Amazon.com, Inc.  ┆ 1090 ┆ ["023135106",     ┆ [null,            ┆ ["BBG000BVPV84",  ┆ 37.716263 │
│                   ┆      ┆ "231351060", nul… ┆ "US0231351067"]   ┆ null]             ┆           │
│ Amazon.com Inc.   ┆ 64   ┆ ["023135106"]     ┆ [null,            ┆ [null]            ┆ 2.214533  │
│                   ┆      ┆                   ┆ "US0231351067"]   ┆                   ┆           │
│ Amazon.com Inc    ┆ 36   ┆ ["023135106"]     ┆ ["US0231351067",  ┆ [null,            ┆ 1.245675  │
│                   ┆      ┆                   ┆ null]             ┆ "BBG000BVPV84"]   ┆           │
│ Amazon            ┆ 9    ┆ ["000023135",     ┆ ["US0231351067",  ┆ [null]            ┆ 0.311419  │
│                   ┆      ┆ null, "023135106… ┆ null]             ┆                   ┆           │
│ …                 ┆ …    ┆ …                 ┆ …                 ┆ …                 ┆ …         │
│ AMAZON.COM INC    ┆ 1    ┆ ["023135106"]     ┆ [null]            ┆ [null]            ┆ 0.034602  │
│ AMZN US           ┆      ┆                   ┆                   ┆                   ┆           │
│ AMAZON COM INC    ┆ 1    ┆ ["023135106"]     ┆ ["US0231351067"]  ┆ [null]            ┆ 0.034602  │
│ COM               ┆      ┆                   ┆                   ┆                   ┆           │
│ AMAZON.COM INC.   ┆ 1    ┆ ["023135106"]     ┆ ["US0231351067"]  ┆ [null]            ┆ 0.034602  │
│ COM               ┆      ┆                   ┆                   ┆                   ┆           │
│ Amazon.com Inc    ┆ 1    ┆ ["023135106"]     ┆ ["US0231351067"]  ┆ [null]            ┆ 0.034602  │
│ (AMZN)            ┆      ┆                   ┆                   ┆                   ┆           │
│ Amazon.com, INC   ┆ 1    ┆ ["023135106"]     ┆ [null]            ┆ [null]            ┆ 0.034602  │
└───────────────────┴──────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=2891)

shape: (2, 6)
┌──────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name      ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---              ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str              ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞══════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ AMAZON.COM, INC. ┆ 2890 ┆ ["023135106"] ┆ ["US0231351067"] ┆ ["BBG000BVPV84"] ┆ 99.96541 │
│ AMAZON. COM      ┆ 1    ┆ [null]        ┆ [null]           ┆ [null]           ┆ 0.03459  │
└──────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=2891)

shape: (2, 6)
┌──────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name      ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---              ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str              ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞══════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ AMAZON.COM, INC. ┆ 2890 ┆ ["023135106"] ┆ ["US0231351067"] ┆ ["BBG000BVPV84"] ┆ 99.96541 │
│ AMAZON. COM      ┆ 1    ┆ [null]        ┆ [null]           ┆ [null]           ┆ 0.03459  │
└──────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

                issuer_name  count
0          AMAZON.COM, INC.   1656
1          Amazon.com, Inc.   1090
2           Amazon.com Inc.     64
3            Amazon.com Inc     36
4                    Amazon      9
5            AMAZON.COM INC      8
6                    AMAZON      5
7            AMAZON COM INC      4
8                Amazon.com      3
9           Amazon.com, Inc      3
10               Amazon Inc      3
11   AMAZON.COM INC AMZN US      1
12          Amazon.com, INC      1
13               Amazon.Com      1
14       AMAZON COM INC COM      1
15           Amazon.Com Inc      1
16      AMAZON.COM INC. COM      1
17              Amazon. Com      1
18  AMAZON COM INCORPORATED      1
19                     AMZN      1
20    Amazon.com Inc (AMZN)      1

************************************************************ JPMORGAN ************************************************************
Un-Normalized (n=2635)

shape: (13, 6)
┌─────────────────────┬──────┬───────────────┬────────────────────┬────────────────────┬───────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin               ┆ figi               ┆ % of obs  │
│ ---                 ┆ ---  ┆ ---           ┆ ---                ┆ ---                ┆ ---       │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]          ┆ list[str]          ┆ f64       │
╞═════════════════════╪══════╪═══════════════╪════════════════════╪════════════════════╪═══════════╡
│ JPMORGAN CHASE &    ┆ 1324 ┆ ["46625H100", ┆ ["US46625H1005",   ┆ [null]             ┆ 50.246679 │
│ CO.                 ┆      ┆ null]         ┆ null]              ┆                    ┆           │
│ JPMorgan Chase &    ┆ 1151 ┆ [null,        ┆ [null,             ┆ ["BBG000DMBXR2",   ┆ 43.681214 │
│ Co.                 ┆      ┆ "46625h100",  ┆ "US46625H1005"]    ┆ null]              ┆           │
│                     ┆      ┆ "46625H100…   ┆                    ┆                    ┆           │
│ JPMORGAN CHASE  CO. ┆ 80   ┆ ["46625H100"] ┆ [null]             ┆ [null]             ┆ 3.036053  │
│ JPMORGAN CHASE and  ┆ 27   ┆ ["46625H100"] ┆ ["US46625H1005"]   ┆ [null]             ┆ 1.024668  │
│ CO.                 ┆      ┆               ┆                    ┆                    ┆           │
│ JPMorgan Chase &    ┆ 20   ┆ ["46625H100"] ┆ ["US46625H1005"]   ┆ [null]             ┆ 0.759013  │
│ CO.                 ┆      ┆               ┆                    ┆                    ┆           │
│ …                   ┆ …    ┆ …             ┆ …                  ┆ …                  ┆ …         │
│ JPMORGAN CHASE      ┆ 2    ┆ ["46625H100"] ┆ ["US46625H1005"]   ┆ [null]             ┆ 0.075901  │
│ &amp; CO.           ┆      ┆               ┆                    ┆                    ┆           │
│ JPMorgan            ┆ 1    ┆ [null]        ┆ [null]             ┆ [null]             ┆ 0.037951  │
│ JPMorgan Chase & Co ┆ 1    ┆ ["46625H100"] ┆ ["US46625H1005"]   ┆ [null]             ┆ 0.037951  │
│ (JPM)               ┆      ┆               ┆                    ┆                    ┆           │
│ JPMORGAN CHASE &    ┆ 1    ┆ ["46625H100"] ┆ ["US46625H1005"]   ┆ [null]             ┆ 0.037951  │
│ CO. COM             ┆      ┆               ┆                    ┆                    ┆           │
│ JPMORGAN CHASE AND  ┆ 1    ┆ ["46625H100"] ┆ [null]             ┆ [null]             ┆ 0.037951  │
│ CO.                 ┆      ┆               ┆                    ┆                    ┆           │
└─────────────────────┴──────┴───────────────┴────────────────────┴────────────────────┴───────────┘

Normalized -- INTRA (n=2657)

shape: (2, 6)
┌──────────────────────┬──────┬───────────────┬─────────────────┬─────────────────┬───────────┐
│ issuer_name          ┆ len  ┆ cusip         ┆ isin            ┆ figi            ┆ % of obs  │
│ ---                  ┆ ---  ┆ ---           ┆ ---             ┆ ---             ┆ ---       │
│ str                  ┆ u32  ┆ list[str]     ┆ list[str]       ┆ list[str]       ┆ f64       │
╞══════════════════════╪══════╪═══════════════╪═════════════════╪═════════════════╪═══════════╡
│ JPMORGAN CHASE & CO. ┆ 2656 ┆ ["46625H100", ┆ [null,          ┆ [null,          ┆ 99.962364 │
│                      ┆      ┆ null]         ┆ "US46625H1005"] ┆ "BBG000DMBXR2"] ┆           │
│ JPMORGAN             ┆ 1    ┆ [null]        ┆ [null]          ┆ [null]          ┆ 0.037636  │
└──────────────────────┴──────┴───────────────┴─────────────────┴─────────────────┴───────────┘

Normalized -- NO INTRA (n=2660)

shape: (2, 6)
┌───────────────────┬──────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name       ┆ len  ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---               ┆ ---  ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str               ┆ u32  ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞═══════════════════╪══════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ JPMORGAN CHASE &  ┆ 2659 ┆ ["717081103",     ┆ ["US7170811035",  ┆ ["BBG000BR2B91",  ┆ 99.962406 │
│ CO.               ┆      ┆ "46625H100", "02… ┆ "US46625H1005…    ┆ "BBG000DMBXR2…    ┆           │
│ JPMORGAN          ┆ 1    ┆ [null]            ┆ [null]            ┆ [null]            ┆ 0.037594  │
└───────────────────┴──────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Consolidation Fodder:

                  issuer_name  count
0        JPMORGAN CHASE & CO.   1324
1        JPMorgan Chase & Co.   1151
2         JPMORGAN CHASE  CO.     80
3      JPMORGAN CHASE and CO.     27
4        JPMorgan Chase & CO.     20
5         JPMorgan Chase & Co     11
6         JPMORGAN CHASE & CO      9
7              JPMorgan Chase      7
8       JP Morgan Chase & Co.      7
9        JP Morgan Chase & Co      7
10   JPMORGAN CHASE &amp; CO.      2
11                        JPM      2
12      JP MORGAN CHASE & CO       2
13            JP MORGAN CHASE      1
14   JPMORGAN CHASE & CO. COM      1
15      JP MORGAN CHASE & CO.      1
16     JPMORGAN CHASE AND CO.      1
17                  JP Morgan      1
18                   JPMorgan      1
19  JPMorgan Chase & Co (JPM)      1
20       JP MORGAN CHASE & CO      1

************************************************************ PROCTER ************************************************************
Un-Normalized (n=2499)

shape: (19, 6)
┌─────────────────────┬──────┬───────────────┬────────────────────┬────────────────────┬───────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin               ┆ figi               ┆ % of obs  │
│ ---                 ┆ ---  ┆ ---           ┆ ---                ┆ ---                ┆ ---       │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]          ┆ list[str]          ┆ f64       │
╞═════════════════════╪══════╪═══════════════╪════════════════════╪════════════════════╪═══════════╡
│ THE PROCTER &       ┆ 1186 ┆ [null,        ┆ ["US7427181091",   ┆ [null]             ┆ 47.458984 │
│ GAMBLE COMPANY      ┆      ┆ "742718109"]  ┆ null]              ┆                    ┆           │
│ The Procter &       ┆ 1001 ┆ ["742718109", ┆ [null,             ┆ [null,             ┆ 40.056022 │
│ Gamble Company      ┆      ┆ null]         ┆ "US7427181091"]    ┆ "BBG000BR2TH3",    ┆           │
│                     ┆      ┆               ┆                    ┆ "BBG000…           ┆           │
│ THE PROCTER  GAMBLE ┆ 100  ┆ ["742718109"] ┆ [null]             ┆ [null]             ┆ 4.001601  │
│ COMPANY             ┆      ┆               ┆                    ┆                    ┆           │
│ THE PROCTER and     ┆ 78   ┆ ["742718109"] ┆ ["US7427181091"]   ┆ [null]             ┆ 3.121248  │
│ GAMBLE COMPANY      ┆      ┆               ┆                    ┆                    ┆           │
│ THE PROCTER &       ┆ 65   ┆ ["742718109"] ┆ [null,             ┆ [null]             ┆ 2.60104   │
│ GAMBLE              ┆      ┆               ┆ "US7427181091"]    ┆                    ┆           │
│ COMPANY             ┆      ┆               ┆                    ┆                    ┆           │
│ …                   ┆ …    ┆ …             ┆ …                  ┆ …                  ┆ …         │
│ THE PROCTER AND     ┆ 2    ┆ ["742718109"] ┆ [null]             ┆ [null]             ┆ 0.080032  │
│ GAMBLE COMPANY      ┆      ┆               ┆                    ┆                    ┆           │
│ PROCTER & GAMBLE    ┆ 2    ┆ ["742718109"] ┆ ["US7427181091"]   ┆ [null]             ┆ 0.080032  │
│ COMPANY COM         ┆      ┆               ┆                    ┆                    ┆           │
│ PROCTER AND GAMBLE  ┆ 1    ┆ ["742718109"] ┆ [null]             ┆ ["BBG001S5V4L9"]   ┆ 0.040016  │
│ CO                  ┆      ┆               ┆                    ┆                    ┆           │
│ PROCTER AND GAMBLE  ┆ 1    ┆ ["742718109"] ┆ ["US7427181091"]   ┆ [null]             ┆ 0.040016  │
│ CO COM              ┆      ┆               ┆                    ┆                    ┆           │
│ Procter & Gamble Co ┆ 1    ┆ ["742718109"] ┆ [null]             ┆ [null]             ┆ 0.040016  │
└─────────────────────┴──────┴───────────────┴────────────────────┴────────────────────┴───────────┘

Normalized -- INTRA (n=2611)

shape: (2, 6)
┌──────────────────────────┬──────┬───────────────┬──────────────────┬─────────────────┬───────────┐
│ issuer_name              ┆ len  ┆ cusip         ┆ isin             ┆ figi            ┆ % of obs  │
│ ---                      ┆ ---  ┆ ---           ┆ ---              ┆ ---             ┆ ---       │
│ str                      ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]       ┆ f64       │
╞══════════════════════════╪══════╪═══════════════╪══════════════════╪═════════════════╪═══════════╡
│ THE PROCTER & GAMBLE     ┆ 2602 ┆ [null,        ┆ [null,           ┆ [null,          ┆ 99.655304 │
│ COMPANY                  ┆      ┆ "742718109"]  ┆ "US7427181091"]  ┆ "BBG000BLNNV0"] ┆           │
│ PROCTER & GAMBLE HYGIENE ┆ 9    ┆ ["Y7089A117"] ┆ ["INE179A01014"] ┆ [null]          ┆ 0.344696  │
│ & HEA…                   ┆      ┆               ┆                  ┆                 ┆           │
└──────────────────────────┴──────┴───────────────┴──────────────────┴─────────────────┴───────────┘

Normalized -- NO INTRA (n=2612)

shape: (2, 6)
┌──────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name          ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                  ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                  ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞══════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ THE PROCTER & GAMBLE ┆ 2603 ┆ ["460690100", ┆ ["US7427181091", ┆ ["BBG000BLNNV0"] ┆ 99.655436 │
│ COMPANY              ┆      ┆ "742718109"]  ┆ "US4606901001…   ┆                  ┆           │
│ PROCTER & GAMBLE     ┆ 9    ┆ ["Y7089A117"] ┆ ["INE179A01014"] ┆ [null]           ┆ 0.344564  │
│ HYGIENE & HEA…       ┆      ┆               ┆                  ┆                  ┆           │
└──────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Consolidation Fodder:

                                   issuer_name  count
0                 THE PROCTER & GAMBLE COMPANY   1186
1                 The Procter & Gamble Company   1001
2                  THE PROCTER  GAMBLE COMPANY    100
3                     Proctor & Gamble Company    100
4               THE PROCTER and GAMBLE COMPANY     78
5                THE PROCTER & GAMBLE\nCOMPANY     65
6                     Procter & Gamble Company     25
7                     The Procter & Gamble Co.     10
8   PROCTER & GAMBLE HYGIENE & HEALTH CARE LTD      9
9                             Procter & Gamble      5
10                        Procter & Gamble Co.      5
11                The Proctor & Gamble Company      4
12                                          PG      3
13            THE PROCTER &amp; GAMBLE COMPANY      2
14              Procter & Gamble Company (The)      2
15              THE PROCTER AND GAMBLE COMPANY      2
16                         PROCTER & GAMBLE CO      2
17                PROCTER & GAMBLE COMPANY COM      2
18                 THE PROCTER & GAMBLECOMPANY      2
19                         Procter & Gamble Co      1
20                          PROCTOR AND GAMBLE      1
21                            Proctor & Gamble      1
22                   PROCTER AND GAMBLE CO COM      1
23                      The Proter & Gamble Co      1
24                            PROCTOR & GAMBLE      1
25                       PROCTER AND GAMBLE CO      1
26                              Proctor Gamble      1

************************************************************ ORACLE ************************************************************
Un-Normalized (n=2525)

shape: (14, 6)
┌─────────────────────┬──────┬───────────────┬────────────────────┬────────────────────┬───────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin               ┆ figi               ┆ % of obs  │
│ ---                 ┆ ---  ┆ ---           ┆ ---                ┆ ---                ┆ ---       │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]          ┆ list[str]          ┆ f64       │
╞═════════════════════╪══════╪═══════════════╪════════════════════╪════════════════════╪═══════════╡
│ ORACLE CORPORATION  ┆ 1287 ┆ [null,        ┆ ["US68389X1054",   ┆ [null]             ┆ 50.970297 │
│                     ┆      ┆ "68389X105"]  ┆ null]              ┆                    ┆           │
│ Oracle Corporation  ┆ 1097 ┆ [null,        ┆ ["US68389X1054",   ┆ ["BBG000BQLTW7",   ┆ 43.445545 │
│                     ┆      ┆ "68389X105",  ┆ null]              ┆ null]              ┆           │
│                     ┆      ┆ "68389x105…   ┆                    ┆                    ┆           │
│ Oracle Corp         ┆ 69   ┆ ["68389X105"] ┆ [null,             ┆ ["BBG000BQLTW7",   ┆ 2.732673  │
│                     ┆      ┆               ┆ "US68389X1054",    ┆ null]              ┆           │
│                     ┆      ┆               ┆ "US6838…           ┆                    ┆           │
│ Oracle Corp.        ┆ 17   ┆ ["68389X105"] ┆ [null,             ┆ [null]             ┆ 0.673267  │
│                     ┆      ┆               ┆ "US68389X1054"]    ┆                    ┆           │
│ Oracle Financial    ┆ 16   ┆ [null,        ┆ ["INE881D01027"]   ┆ [null]             ┆ 0.633663  │
│ Services Soft…      ┆      ┆ "Y3864R102"]  ┆                    ┆                    ┆           │
│ …                   ┆ …    ┆ …             ┆ …                  ┆ …                  ┆ …         │
│ ORACLE              ┆ 3    ┆ ["68389X105"] ┆ [null,             ┆ [null]             ┆ 0.118812  │
│                     ┆      ┆               ┆ "US68389X1054"]    ┆                    ┆           │
│ ORACLE CORPORTATION ┆ 2    ┆ ["68389X105"] ┆ [null]             ┆ [null]             ┆ 0.079208  │
│ Oracle Corporatio n ┆ 2    ┆ [null]        ┆ [null]             ┆ [null]             ┆ 0.079208  │
│ ORACLE CORP COM     ┆ 1    ┆ ["68389X105"] ┆ ["US68389X1054"]   ┆ [null]             ┆ 0.039604  │
│ Oracle              ┆ 1    ┆ ["68389X105"] ┆ [null]             ┆ [null]             ┆ 0.039604  │
└─────────────────────┴──────┴───────────────┴────────────────────┴────────────────────┴───────────┘

Normalized -- INTRA (n=2528)

shape: (4, 6)
┌─────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                 ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞═════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ ORACLE CORPORATION  ┆ 2487 ┆ ["68389X105"] ┆ ["US68389X1054"] ┆ ["BBG000BQLTW7"] ┆ 98.378165 │
│ ORACLE FINANCIAL    ┆ 21   ┆ ["Y3864R102"] ┆ ["INE881D01027"] ┆ [null]           ┆ 0.830696  │
│ SERVICES SOFT…      ┆      ┆               ┆                  ┆                  ┆           │
│ ORACLE CORP JAPAN   ┆ 18   ┆ ["J6165M109"] ┆ ["JP3689500001"] ┆ [null]           ┆ 0.712025  │
│ ORACLE CORPORATIO N ┆ 2    ┆ [null]        ┆ [null]           ┆ [null]           ┆ 0.079114  │
└─────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Normalized -- NO INTRA (n=2528)

shape: (4, 6)
┌─────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                 ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞═════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ ORACLE CORPORATION  ┆ 2487 ┆ ["68389X105"] ┆ ["US68389X1054"] ┆ ["BBG000BQLTW7"] ┆ 98.378165 │
│ ORACLE FINANCIAL    ┆ 21   ┆ ["Y3864R102"] ┆ ["INE881D01027"] ┆ [null]           ┆ 0.830696  │
│ SERVICES SOFT…      ┆      ┆               ┆                  ┆                  ┆           │
│ ORACLE CORP JAPAN   ┆ 18   ┆ ["J6165M109"] ┆ ["JP3689500001"] ┆ [null]           ┆ 0.712025  │
│ ORACLE CORPORATIO N ┆ 2    ┆ [null]        ┆ [null]           ┆ [null]           ┆ 0.079114  │
└─────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Consolidation Fodder:

                                   issuer_name  count
0                           ORACLE CORPORATION   1287
1                           Oracle Corporation   1097
2                                  Oracle Corp     69
3                                 Oracle Corp.     17
4   Oracle Financial Services Software Limited     16
5                            Oracle Corp Japan      9
6                     ORACLE CORPORATION JAPAN      9
7                                  ORACLE CORP      7
8       ORACLE FINANCIAL SERVICES SOFTWARE LTD      5
9                                       ORACLE      3
10                                        ORCL      3
11                         ORACLE CORPORTATION      2
12                         Oracle Corporatio n      2
13                             ORACLE CORP COM      1
14                                      Oracle      1

************************************************************ APPLE ************************************************************
Un-Normalized (n=2528)

shape: (22, 6)
┌───────────────────┬──────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name       ┆ len  ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---               ┆ ---  ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str               ┆ u32  ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞═══════════════════╪══════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ APPLE INC.        ┆ 1105 ┆ ["037833100",     ┆ ["US0378331005",  ┆ [null]            ┆ 43.710443 │
│                   ┆      ┆ null]             ┆ null]             ┆                   ┆           │
│ Apple Inc.        ┆ 936  ┆ ["378331000",     ┆ ["US0378331005",  ┆ [null,            ┆ 37.025316 │
│                   ┆      ┆ null, "037833100… ┆ null]             ┆ "BBG000B9XRY4"]   ┆           │
│ APPLE INC         ┆ 175  ┆ ["037833100"]     ┆ ["US0378331005",  ┆ ["BBG001S5N8V8",  ┆ 6.922468  │
│                   ┆      ┆                   ┆ null]             ┆ null]             ┆           │
│ Apple Hospitality ┆ 111  ┆ ["03784Y200"]     ┆ [null,            ┆ [null]            ┆ 4.390823  │
│ REIT, Inc.        ┆      ┆                   ┆ "US03784Y2000"]   ┆                   ┆           │
│ APPLE HOSPITALITY ┆ 48   ┆ ["03784Y200"]     ┆ ["US03784Y2000",  ┆ [null]            ┆ 1.898734  │
│ REIT, INC.        ┆      ┆                   ┆ null]             ┆                   ┆           │
│ …                 ┆ …    ┆ …                 ┆ …                 ┆ …                 ┆ …         │
│ Apple Hospitality ┆ 1    ┆ ["03784Y200"]     ┆ [null]            ┆ [null]            ┆ 0.039557  │
│ REIT              ┆      ┆                   ┆                   ┆                   ┆           │
│ Apple Inc (AAPL)  ┆ 1    ┆ ["037833100"]     ┆ ["US0378331005"]  ┆ [null]            ┆ 0.039557  │
│ Apple Hospitality ┆ 1    ┆ ["03784Y200"]     ┆ [null]            ┆ [null]            ┆ 0.039557  │
│ REIT Inc          ┆      ┆                   ┆                   ┆                   ┆           │
│ Apple, Inc        ┆ 1    ┆ ["037833100"]     ┆ [null]            ┆ [null]            ┆ 0.039557  │
│ Apple Inc.        ┆ 1    ┆ ["037833100"]     ┆ [null]            ┆ [null]            ┆ 0.039557  │
└───────────────────┴──────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=2530)

shape: (3, 6)
┌─────────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name             ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                     ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                     ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞═════════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ APPLE INC.              ┆ 2355 ┆ ["037833100"] ┆ ["US0378331005"] ┆ ["BBG000B9XRY4"] ┆ 93.083004 │
│ APPLE HOSPITALITY REIT, ┆ 164  ┆ ["03784Y200"] ┆ ["US03784Y2000"] ┆ [null]           ┆ 6.482213  │
│ INC.                    ┆      ┆               ┆                  ┆                  ┆           │
│ MAUI LAND & PINEAPPLE   ┆ 11   ┆ ["577345101"] ┆ ["US5773451019"] ┆ [null]           ┆ 0.434783  │
│ COMPANY,…               ┆      ┆               ┆                  ┆                  ┆           │
└─────────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Normalized -- NO INTRA (n=2530)

shape: (3, 6)
┌─────────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name             ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                     ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                     ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞═════════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ APPLE INC.              ┆ 2355 ┆ ["037833100"] ┆ ["US0378331005"] ┆ ["BBG000B9XRY4"] ┆ 93.083004 │
│ APPLE HOSPITALITY REIT, ┆ 164  ┆ ["03784Y200"] ┆ ["US03784Y2000"] ┆ [null]           ┆ 6.482213  │
│ INC.                    ┆      ┆               ┆                  ┆                  ┆           │
│ MAUI LAND & PINEAPPLE   ┆ 11   ┆ ["577345101"] ┆ ["US5773451019"] ┆ [null]           ┆ 0.434783  │
│ COMPANY,…               ┆      ┆               ┆                  ┆                  ┆           │
└─────────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Consolidation Fodder:

                            issuer_name  count
0                            APPLE INC.   1105
1                            Apple Inc.    936
2                             APPLE INC    175
3          Apple Hospitality REIT, Inc.    111
4          APPLE HOSPITALITY REIT, INC.     48
5                             Apple Inc     35
6                           Apple, Inc.     33
7                           APPLE, INC.     26
8                                 Apple     19
9                            APPLE, INC     15
10  Maui Land & Pineapple Company, Inc.     11
11                                APPLE      3
12          APPLE HOSPITALITY REIT INC.      2
13           Apple Hospitality REIT Inc      1
14                          Apple Inc.       1
15                           Apple, Inc      1
16               Apple Hospitality REIT      1
17        APPLE HOSPITALITY REIT,\nINC.      1
18                        APPLE INC COM      1
19            Apple Inc. Annual Meeting      1
20                       APPLE INC. COM      1
21                            Appie Inc      1
22                                 AAPL      1
23                     Apple Inc (AAPL)      1

************************************************************ VISA ************************************************************
Un-Normalized (n=2074)

shape: (14, 6)
┌───────────────────┬──────┬───────────────┬─────────────────────────┬─────────────────┬───────────┐
│ issuer_name       ┆ len  ┆ cusip         ┆ isin                    ┆ figi            ┆ % of obs  │
│ ---               ┆ ---  ┆ ---           ┆ ---                     ┆ ---             ┆ ---       │
│ str               ┆ u32  ┆ list[str]     ┆ list[str]               ┆ list[str]       ┆ f64       │
╞═══════════════════╪══════╪═══════════════╪═════════════════════════╪═════════════════╪═══════════╡
│ VISA INC.         ┆ 1082 ┆ ["92826C839", ┆ ["US92826C8394", null]  ┆ [null]          ┆ 52.16972  │
│                   ┆      ┆ null]         ┆                         ┆                 ┆           │
│ Visa Inc.         ┆ 914  ┆ ["92826C839", ┆ ["US92826C8394", null]  ┆ [null,          ┆ 44.069431 │
│                   ┆      ┆ null]         ┆                         ┆ "BBG000PSKYX7"] ┆           │
│ Visa, Inc.        ┆ 20   ┆ ["92826C839", ┆ [null, "US92826C8394"]  ┆ [null]          ┆ 0.96432   │
│                   ┆      ┆ "92826c839"]  ┆                         ┆                 ┆           │
│ Visa Inc          ┆ 20   ┆ [null,        ┆ ["US92826C8394", null]  ┆ [null]          ┆ 0.96432   │
│                   ┆      ┆ "92826C839"]  ┆                         ┆                 ┆           │
│ VISA INC          ┆ 12   ┆ ["92826C839"] ┆ [null, "US92826C8394"]  ┆ [null,          ┆ 0.578592  │
│                   ┆      ┆               ┆                         ┆ "BBG001SRCFY3"] ┆           │
│ …                 ┆ …    ┆ …             ┆ …                       ┆ …               ┆ …         │
│ Lovisa Holdings   ┆ 2    ┆ ["Q56334107"] ┆ ["AU000000LOV7"]        ┆ [null]          ┆ 0.096432  │
│ Limited           ┆      ┆               ┆                         ┆                 ┆           │
│ Visa Inc (V)      ┆ 1    ┆ ["92826C839"] ┆ ["US92826C8394"]        ┆ [null]          ┆ 0.048216  │
│ VISA, Inc.        ┆ 1    ┆ ["92826C839"] ┆ [null]                  ┆ [null]          ┆ 0.048216  │
│ VISA INC COM CL A ┆ 1    ┆ ["92826C839"] ┆ ["US92826C8394"]        ┆ [null]          ┆ 0.048216  │
│ Visa, Inc         ┆ 1    ┆ ["92826C839"] ┆ [null]                  ┆ [null]          ┆ 0.048216  │
└───────────────────┴──────┴───────────────┴─────────────────────────┴─────────────────┴───────────┘

Normalized -- INTRA (n=2075)

shape: (3, 6)
┌─────────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name             ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                     ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                     ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞═════════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ VISA INC.               ┆ 2066 ┆ ["92826C839"] ┆ ["US92826C8394"] ┆ ["BBG000PSKYX7"] ┆ 99.566265 │
│ VISAKA INDUSTRIES       ┆ 7    ┆ ["Y93787151"] ┆ ["INE392A01021"] ┆ [null]           ┆ 0.337349  │
│ LIMITED                 ┆      ┆               ┆                  ┆                  ┆           │
│ LOVISA HOLDINGS LIMITED ┆ 2    ┆ ["Q56334107"] ┆ ["AU000000LOV7"] ┆ [null]           ┆ 0.096386  │
└─────────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Normalized -- NO INTRA (n=2075)

shape: (3, 6)
┌─────────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name             ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                     ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                     ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞═════════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ VISA INC.               ┆ 2066 ┆ ["92826C839"] ┆ ["US92826C8394"] ┆ ["BBG000PSKYX7"] ┆ 99.566265 │
│ VISAKA INDUSTRIES       ┆ 7    ┆ ["Y93787151"] ┆ ["INE392A01021"] ┆ [null]           ┆ 0.337349  │
│ LIMITED                 ┆      ┆               ┆                  ┆                  ┆           │
│ LOVISA HOLDINGS LIMITED ┆ 2    ┆ ["Q56334107"] ┆ ["AU000000LOV7"] ┆ [null]           ┆ 0.096386  │
└─────────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Consolidation Fodder:

                  issuer_name  count
0                   VISA INC.   1082
1                   Visa Inc.    914
2                    Visa Inc     20
3                  Visa, Inc.     20
4                    VISA INC     12
5   Visaka Industries Limited      7
6                   VISA Inc.      6
7                        Visa      5
8                        VISA      2
9     Lovisa Holdings Limited      2
10          VISA INC COM CL A      1
11                  Visa, Inc      1
12                          V      1
13               Visa Inc (V)      1
14                 VISA, Inc.      1

************************************************************ EXXON ************************************************************
Un-Normalized (n=1785)

shape: (18, 6)
┌─────────────────────┬─────┬───────────────┬─────────────────────┬────────────────────┬───────────┐
│ issuer_name         ┆ len ┆ cusip         ┆ isin                ┆ figi               ┆ % of obs  │
│ ---                 ┆ --- ┆ ---           ┆ ---                 ┆ ---                ┆ ---       │
│ str                 ┆ u32 ┆ list[str]     ┆ list[str]           ┆ list[str]          ┆ f64       │
╞═════════════════════╪═════╪═══════════════╪═════════════════════╪════════════════════╪═══════════╡
│ EXXON MOBIL         ┆ 876 ┆ ["30231G102", ┆ [null,              ┆ [null]             ┆ 49.07563  │
│ CORPORATION         ┆     ┆ null]         ┆ "US30231G1022"]     ┆                    ┆           │
│ Exxon Mobil         ┆ 802 ┆ ["30231G102", ┆ ["US30231G1022",    ┆ ["BBG000GZQ728",   ┆ 44.929972 │
│ Corporation         ┆     ┆ null]         ┆ null]               ┆ null]              ┆           │
│ Exxon Mobil         ┆ 38  ┆ ["30231G102"] ┆ ["US30231G1022",    ┆ [null]             ┆ 2.128852  │
│                     ┆     ┆               ┆ null]               ┆                    ┆           │
│ EXXON MOBIL CORP    ┆ 26  ┆ ["30231G102"] ┆ [null,              ┆ ["BBG000GZQ728",   ┆ 1.456583  │
│                     ┆     ┆               ┆ "US30231G1022"]     ┆ "BBG001S69V32…     ┆           │
│ EXXON MOBIL         ┆ 13  ┆ ["30231G102"] ┆ ["US30231G1022",    ┆ [null]             ┆ 0.728291  │
│ CORPORATION         ┆     ┆               ┆ null]               ┆                    ┆           │
│ …                   ┆ …   ┆ …             ┆ …                   ┆ …                  ┆ …         │
│ EXXON MOBIL         ┆ 1   ┆ ["30231G102"] ┆ [null]              ┆ [null]             ┆ 0.056022  │
│ EXXON MOBIL         ┆ 1   ┆ ["30231G102"] ┆ ["US30231G1022"]    ┆ ["BBG000GZQ728"]   ┆ 0.056022  │
│ CORPORAITON         ┆     ┆               ┆                     ┆                    ┆           │
│ EXXON MOBIL CORP    ┆ 1   ┆ ["30231G102"] ┆ ["US30231G1022"]    ┆ [null]             ┆ 0.056022  │
│ COM                 ┆     ┆               ┆                     ┆                    ┆           │
│ EXXON               ┆ 1   ┆ ["30231G102"] ┆ [null]              ┆ [null]             ┆ 0.056022  │
│ EXXON MOBIL CORP.   ┆ 1   ┆ ["30231G102"] ┆ [null]              ┆ [null]             ┆ 0.056022  │
└─────────────────────┴─────┴───────────────┴─────────────────────┴────────────────────┴───────────┘

Normalized -- INTRA (n=1787)

shape: (1, 6)
┌─────────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name             ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---                     ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str                     ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ EXXON MOBIL CORPORATION ┆ 1787 ┆ ["30231G102"] ┆ ["US30231G1022"] ┆ ["BBG000GZQ728"] ┆ 100.0    │
└─────────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=1787)

shape: (1, 6)
┌─────────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name             ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---                     ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str                     ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ EXXON MOBIL CORPORATION ┆ 1787 ┆ ["30231G102"] ┆ ["US30231G1022"] ┆ ["BBG000GZQ728"] ┆ 100.0    │
└─────────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

                 issuer_name  count
0    EXXON MOBIL CORPORATION    876
1    Exxon Mobil Corporation    802
2                Exxon Mobil     38
3           EXXON MOBIL CORP     26
4   EXXON MOBIL\nCORPORATION     13
5                 ExxonMobil      8
6          Exxon Mobil Corp.      8
7               Exxon Mobile      2
8           Exxon Mobil Corp      2
9               EXXON MOBIL       2
10  Exxon Mobile Corporation      1
11                     EXXON      1
12      EXXON MOBIL CORP COM      1
13   EXXON MOBIL CORPORAITON      1
14         EXXON MOBIL CORP.      1
15               EXXON MOBIL      1
16       PIONEER NATURAL RES      1
17                       XOM      1
18                EXXONMOBIL      1
19        Exxon Mobile Corp.      1

************************************************************ CHEVRON ************************************************************
Un-Normalized (n=1828)

shape: (13, 6)
┌───────────────────┬──────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name       ┆ len  ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---               ┆ ---  ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str               ┆ u32  ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞═══════════════════╪══════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ CHEVRON           ┆ 1034 ┆ ["166764100",     ┆ [null,            ┆ [null,            ┆ 56.564551 │
│ CORPORATION       ┆      ┆ null, "577081102… ┆ "US1667641005"]   ┆ "BBG000K4ND22"]   ┆           │
│ Chevron           ┆ 751  ┆ [null,            ┆ ["US1667641005",  ┆ [null,            ┆ 41.083151 │
│ Corporation       ┆      ┆ "166764100",      ┆ null]             ┆ "BBG000K4ND22"]   ┆           │
│                   ┆      ┆ "000166764…       ┆                   ┆                   ┆           │
│ CHEVRON CORP      ┆ 21   ┆ ["166764100"]     ┆ ["US1667641005",  ┆ [null,            ┆ 1.148796  │
│                   ┆      ┆                   ┆ null]             ┆ "BBG000K4ND22"]   ┆           │
│ Chevron Corp      ┆ 8    ┆ ["166764100",     ┆ ["US1667641005",  ┆ ["BBG000K4ND22",  ┆ 0.437637  │
│                   ┆      ┆ null]             ┆ null]             ┆ null]             ┆           │
│ Chevron Corp.     ┆ 4    ┆ ["166764100"]     ┆ [null,            ┆ [null]            ┆ 0.218818  │
│                   ┆      ┆                   ┆ "US1667641005"]   ┆                   ┆           │
│ …                 ┆ …    ┆ …                 ┆ …                 ┆ …                 ┆ …         │
│ Chevron           ┆ 1    ┆ ["166764100"]     ┆ [null]            ┆ [null]            ┆ 0.054705  │
│ Corposration      ┆      ┆                   ┆                   ┆                   ┆           │
│ Chevron           ┆ 1    ┆ ["166764100"]     ┆ [null]            ┆ [null]            ┆ 0.054705  │
│ CHEVRON CORP NEW  ┆ 1    ┆ ["166764100"]     ┆ ["US1667641005"]  ┆ [null]            ┆ 0.054705  │
│ COM               ┆      ┆                   ┆                   ┆                   ┆           │
│ Chevron           ┆ 1    ┆ ["166764100"]     ┆ ["US1667641005"]  ┆ [null]            ┆ 0.054705  │
│ Corpoation        ┆      ┆                   ┆                   ┆                   ┆           │
│ Chevron           ┆ 1    ┆ [null]            ┆ [null]            ┆ [null]            ┆ 0.054705  │
│ Corporation       ┆      ┆                   ┆                   ┆                   ┆           │
└───────────────────┴──────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=2008)

shape: (1, 6)
┌─────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---                 ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ CHEVRON CORPORATION ┆ 2008 ┆ ["166764100"] ┆ ["US1667641005"] ┆ ["BBG000K4ND22"] ┆ 100.0    │
└─────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=2008)

shape: (1, 6)
┌─────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---                 ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ CHEVRON CORPORATION ┆ 2008 ┆ ["166764100"] ┆ ["US1667641005"] ┆ ["BBG000K4ND22"] ┆ 100.0    │
└─────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

             issuer_name  count
0    CHEVRON CORPORATION   1034
1    Chevron Corporation    751
2           MATTEL, INC.    117
3           Mattel, Inc.     56
4           CHEVRON CORP     21
5           Chevron Corp      8
6          Chevron Corp.      4
7                CHEVRON      2
8       CHEVRON CORP NEW      2
9       Mattel Inc (MAT)      2
10  Chevron Corporation       1
11   Mattel Incorporated      1
12               Chevron      1
13                Mattel      1
14  CHEVRON CORP NEW COM      1
15   Chrvron Corporation      1
16           MATTEL, INC      1
17  Chevron Corposration      1
18    Chevron Corpoation      1
19                   CVX      1
20    Chevron Corp (CVX)      1

************************************************************ META PLATFORM ************************************************************
Un-Normalized (n=1766)

shape: (6, 6)
┌──────────────────────┬─────┬───────────────┬──────────────────┬─────────────────┬───────────┐
│ issuer_name          ┆ len ┆ cusip         ┆ isin             ┆ figi            ┆ % of obs  │
│ ---                  ┆ --- ┆ ---           ┆ ---              ┆ ---             ┆ ---       │
│ str                  ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str]       ┆ f64       │
╞══════════════════════╪═════╪═══════════════╪══════════════════╪═════════════════╪═══════════╡
│ Meta Platforms, Inc. ┆ 949 ┆ ["30303M102", ┆ ["US30303M1027", ┆ [null]          ┆ 53.737259 │
│                      ┆     ┆ null]         ┆ null]            ┆                 ┆           │
│ META PLATFORMS, INC. ┆ 808 ┆ [null,        ┆ [null,           ┆ [null]          ┆ 45.753114 │
│                      ┆     ┆ "30303M102"]  ┆ "US30303M1027"]  ┆                 ┆           │
│ Meta Platforms       ┆ 4   ┆ ["30303M102", ┆ [null,           ┆ [null]          ┆ 0.226501  │
│                      ┆     ┆ null]         ┆ "US30303M1027"]  ┆                 ┆           │
│ Meta Platforms Inc   ┆ 2   ┆ ["30303M102"] ┆ ["US30303M1027"] ┆ [null,          ┆ 0.11325   │
│                      ┆     ┆               ┆                  ┆ "BBG000MM2P62"] ┆           │
│ Meta Platforms Inc.  ┆ 2   ┆ ["30303M102"] ┆ ["US30303M1027"] ┆ [null]          ┆ 0.11325   │
│ Meta Platforms, Inc  ┆ 1   ┆ ["30303M102"] ┆ [null]           ┆ [null]          ┆ 0.056625  │
└──────────────────────┴─────┴───────────────┴──────────────────┴─────────────────┴───────────┘

Normalized -- INTRA (n=1766)

shape: (1, 6)
┌──────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name          ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---                  ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str                  ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞══════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ META PLATFORMS, INC. ┆ 1766 ┆ ["30303M102"] ┆ ["US30303M1027"] ┆ ["BBG000MM2P62"] ┆ 100.0    │
└──────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=1766)

shape: (1, 6)
┌──────────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name          ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---                  ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str                  ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞══════════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ META PLATFORMS, INC. ┆ 1766 ┆ ["30303M102"] ┆ ["US30303M1027"] ┆ ["BBG000MM2P62"] ┆ 100.0    │
└──────────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

            issuer_name  count
0  Meta Platforms, Inc.    949
1  META PLATFORMS, INC.    808
2        Meta Platforms      4
3    Meta Platforms Inc      2
4   Meta Platforms Inc.      2
5   Meta Platforms, Inc      1

************************************************************ AIR TRANSPORT ************************************************************
Un-Normalized (n=79)

shape: (3, 6)
┌───────────────────┬─────┬─────────────────────┬──────────────────────────┬───────────┬───────────┐
│ issuer_name       ┆ len ┆ cusip               ┆ isin                     ┆ figi      ┆ % of obs  │
│ ---               ┆ --- ┆ ---                 ┆ ---                      ┆ ---       ┆ ---       │
│ str               ┆ u32 ┆ list[str]           ┆ list[str]                ┆ list[str] ┆ f64       │
╞═══════════════════╪═════╪═════════════════════╪══════════════════════════╪═══════════╪═══════════╡
│ AIR TRANSPORT     ┆ 48  ┆ [null, "00922R105"] ┆ ["US00922R1059", null]   ┆ [null]    ┆ 60.759494 │
│ SERVICES GROUP, … ┆     ┆                     ┆                          ┆           ┆           │
│ Air Transport     ┆ 30  ┆ ["00922R105"]       ┆ ["US00922R1059", null]   ┆ [null]    ┆ 37.974684 │
│ Services Group, … ┆     ┆                     ┆                          ┆           ┆           │
│ AIR TRANSPORT     ┆ 1   ┆ ["00922R105"]       ┆ ["US00922R1059"]         ┆ [null]    ┆ 1.265823  │
│ SERVICES GROUP, … ┆     ┆                     ┆                          ┆           ┆           │
└───────────────────┴─────┴─────────────────────┴──────────────────────────┴───────────┴───────────┘

Normalized -- INTRA (n=79)

shape: (1, 6)
┌─────────────────────────────────┬─────┬───────────────┬──────────────────┬───────────┬──────────┐
│ issuer_name                     ┆ len ┆ cusip         ┆ isin             ┆ figi      ┆ % of obs │
│ ---                             ┆ --- ┆ ---           ┆ ---              ┆ ---       ┆ ---      │
│ str                             ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str] ┆ f64      │
╞═════════════════════════════════╪═════╪═══════════════╪══════════════════╪═══════════╪══════════╡
│ AIR TRANSPORT SERVICES GROUP, … ┆ 79  ┆ ["00922R105"] ┆ ["US00922R1059"] ┆ [null]    ┆ 100.0    │
└─────────────────────────────────┴─────┴───────────────┴──────────────────┴───────────┴──────────┘

Normalized -- NO INTRA (n=79)

shape: (1, 6)
┌─────────────────────────────────┬─────┬───────────────┬──────────────────┬───────────┬──────────┐
│ issuer_name                     ┆ len ┆ cusip         ┆ isin             ┆ figi      ┆ % of obs │
│ ---                             ┆ --- ┆ ---           ┆ ---              ┆ ---       ┆ ---      │
│ str                             ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str] ┆ f64      │
╞═════════════════════════════════╪═════╪═══════════════╪══════════════════╪═══════════╪══════════╡
│ AIR TRANSPORT SERVICES GROUP, … ┆ 79  ┆ ["00922R105"] ┆ ["US00922R1059"] ┆ [null]    ┆ 100.0    │
└─────────────────────────────────┴─────┴───────────────┴──────────────────┴───────────┴──────────┘

Consolidation Fodder:

                           issuer_name  count
0   AIR TRANSPORT SERVICES GROUP, INC.     48
1   Air Transport Services Group, Inc.     30
2  AIR TRANSPORT\nSERVICES GROUP, INC.      1

************************************************************ BANK OF AMERICA ************************************************************
Un-Normalized (n=1901)

shape: (11, 6)
┌────────────────────┬─────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name        ┆ len ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---                ┆ --- ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str                ┆ u32 ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞════════════════════╪═════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ BANK OF AMERICA    ┆ 961 ┆ ["060505104",     ┆ [null,            ┆ [null,            ┆ 50.552341 │
│ CORPORATION        ┆     ┆ "060505583", … "… ┆ "US0605051046", … ┆ "BBG000BCTLF6"]   ┆           │
│                    ┆     ┆                   ┆ "US06…            ┆                   ┆           │
│ Bank of America    ┆ 733 ┆ ["060505625",     ┆ ["US0605055914",  ┆ [null]            ┆ 38.558653 │
│ Corporation        ┆     ┆ "060505583", … "… ┆ "US0605056334…    ┆                   ┆           │
│ BANK OF AMERICA    ┆ 112 ┆ ["060505195",     ┆ [null]            ┆ [null]            ┆ 5.891636  │
│                    ┆     ┆ "060505104", nul… ┆                   ┆                   ┆           │
│ Bank of America    ┆ 35  ┆ ["000060505",     ┆ [null,            ┆ [null]            ┆ 1.841136  │
│                    ┆     ┆ null, "060505104… ┆ "US0605051046"]   ┆                   ┆           │
│ Bank of America    ┆ 25  ┆ ["060505104"]     ┆ [null,            ┆ [null,            ┆ 1.315097  │
│ Corp               ┆     ┆                   ┆ "US0605051046"]   ┆ "BBG000BCTLF6"]   ┆           │
│ …                  ┆ …   ┆ …                 ┆ …                 ┆ …                 ┆ …         │
│ BANK OF AMERICA    ┆ 6   ┆ ["060505104"]     ┆ [null,            ┆ [null]            ┆ 0.315623  │
│ CORP               ┆     ┆                   ┆ "US0605051046"]   ┆                   ┆           │
│ Bank of America    ┆ 5   ┆ ["605051040",     ┆ ["US0605051046",  ┆ [null]            ┆ 0.263019  │
│ Corp.              ┆     ┆ "060505104"]      ┆ null]             ┆                   ┆           │
│ Bank Of America    ┆ 3   ┆ ["060505104"]     ┆ ["US0605051046"]  ┆ [null]            ┆ 0.157812  │
│ Corp.              ┆     ┆                   ┆                   ┆                   ┆           │
│ Bank of America    ┆ 2   ┆ ["060505104"]     ┆ ["US0605051046"]  ┆ [null]            ┆ 0.105208  │
│ Corporation (B…    ┆     ┆                   ┆                   ┆                   ┆           │
│ BANK OF AMERICA    ┆ 1   ┆ ["060505104"]     ┆ ["US0605051046"]  ┆ [null]            ┆ 0.052604  │
└────────────────────┴─────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=1904)

shape: (1, 6)
┌─────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name     ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---             ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str             ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ BANK OF AMERICA ┆ 1904 ┆ ["060505104"] ┆ ["US0605051046"] ┆ ["BBG000BCTLF6"] ┆ 100.0    │
│ CORPORATION     ┆      ┆               ┆                  ┆                  ┆          │
└─────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=1904)

shape: (1, 6)
┌─────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name     ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---             ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str             ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ BANK OF AMERICA ┆ 1904 ┆ ["060505104"] ┆ ["US0605051046"] ┆ ["BBG000BCTLF6"] ┆ 100.0    │
│ CORPORATION     ┆      ┆               ┆                  ┆                  ┆          │
└─────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

                          issuer_name  count
0         BANK OF AMERICA CORPORATION    961
1         Bank of America Corporation    733
2                     BANK OF AMERICA    112
3                     Bank of America     35
4                Bank of America Corp     25
5        BANK OF AMERICA\nCORPORATION     18
6                BANK OF AMERICA CORP      6
7               Bank of America Corp.      5
8               Bank Of America Corp.      3
9   Bank of America Corporation (BAC)      2
10              BANK AMERICA CORP COM      1
11                                BAC      1
12                             BMLPRH      1
13                   BANK OF AMERICA       1

************************************************************ BLACKROCK ************************************************************
Un-Normalized (n=1466)

shape: (38, 6)
┌────────────────────┬─────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name        ┆ len ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---                ┆ --- ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str                ┆ u32 ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞════════════════════╪═════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ BLACKROCK, INC.    ┆ 696 ┆ [null,            ┆ [null,            ┆ [null]            ┆ 47.476126 │
│                    ┆     ┆ "09247X101"]      ┆ "US09247X1019"]   ┆                   ┆           │
│ BlackRock, Inc.    ┆ 456 ┆ ["09247X101",     ┆ [null,            ┆ [null,            ┆ 31.105048 │
│                    ┆     ┆ "09247K101", nul… ┆ "US09247X1019"]   ┆ "BBG000C2PW58"]   ┆           │
│ BLACKROCK INC      ┆ 46  ┆ ["09247X101"]     ┆ [null]            ┆ [null]            ┆ 3.13779   │
│ BlackRock Funds    ┆ 44  ┆ ["092501105",     ┆ [null]            ┆ [null]            ┆ 3.001364  │
│                    ┆     ┆ "09260E105", … "… ┆                   ┆                   ┆           │
│ Blackrock          ┆ 22  ┆ ["09247X101"]     ┆ ["US09247X1019"]  ┆ [null]            ┆ 1.500682  │
│ …                  ┆ …   ┆ …                 ┆ …                 ┆ …                 ┆ …         │
│ BlackRock Income   ┆ 3   ┆ ["09247F209"]     ┆ ["US09247F2092"]  ┆ ["BBG000BDC193"]  ┆ 0.204638  │
│ Trust              ┆     ┆                   ┆                   ┆                   ┆           │
│ BLACKROCK, INC     ┆ 2   ┆ ["09247X101"]     ┆ [null]            ┆ [null]            ┆ 0.136426  │
│ BlackRock Inc      ┆ 1   ┆ ["09247X101"]     ┆ [null]            ┆ [null]            ┆ 0.068213  │
│ BlackRock US Core  ┆ 1   ┆ ["97MSCRP36"]     ┆ [null]            ┆ [null]            ┆ 0.068213  │
│ Property Fun…      ┆     ┆                   ┆                   ┆                   ┆           │
│ BLACKROCK          ┆ 1   ┆ ["09247X101"]     ┆ ["US09247X1019"]  ┆ [null]            ┆ 0.068213  │
└────────────────────┴─────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=1467)

shape: (24, 6)
┌─────────────────────┬──────┬───────────────┬────────────────────┬────────────────────┬───────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin               ┆ figi               ┆ % of obs  │
│ ---                 ┆ ---  ┆ ---           ┆ ---                ┆ ---                ┆ ---       │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]          ┆ list[str]          ┆ f64       │
╞═════════════════════╪══════╪═══════════════╪════════════════════╪════════════════════╪═══════════╡
│ BLACKROCK, INC.     ┆ 1243 ┆ ["09247X101", ┆ ["US09247X1019",   ┆ [null,             ┆ 84.730743 │
│                     ┆      ┆ null]         ┆ null]              ┆ "BBG000C2PW58"]    ┆           │
│ BLACKROCK FUNDS     ┆ 63   ┆ ["09260E105"] ┆ ["US09255R2022"]   ┆ ["BBG000BDC193"]   ┆ 4.294479  │
│ BLACKROCK ESG       ┆ 16   ┆ ["09262F100"] ┆ ["US09262F1003"]   ┆ [null]             ┆ 1.090661  │
│ CAPITAL ALLOCATI…   ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK VARIABLE  ┆ 16   ┆ ["09258X107"] ┆ ["US09258X1072"]   ┆ [null]             ┆ 1.090661  │
│ SERIES FUND…        ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK TCP       ┆ 15   ┆ ["09259E108"] ┆ ["US09259E1082"]   ┆ [null]             ┆ 1.022495  │
│ CAPITAL CORP.       ┆      ┆               ┆                    ┆                    ┆           │
│ …                   ┆ …    ┆ …             ┆ …                  ┆ …                  ┆ …         │
│ BLACKROCK MUNICIPAL ┆ 4    ┆ ["09249N101"] ┆ ["US09249N1019"]   ┆ ["BBG000NWS486"]   ┆ 0.272665  │
│ INCOME TRU…         ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK NY MUNI   ┆ 4    ┆ ["09253A813"] ┆ [null]             ┆ [null]             ┆ 0.272665  │
│ OPP FUNDS A1        ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK MUNICIPAL ┆ 3    ┆ ["09248F109"] ┆ ["US09248F1093"]   ┆ [null]             ┆ 0.204499  │
│ INCOME TRU…         ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK CREDIT    ┆ 3    ┆ ["092508100"] ┆ ["US0925081004"]   ┆ ["BBG000QHYF20"]   ┆ 0.204499  │
│ ALLOCATION, I…      ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK US CORE   ┆ 1    ┆ ["97MSCRP36"] ┆ [null]             ┆ [null]             ┆ 0.068166  │
│ PROPERTY FUN…       ┆      ┆               ┆                    ┆                    ┆           │
└─────────────────────┴──────┴───────────────┴────────────────────┴────────────────────┴───────────┘

Normalized -- NO INTRA (n=1468)

shape: (24, 6)
┌─────────────────────┬──────┬───────────────┬────────────────────┬────────────────────┬───────────┐
│ issuer_name         ┆ len  ┆ cusip         ┆ isin               ┆ figi               ┆ % of obs  │
│ ---                 ┆ ---  ┆ ---           ┆ ---                ┆ ---                ┆ ---       │
│ str                 ┆ u32  ┆ list[str]     ┆ list[str]          ┆ list[str]          ┆ f64       │
╞═════════════════════╪══════╪═══════════════╪════════════════════╪════════════════════╪═══════════╡
│ BLACKROCK, INC.     ┆ 1244 ┆ ["717081103", ┆ ["US09247X1019",   ┆ ["BBG000C2PW58",   ┆ 84.741144 │
│                     ┆      ┆ "09247X101"]  ┆ "US7170811035…     ┆ "BBG000BR2B91…     ┆           │
│ BLACKROCK FUNDS     ┆ 63   ┆ ["09260E105"] ┆ ["US09255R2022"]   ┆ ["BBG000BDC193"]   ┆ 4.291553  │
│ BLACKROCK VARIABLE  ┆ 16   ┆ ["09258X107"] ┆ ["US09258X1072"]   ┆ [null]             ┆ 1.089918  │
│ SERIES FUND…        ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK ESG       ┆ 16   ┆ ["09262F100"] ┆ ["US09262F1003"]   ┆ [null]             ┆ 1.089918  │
│ CAPITAL ALLOCATI…   ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK TCP       ┆ 15   ┆ ["09259E108"] ┆ ["US09259E1082"]   ┆ [null]             ┆ 1.021798  │
│ CAPITAL CORP.       ┆      ┆               ┆                    ┆                    ┆           │
│ …                   ┆ …    ┆ …             ┆ …                  ┆ …                  ┆ …         │
│ BLACKROCK MUNICIPAL ┆ 4    ┆ ["09249N101"] ┆ ["US09249N1019"]   ┆ ["BBG000NWS486"]   ┆ 0.27248   │
│ INCOME TRU…         ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK FLOATING  ┆ 4    ┆ ["09260B762"] ┆ [null]             ┆ [null]             ┆ 0.27248   │
│ RATE INC PO…        ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK MUNICIPAL ┆ 3    ┆ ["09248F109"] ┆ ["US09248F1093"]   ┆ [null]             ┆ 0.20436   │
│ INCOME TRU…         ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK CREDIT    ┆ 3    ┆ ["092508100"] ┆ ["US0925081004"]   ┆ ["BBG000QHYF20"]   ┆ 0.20436   │
│ ALLOCATION, I…      ┆      ┆               ┆                    ┆                    ┆           │
│ BLACKROCK US CORE   ┆ 1    ┆ ["97MSCRP36"] ┆ [null]             ┆ [null]             ┆ 0.06812   │
│ PROPERTY FUN…       ┆      ┆               ┆                    ┆                    ┆           │
└─────────────────────┴──────┴───────────────┴────────────────────┴────────────────────┴───────────┘

Consolidation Fodder:

                                 issuer_name  count
0                            BLACKROCK, INC.    696
1                            BlackRock, Inc.    456
2                              BLACKROCK INC     46
3                            BlackRock Funds     44
4                                  Blackrock     22
5           BLACKROCK ESG CAPITAL ALLOCATION     16
6   BlackRock Variable Series Funds II, Inc.     16
7                BLACKROCK TCP CAPITAL CORP.     15
8         BLACKROCK CAPITAL ALLOCATION TRUST     12
9                   BLACKROCK MUNIYIELD FUND      9
10                 BLACKROCK HEALTH SCIENCES      8
11          BLACKROCK DEBT STRATEGIES FD INC      8
12      BLACKROCK FLOATING RATE INCOME TRUST      8
13       BLACKROCK GLOBAL ENERGY & RESOURCES      8
14                           Blackrock, Inc.      8
15                            Blackrock Inc.      7
16                BLACKROCK MUNICIPAL TARGET      6
17          BLACKROCK MUNIYIELD INSURED FUND      6
18          BLACKROCK MUNIHOLDINGS FUND, INC      6
19          BLACKROCK MUNIVEST FUND II, INC.      6
20               BLACKROCK MUNIVEST FUND INC      6
21          BLACKROCK MUNIYIELD QUALITY FUND      6
22    BlackRock Taxable Municipal Bond Trust      6
23      BLACKROCK MUNI INTER DURATION FD INC      4
24             BlackRock Munivest Fund, Inc.      4
25       BlackRock Municipal Income Trust II      4
26            Blackrock High Yield Bond Port      4
27            Blackrock NY Muni Opp Funds A1      4
28          Blackrock Floating Rate Inc Port      4
29          Blackrock High Yield Bond Port K      4
30                                 BlackRock      3
31                    BlackRock Income Trust      3
32         BlackRock Credit Allocation, Inc.      3
33          BLACKROCK MUNICIPAL INCOME TRUST      3
34                            BLACKROCK, INC      2
35                             BlackRock Inc      1
36                                       BLK      1
37     BlackRock US Core Property Fund, L.P.      1
38                                BLACKROCK       1

************************************************************ SUNCOR ************************************************************
Un-Normalized (n=265)

shape: (6, 6)
┌────────────────────┬─────┬───────────────────┬───────────────────┬───────────────────┬───────────┐
│ issuer_name        ┆ len ┆ cusip             ┆ isin              ┆ figi              ┆ % of obs  │
│ ---                ┆ --- ┆ ---               ┆ ---               ┆ ---               ┆ ---       │
│ str                ┆ u32 ┆ list[str]         ┆ list[str]         ┆ list[str]         ┆ f64       │
╞════════════════════╪═════╪═══════════════════╪═══════════════════╪═══════════════════╪═══════════╡
│ SUNCOR ENERGY INC. ┆ 148 ┆ [null,            ┆ [null,            ┆ [null]            ┆ 55.849057 │
│                    ┆     ┆ "867224107"]      ┆ "CA8672241079"]   ┆                   ┆           │
│ Suncor Energy Inc. ┆ 65  ┆ ["867229106",     ┆ ["CA8672241079",  ┆ [null]            ┆ 24.528302 │
│                    ┆     ┆ null, "867224107… ┆ null]             ┆                   ┆           │
│ SUNCOR ENERGY INC  ┆ 36  ┆ ["867224107"]     ┆ ["CA8672241079",  ┆ ["BBG000BRK7L6",  ┆ 13.584906 │
│                    ┆     ┆                   ┆ null]             ┆ null]             ┆           │
│ SUNCORP GROUP LTD  ┆ 12  ┆ ["Q8802S103",     ┆ ["AU000000SUN6"]  ┆ [null]            ┆ 4.528302  │
│                    ┆     ┆ "Q88040110"]      ┆                   ┆                   ┆           │
│ Suncor Energy,     ┆ 2   ┆ ["867224107"]     ┆ ["CA8672241079",  ┆ [null]            ┆ 0.754717  │
│ Inc.               ┆     ┆                   ┆ null]             ┆                   ┆           │
│ Suncor Energy Inc  ┆ 2   ┆ ["867224107"]     ┆ ["CA8672241079",  ┆ [null]            ┆ 0.754717  │
│                    ┆     ┆                   ┆ null]             ┆                   ┆           │
└────────────────────┴─────┴───────────────────┴───────────────────┴───────────────────┴───────────┘

Normalized -- INTRA (n=265)

shape: (2, 6)
┌────────────────────┬─────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name        ┆ len ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                ┆ --- ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞════════════════════╪═════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ SUNCOR ENERGY INC. ┆ 253 ┆ ["867224107"] ┆ ["CA8672241079"] ┆ ["BBG000BRK7L6"] ┆ 95.471698 │
│ SUNCORP GROUP LTD  ┆ 12  ┆ ["Q88040110"] ┆ ["AU000000SUN6"] ┆ [null]           ┆ 4.528302  │
└────────────────────┴─────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Normalized -- NO INTRA (n=265)

shape: (2, 6)
┌────────────────────┬─────┬───────────────┬──────────────────┬──────────────────┬───────────┐
│ issuer_name        ┆ len ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs  │
│ ---                ┆ --- ┆ ---           ┆ ---              ┆ ---              ┆ ---       │
│ str                ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64       │
╞════════════════════╪═════╪═══════════════╪══════════════════╪══════════════════╪═══════════╡
│ SUNCOR ENERGY INC. ┆ 253 ┆ ["867224107"] ┆ ["CA8672241079"] ┆ ["BBG000BRK7L6"] ┆ 95.471698 │
│ SUNCORP GROUP LTD  ┆ 12  ┆ ["Q88040110"] ┆ ["AU000000SUN6"] ┆ [null]           ┆ 4.528302  │
└────────────────────┴─────┴───────────────┴──────────────────┴──────────────────┴───────────┘

Consolidation Fodder:

           issuer_name  count
0   SUNCOR ENERGY INC.    148
1   Suncor Energy Inc.     65
2    SUNCOR ENERGY INC     36
3    SUNCORP GROUP LTD     12
4  Suncor Energy, Inc.      2
5    Suncor Energy Inc      2

************************************************************ CONOCO ************************************************************
Un-Normalized (n=1251)

shape: (7, 6)
┌────────────────────┬─────┬────────────────┬──────────────────┬─────────────────┬───────────┐
│ issuer_name        ┆ len ┆ cusip          ┆ isin             ┆ figi            ┆ % of obs  │
│ ---                ┆ --- ┆ ---            ┆ ---              ┆ ---             ┆ ---       │
│ str                ┆ u32 ┆ list[str]      ┆ list[str]        ┆ list[str]       ┆ f64       │
╞════════════════════╪═════╪════════════════╪══════════════════╪═════════════════╪═══════════╡
│ CONOCOPHILLIPS     ┆ 682 ┆ [null,         ┆ [null,           ┆ [null,          ┆ 54.516387 │
│                    ┆     ┆ "20825C104", … ┆ "US20825C1045"]  ┆ "BBG000BQQH30"] ┆           │
│                    ┆     ┆ "20852C1…      ┆                  ┆                 ┆           │
│ ConocoPhillips     ┆ 509 ┆ [null,         ┆ ["US20825C1045", ┆ [null,          ┆ 40.68745  │
│                    ┆     ┆ "20825C104"]   ┆ null]            ┆ "BBG000BQQH30"] ┆           │
│ CONOCO PHILLIPS    ┆ 48  ┆ ["20825C104"]  ┆ [null]           ┆ [null]          ┆ 3.83693   │
│ Conoco Phillips    ┆ 6   ┆ [null,         ┆ ["US20825C1045", ┆ [null]          ┆ 0.479616  │
│                    ┆     ┆ "20825C104"]   ┆ null]            ┆                 ┆           │
│ Conocophillips     ┆ 4   ┆ ["20825C104"]  ┆ [null]           ┆ [null]          ┆ 0.319744  │
│ CONOCO PHILLIPS    ┆ 1   ┆ ["20825C104"]  ┆ ["US20825C1045"] ┆ [null]          ┆ 0.079936  │
│ CONOCOPHILLIPS COM ┆ 1   ┆ ["20825C104"]  ┆ ["US20825C1045"] ┆ [null]          ┆ 0.079936  │
└────────────────────┴─────┴────────────────┴──────────────────┴─────────────────┴───────────┘

Normalized -- INTRA (n=1252)

shape: (1, 6)
┌────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name    ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---            ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str            ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ CONOCOPHILLIPS ┆ 1252 ┆ ["20825C104"] ┆ ["US20825C1045"] ┆ ["BBG000BQQH30"] ┆ 100.0    │
└────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=1252)

shape: (1, 6)
┌────────────────┬──────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name    ┆ len  ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---            ┆ ---  ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str            ┆ u32  ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞════════════════╪══════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ CONOCOPHILLIPS ┆ 1252 ┆ ["20825C104"] ┆ ["US20825C1045"] ┆ ["BBG000BQQH30"] ┆ 100.0    │
└────────────────┴──────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

          issuer_name  count
0      CONOCOPHILLIPS    682
1      ConocoPhillips    509
2     CONOCO PHILLIPS     48
3     Conoco Phillips      6
4      Conocophillips      4
5  CONOCOPHILLIPS COM      1
6                 COP      1
7    CONOCO PHILLIPS       1

************************************************************ PHILLIPS 66 ************************************************************
Un-Normalized (n=719)

shape: (3, 6)
┌───────────────────┬─────┬───────────────┬──────────────────┬─────────────────────────┬───────────┐
│ issuer_name       ┆ len ┆ cusip         ┆ isin             ┆ figi                    ┆ % of obs  │
│ ---               ┆ --- ┆ ---           ┆ ---              ┆ ---                     ┆ ---       │
│ str               ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str]               ┆ f64       │
╞═══════════════════╪═════╪═══════════════╪══════════════════╪═════════════════════════╪═══════════╡
│ PHILLIPS 66       ┆ 420 ┆ ["718546104", ┆ ["US7185461040", ┆ [null, "BBG00286S4N9"]  ┆ 58.414465 │
│                   ┆     ┆ null]         ┆ null]            ┆                         ┆           │
│ Phillips 66       ┆ 298 ┆ [null,        ┆ [null,           ┆ [null]                  ┆ 41.446453 │
│                   ┆     ┆ "718546104"]  ┆ "US7185461040"]  ┆                         ┆           │
│ Phillips 66 (PSX) ┆ 1   ┆ ["718546104"] ┆ ["US7185461040"] ┆ [null]                  ┆ 0.139082  │
└───────────────────┴─────┴───────────────┴──────────────────┴─────────────────────────┴───────────┘

Normalized -- INTRA (n=722)

shape: (1, 6)
┌─────────────┬─────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name ┆ len ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---         ┆ --- ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str         ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════╪═════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ PHILLIPS 66 ┆ 722 ┆ ["718546104"] ┆ ["US7185461040"] ┆ ["BBG00286S4N9"] ┆ 100.0    │
└─────────────┴─────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Normalized -- NO INTRA (n=722)

shape: (1, 6)
┌─────────────┬─────┬───────────────┬──────────────────┬──────────────────┬──────────┐
│ issuer_name ┆ len ┆ cusip         ┆ isin             ┆ figi             ┆ % of obs │
│ ---         ┆ --- ┆ ---           ┆ ---              ┆ ---              ┆ ---      │
│ str         ┆ u32 ┆ list[str]     ┆ list[str]        ┆ list[str]        ┆ f64      │
╞═════════════╪═════╪═══════════════╪══════════════════╪══════════════════╪══════════╡
│ PHILLIPS 66 ┆ 722 ┆ ["718546104"] ┆ ["US7185461040"] ┆ ["BBG00286S4N9"] ┆ 100.0    │
└─────────────┴─────┴───────────────┴──────────────────┴──────────────────┴──────────┘

Consolidation Fodder:

         issuer_name  count
0        PHILLIPS 66    420
1        Phillips 66    298
2        PHILLIPS 73      1
3        Phillips 68      1
4         Phillps 66      1
5  Phillips 66 (PSX)      1

In [50]:
votes.filter(normed5["issuer_name"] != votes["issuer_name"]).select(COMPANY_COLS)

shape: (286_424, 4)
┌─────────────────────────────────┬───────────┬──────────────┬──────┐
│ issuer_name                     ┆ cusip     ┆ isin         ┆ figi │
│ ---                             ┆ ---       ┆ ---          ┆ ---  │
│ str                             ┆ str       ┆ str          ┆ str  │
╞═════════════════════════════════╪═══════════╪══════════════╪══════╡
│ AMPHENOL CORPORATION            ┆ 032095101 ┆ US0320951017 ┆ null │
│ THE SHERWIN-WILLIAMS COMPANY    ┆ 824348106 ┆ US8243481061 ┆ null │
│ THE SHERWIN-WILLIAMS COMPANY    ┆ 824348106 ┆ US8243481061 ┆ null │
│ AMPHENOL CORPORATION            ┆ 032095101 ┆ US0320951017 ┆ null │
│ Toast, Inc.                     ┆ 888787108 ┆ null         ┆ null │
│ …                               ┆ …         ┆ …            ┆ …    │
│ INTEL CORPORATION               ┆ 458140100 ┆ null         ┆ null │
│ THE SHERWIN-WILLIAMS COMPANY    ┆ 824348106 ┆ null         ┆ null │
│ THE KROGER CO.                  ┆ 501044101 ┆ null         ┆ null │
│ CHOICE HOTELS INTERNATIONAL, I… ┆ 169905106 ┆ null         ┆ null │
│ HUBBELL INCORPORATED            ┆ 443510607 ┆ null         ┆ null │
└─────────────────────────────────┴───────────┴──────────────┴──────┘

In [51]:
normed5.filter(normed5["issuer_name"] != votes["issuer_name"]).select(COMPANY_COLS)

shape: (286_424, 4)
┌─────────────────────────────────┬───────────┬──────────────┬──────────────┐
│ issuer_name                     ┆ cusip     ┆ isin         ┆ figi         │
│ ---                             ┆ ---       ┆ ---          ┆ ---          │
│ str                             ┆ str       ┆ str          ┆ str          │
╞═════════════════════════════════╪═══════════╪══════════════╪══════════════╡
│ Amphenol Corporation            ┆ 032095101 ┆ US0320951017 ┆ null         │
│ The Sherwin-Williams Company    ┆ 824348106 ┆ US8243481061 ┆ BBG000BSXQV7 │
│ The Sherwin-Williams Company    ┆ 824348106 ┆ US8243481061 ┆ BBG000BSXQV7 │
│ Amphenol Corporation            ┆ 032095101 ┆ US0320951017 ┆ null         │
│ TOAST, INC.                     ┆ 888787108 ┆ US8887871080 ┆ null         │
│ …                               ┆ …         ┆ …            ┆ …            │
│ Intel Corporation               ┆ 458140100 ┆ US4581401001 ┆ BBG000C0G1D1 │
│ The Sherwin-Williams Company    ┆ 824348106 ┆ US8243481061 ┆ BBG000BSXQV7 │
│ The Kroger Co.                  ┆ 501044101 ┆ US5010441013 ┆ BBG000BMY992 │
│ Choice Hotels International, I… ┆ 169905106 ┆ US1699051066 ┆ null         │
│ Hubbell Incorporated            ┆ 443510607 ┆ US4435106079 ┆ null         │
└─────────────────────────────────┴───────────┴──────────────┴──────────────┘

In [42]:
normed5["cusip"].n_unique()

7545

In [14]:
votes.select(COMPANY_COLS)

shape: (778_944, 4)
┌─────────────────────────────────┬───────────┬──────────────┬──────┐
│ issuer_name                     ┆ cusip     ┆ isin         ┆ figi │
│ ---                             ┆ ---       ┆ ---          ┆ ---  │
│ str                             ┆ str       ┆ str          ┆ str  │
╞═════════════════════════════════╪═══════════╪══════════════╪══════╡
│ CANADIAN PACIFIC KANSAS CITY L… ┆ 13646K108 ┆ CA13646K1084 ┆ null │
│ AAON, INC.                      ┆ 000360206 ┆ US0003602069 ┆ null │
│ AMAZON.COM, INC.                ┆ 023135106 ┆ US0231351067 ┆ null │
│ AMPHENOL CORPORATION            ┆ 032095101 ┆ US0320951017 ┆ null │
│ MICROSOFT CORPORATION           ┆ 594918104 ┆ US5949181045 ┆ null │
│ …                               ┆ …         ┆ …            ┆ …    │
│ VERALTO CORPORATION             ┆ 92338C103 ┆ null         ┆ null │
│ ANALOG DEVICES, INC.            ┆ 032654105 ┆ null         ┆ null │
│ EDITAS MEDICINE, INC.           ┆ 28106W103 ┆ null         ┆ null │
│ LOCKHEED MARTIN CORPORATION     ┆ 539830109 ┆ null         ┆ null │
│ INTUIT INC.                     ┆ 461202103 ┆ null         ┆ null │
└─────────────────────────────────┴───────────┴──────────────┴──────┘

In [6]:
normed5.select(pl.all().is_null().sum())

shape: (1, 4)
┌─────────────┬───────┬──────┬────────┐
│ issuer_name ┆ cusip ┆ isin ┆ figi   │
│ ---         ┆ ---   ┆ ---  ┆ ---    │
│ u32         ┆ u32   ┆ u32  ┆ u32    │
╞═════════════╪═══════╪══════╪════════╡
│ 0           ┆ 11703 ┆ 8315 ┆ 514694 │
└─────────────┴───────┴──────┴────────┘

In [ ]:
normed4 = normalize_subset4(
    votes,
    connected_subgraphs_postprocessor=partition_companies_graph_where_necessary,
    cols_to_normalize=["issuer_name", "cusip", "isin", "figi"],
)

In [ ]:
pp3 = partial(
    partition_companies_graph_where_necessary,
    # verbose=True,
)


normed3 = normalize_subset3(
    votes,
    connected_subgraphs_postprocessor=pp3,
    cols_to_normalize=["issuer_name", "cusip", "isin", "figi"],
)

In [ ]:
normed3

In [ ]:
normed3.select(COMPANY_COLS.is_null()).sum().sum_horizontal()

In [ ]:
votes.select(COMPANY_COLS.is_null().sum()).sum_horizontal().item()

## Check that removed nodes are repopulated

In [5]:
G = tuple(
    unconsolidated_df_to_subgraphs(
        votes.select(COMPANY_COLS), connected_subgraphs_postprocessor=None
    )
)

In [6]:
sb = extract_specific_name_subgraph(G, "STARBUCKS")

In [ ]:
len(sb.nodes)

In [ ]:
partitioned = partition_companies_graph_where_necessary(sb, verbose=True)

In [ ]:
print(len(partitioned.nodes))
draw_graph(partitioned, 5)

In [10]:
G = tuple(
    unconsolidated_df_to_subgraphs(
        votes.select(COMPANY_COLS), connected_subgraphs_postprocessor=None
    )
)

In [ ]:
list(G[0].nodes.data())[0]

In [ ]:
partition_via_louvain(G[4], verbose=True)
# draw_graph(G[4], 5)

In [ ]:
from record_consolidation.df_consolidations import normalize_subset

pp = partial(
    partition_companies_graph_where_necessary,
    # verbose=True,
)

atomic = extract_normalized_atomic(
    votes.select(COMPANY_COLS), connected_subgraphs_postprocessor=pp
)
normed = normalize_subset(
    votes,
    connected_subgraphs_postprocessor=pp,
    cols_to_normalize=["issuer_name", "cusip", "isin", "figi"],
)

In [ ]:
votes.select(pl.all().is_null().sum())

In [ ]:
normed.select(
    pl.all().is_null().sum()
)  # .filter(pl.col("issuer_name") == pl.lit("AAON, INC."))

In [ ]:
atomic.select(pl.all().is_null().sum())

# ISSUE

## Problem
Nulls are being propagated in the 

## Diagnosis
(Best guess): When nodes are cut wholesale out of the graph - rather than even just having all edges cut - they don't end up in the canonical mapping, and so become null...

In [ ]:
removed_issuers = (
    votes.filter(normed["issuer_name"].is_null())
    .filter(pl.col("issuer_name").is_not_null())["issuer_name"]
    .unique()
    .to_list()
)
removed_issuers

In [ ]:
emerson = extract_specific_name_subgraph(G, "emerson electric co.")
draw_graph(emerson, 5)

In [ ]:
emerson_partitioned = partition_companies_graph_where_necessary(
    emerson, verbose=True, verbose_within_partitioning_algs=True
)

In [ ]:
for issuer in removed_issuers:
    try:
        draw_graph(extract_specific_name_subgraph(G, issuer), size=5)
    except:
        print(issuer)

In [ ]:
votes.select(COMPANY_COLS).filter(
    pl.col("issuer_name") == pl.lit("Northrup Grumman Corporation ")
)

In [ ]:
removed_issuers

In [ ]:
atomized_subset = extract_normalized_atomic(
    votes.select(COMPANY_COLS), connected_subgraphs_postprocessor=pp
)

In [ ]:
s = "walmart"
atomized_subset.filter(pl.col("issuer_name").str.contains(f"(?i){s}"))

In [ ]:
atomized_subset.filter(pl.col("issuer_name").is_in(removed_issuers))

In [26]:
normed_comps = normed.select(COMPANY_COLS)

In [ ]:
normed_comps.filter(pl.col("issuer_name").is_null())

In [ ]:
normed3

In [ ]:
votes

In [ ]:
null_issuers = normed_comps["issuer_name"].is_null()


display(votes.select(COMPANY_COLS).filter(null_issuers).head())  # .sort(
#     pl.all()
# ).unique(maintain_order=True).to_pandas()
display(normed_comps.filter(null_issuers).head())

In [ ]:
atomized_subset.filter(cusip="291011104")

In [ ]:
normed.select(pl.all().is_null().sum())